# Text Search in PostgreSQL

<a id='task' /> </a>

## Task at Hand

In this exercise we will perform search over the Booklines table that we created in the practice. This exercise assumes that you already created and populated Boolines table and granted `dsa_ro_user` access to this table.

### Step 0: Connect to the database as dsa_ro_user

In [ ]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_student

**Activity 1:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love or hate, using to_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

**Activity 2:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love and hate, using to_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

**Activity 3:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using to_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

**Activity 4:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- test file, using plainto_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

<span style="background-color:yellow">_Question:_ what is the effect of the above search? Click here and type your answer.</span>

This plainto_tsquery search for 'test file' is finding lines with both 'test' and 'file'.

**Activity 5:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- The equivalent query from Activity 4 using to_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

**Activity 6:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using plainto_tsquery()

In [ ]:
%%sql

SELECT 
FROM 
WHERE 
ORDER BY rank DESC LIMIT 10;

# Save your notebook, then `File > Close and Halt`