# Descriptive Statistics with `Python` Exercises

This is the second exercise for this course. 
Like the prior exercise, all of the concepts in the exercise will be familiar in the sense that it will mirror the concepts that we learned throughout the labs and practices. 

There could be multiple ways to solve a single answer, some more elegant than others. 
Revisit older notebooks for guidance, ask questions along the way, 
and **we encourage you to search the internet**. 
Chances are that someone has had the same/similar question / error to the one you have.

For this exercise, we will be working with the `NationalNames3.csv`. Again, this is in the `/dsa/data/all_datasets/baby-names/` directory.

**Exercise 1**: *Read in the `NationalNames3.csv` file and name it `df`.*

In [25]:
# Exercise 1 code goes here
# -------------------------
import pandas as pd
import numpy as np

with open('/dsa/data/all_datasets/baby-names/NationalNames3.csv') as file:
    df = pd.read_csv(file)

#df.columns
df.head()

   Id    Name  Year Gender  Count
0   1    Mary  1880      F   7065
1   5  Minnie  1880      F   1746
2   7     Ida  1880      F   1472
3   9  Bertha  1880      F   1320
4  15    Cora  1880      F   1045

We will start out simple.

**Exercise 2**: Find the mean of the `Count` column and how spread out is the data?

In [13]:
# Exercise 2 code goes here
# -------------------------
mean = np.mean(df.Count)
stdDev = np.std(df.Count)
print('Mean of Count: ', mean, '& ', 'standard deviation of Count: ', stdDev)

Mean of Count:  181.71348937247797 &  standard deviation of Count:  1535.8090963652944

**Exercise 3:** Find the minimum, first quartile, median, third quartile and max count of the name "Sam" in this dataset.

In [18]:
# Exercise 3 code goes here
# -------------------------
sams =  df[(df['Name'] == 'Sam')]

min = np.min(sams.Count)
q3, q1 = np.percentile(sams.Count, [75 ,25])
#iqr =  q3 - q1
median = np.median(sams.Count)
max = np.max(sams.Count)

print('Minimum: ', min, ' first quartile: ', q1, ' median: ', median, ' third quartile: ', q3, ' and max: ', max, ' of Sams in dataset.')

Minimum:  5  first quartile:  16.25  median:  482.0  third quartile:  1071.0  and max:  2505  of Sams in dataset.

**Challenge Exercise 1**: On average (use the median), are there more female names per year or male names? Remember, you will have to add the names per year per gender.

In [ ]:
# Challenge Exercise 1 code goes here
# -----------------------------------

**Exercise 4**: For the name "Margaret" over the years, 65% is equal or below what Count?

In [21]:
# Exercise 4 code goes here
# -------------------------
margarets =  df[(df['Name'] == 'Margaret')]
np.percentile(margarets.Count, 65)

3256.4000000000005

**Exercise 5**: Find the covariance and correlation between the Year and Count of the name "Addison".

In [24]:
# Exercise 5 code goes here
# -------------------------
addisons = df[(df['Name'] == 'Addison')]

corr = addisons.Year.corr(addisons.Count)
covar = addisons.Year.cov(addisons.Count)

print('Correlation between birth year and name Addison: ', corr, '\nCovariance between birth year and name Addison: ', covar)

Correlation between birth year and name Addison:  0.4259311439218686
Covariance between birth year and name Addison:  48944.459016393455

**Challenge Exercise 2**: Does accounting for Gender affect the strength of the linear relationship with regards to Exercise 5? Does one gender have a stronger linear relationship than the other?

In [34]:
# Challenge Exercise 2 code goes here
# -----------------------------------
femaleAddison =  df[(df['Gender'] == 'F') & (df['Name'] == 'Addison')]
maleAddison =  df[(df['Gender'] == 'M') & (df['Name'] == 'Addison')]

femaleCorr = femaleAddison.Year.corr(femaleAddison.Count)
femaleCovar = femaleAddison.Year.cov(femaleAddison.Count)

maleCorr = maleAddison.Year.corr(maleAddison.Count)
maleCovar = maleAddison.Year.cov(maleAddison.Count)
print('Females named Addison (', femaleCovar, ') have a stronger positive linear relationship than males (', maleCovar, ')', '\nand are more strongly correlated to birthyear than males (', femaleCorr, ' and ', maleCorr, 'respectively).', '\nThis matches the overall pattern of female names generally being more strongly correlated to birth year than male names.')

Females named Addison ( 35037.6217948718 ) have a stronger positive linear relationship than males ( 2939.9919217687066 )
and are more strongly correlated to birthyear than males ( 0.8318457439323934  and  0.6712916451351595 respectively).
This matches the overall pattern of female names generally being more strongly correlated to birth year than male names.

# Save your notebook, then `File > Close and Halt`