# Module 8 - Final Project 


**In this final project, you will demonstrate what you have learned in this class by applying a thorough data analysis to a data set of your choice.** 

As discussed on the discussion boards in the last two weeks, your data set should contain rich enough features and a moderate size so that you can apply the methods you have learned to derive some **insights** from the data. The ultimate goal of data analysis is to learn from the data so that we can form useful and actionable knowledge. 
 

Use this notebook for the analysis of your final project. **Your deliverables for the final project are:** 

 - **This notebook**: contains the **full** data science project life cycle as you have learned in the Intro class. 
   - Load your data, clean your data, include all the carpentry you need to put it into some shape for your later analysis. 
   - EDA: exploratory data analysis: this is where you do the univariate and multivariate analyses; visualize your data to understand the shape and associations in it. Plot densities, histograms, scatter plots, etc. Look for correlations, patterns, clusters, etc. 
   - Modeling: use any of the adequate techniques to see if you can model the affects of the variables on each other. You can try to reduce dimensionality, try to do regression, hypothesis testing, etc. to see how variables affect each other. 
   - **Insights:** the point of data analysis to derive **insights** from your data. What do you see? What did you learn from the data? Did it answer your initial question or did it verify your hypothesis? 
   - **Presenting results**: Communicate your results effectively using visualization principles you have learned. 
   
   
   
 - A **pdf** file that contains a few slides to summarize your results: similar to the data vis course, create a pdf document that can contain up to 3-4 slides (**no more**) to present your results. 
 
 
 
 - Upload your data set to this folder (under exercises folder). 
 
 ---
 
 
 **You should have ample explanation and comments for all your data analysis in this notebook.** Think of it as a LAB notebook: imagine that you are creating a lab notebook for others to follow and learn from your analysis. You should have enough details so that somebody can recreate your analysis by following your descriptions and explanations. 
 
 Have a markdown cell before each code cell explaining **what** you are doing and **why** you are doing it. Have comments in the code cell. Have a markdown cell **after** every code cell explaining what you just found out by running that code cell before. 
 
 ---

## 1. Loading, Cleaning, Displaying Data 

Explain your data set here; what is it about? What are the variables? What do you want to do with it? How are you going to clean it? etc.

This data was compiled from many sources in order to get cancer mortality and incidence data as well as demographic data:
    statecancerprofiles.cancer.gov
    seer.cancer.gov
    surveillance.cancer.gov
    data.world/uscensusbureau

In [2]:
## load your data, display with head(), clean, etc. 
# Read data from files
mortality_data <- read.csv("mortality_data.csv",header=TRUE)
incidence_data <- read.csv("incidence_data.csv",header=TRUE)
income_data <- read.csv("income_data.csv",header=TRUE)
insurance_data <- read.csv("insurance_data.csv",header=TRUE)
poverty_data <- read.csv("poverty_data.csv",header=TRUE)

In [3]:
# Show first few rows of each df
head(mortality_data)
head(incidence_data)
head(income_data)
head(insurance_data)
head(poverty_data)

  county                      fips  met_objective_of_45_5_1
1 United States                   0 No
2 Perry County, Kentucky      21193 No
3 Powell County, Kentucky     21197 No
4 North Slope Borough, Alaska  2185 No
5 Owsley County, Kentucky     21189 No
6 Union County, Florida       12125 No
  age_adjusted_death_rate lower_95_confidence_interval_for_death_rate
1 46                      45.9
2 125.6                   108.9
3 125.3                   100.2
4 124.9                   73
5 118.5                   83.1
6 113.5                   89.9
  upper_95_confidence_interval_for_death_rate average_deaths_per_year
1 46.1                                        157,376
2 144.2                                       43
3 155.1                                       18
4 194.7                                       5
5 165.5                                       8
6 141.4                                       19
  recent_trend_2 recent_5_year_trend_2_in_death_rates
1 falling        -2.4
2 stable         -0.6
3 stable         1.7
4 **             **
5 stable         2.2
6 falling        -2.2
  lower_95_confidence_interval_for_trend upper_95_confidence_interval_for_trend
1 -2.6                                   -2.2
2 -2.7                                   1.6
3 0                                      3.4
4 **                                     **
5 -0.4                                   4.8
6 -4.3                                   0

  county                        fips
1 US (SEER+NPCR)(1,10)             0
2 Autauga County, Alabama(6,10) 1001
3 Baldwin County, Alabama(6,10) 1003
4 Barbour County, Alabama(6,10) 1005
5 Bibb County, Alabama(6,10)    1007
6 Blount County, Alabama(6,10)  1009
  age_adjusted_incidence_rate_e_cases_per_100_000 lower_95_confidence_interval
1 62.4                                            62.3
2 74.9                                            65.1
3 66.9                                            62.4
4 74.6                                            61.8
5 86.4                                            71
6 69.7                                            61.2
  upper_95_confidence_interval average_annual_count recent_trend
1 62.6                         214614               falling
2 85.7                         43                   stable
3 71.7                         170                  stable
4 89.4                         25                   stable
5 104.2                        23                   stable
6 79                           51                   stable
  recent_5_year_trend_in_incidence_rates lower_95_confidence_interval_2
1 -2.5                                   -3
2 0.5                                    -14.9
3 3                                      -10.2
4 -6.4                                   -18.3
5 -4.5                                   -31.4
6 -13.6                                  -27.8
  upper_95_confidence_interval_2
1 -2
2 18.6
3 18.3
4 7.3
5 32.9
6 3.4

  StateFIPS CountyFIPS Median_Income Median_Income_White Median_Income_Black
1 2         13         61518         72639               31250
2 2         16         84306         97321               93750
3 2         20         78326         87235               50535
4 2         50         51012         92647               73661
5 2         60         79750         88000                  NA
6 2         68         81544         81029                  NA
  Median_Income_NativeAmerican Median_Income_Asian Median_Income_Hispanic
1 54750                         62679               51250
2 48750                         81250               77500
3 53935                         63757               53926
4 41594                        110625              160114
5 63333                            NA               25625
6 47500                            NA                  NA

  StateFIPS CountyFIPS M_With_Ins M_Without_Ins F_With_Ins F_Without_Ins
1 2         13            876      1317            566       540
2 2         16           2470       769           1707       564
3 2         20         120747     23245         122426     21393
4 2         50           6396      2708           6627      1774
5 2         60            419       124            349        67
6 2         68            822       253            674       250
  All_With_Ins All_Without_Ins
1   1442        1857
2   4177        1333
3 243173       44638
4  13023        4482
5    768         191
6   1496         503

  State StateFIPS CountyFIPS AreaName                           All_Poverty
1 AK    2         13         Aleutians East Borough, Alaska       553
2 AK    2         16         Aleutians West Census Area, Alaska   499
3 AK    2         20         Anchorage Municipality, Alaska     23914
4 AK    2         50         Bethel Census Area, Alaska          4364
5 AK    2         60         Bristol Bay Borough, Alaska           69
6 AK    2         68         Denali Borough, Alaska               254
  M_Poverty F_Poverty
1   334       219
2   273       226
3 10698     13216
4  2199      2165
5    33        36
6   139       115

In [4]:
# Show structure of each df
str(mortality)
str(incidence)
str(income_data)
str(insurance_data)
str(poverty_data)

'data.frame':	3141 obs. of  11 variables:
 $ county                                     : chr  "United States" "Perry County, Kentucky" "Powell County, Kentucky" "North Slope Borough, Alaska" ...
 $ fips                                       : int  0 21193 21197 2185 21189 12125 21147 21131 21159 21165 ...
 $ met_objective_of_45_5_1                    : chr  "No" "No" "No" "No" ...
 $ age_adjusted_death_rate                    : chr  "46" "125.6" "125.3" "124.9" ...
 $ lower_95_confidence_interval_for_death_rate: chr  "45.9" "108.9" "100.2" "73" ...
 $ upper_95_confidence_interval_for_death_rate: chr  "46.1" "144.2" "155.1" "194.7" ...
 $ average_deaths_per_year                    : chr  "157,376" "43" "18" "5" ...
 $ recent_trend_2                             : chr  "falling" "stable" "stable" "**" ...
 $ recent_5_year_trend_2_in_death_rates       : chr  "-2.4" "-0.6" "1.7" "**" ...
 $ lower_95_confidence_interval_for_trend     : chr  "-2.6" "-2.7" "0" "**" ...
 $ upper_95_confidence_interval_for_trend     : chr  "-2.2" "1.6" "3.4" "**" ...
'data.frame':	3141 obs. of  10 variables:
 $ county                                         : chr  "US (SEER+NPCR)(1,10)" "Autauga County, Alabama(6,10)" "Baldwin County, Alabama(6,10)" "Barbour County, Alabama(6,10)" ...
 $ fips                                           : int  0 1001 1003 1005 1007 1009 1011 1013 1015 1017 ...
 $ age_adjusted_incidence_rate_e_cases_per_100_000: chr  "62.4" "74.9" "66.9" "74.6" ...
 $ lower_95_confidence_interval                   : chr  "62.3" "65.1" "62.4" "61.8" ...
 $ upper_95_confidence_interval                   : chr  "62.6" "85.7" "71.7" "89.4" ...
 $ average_annual_count                           : chr  "214614" "43" "170" "25" ...
 $ recent_trend                                   : chr  "falling" "stable" "stable" "stable" ...
 $ recent_5_year_trend_in_incidence_rates         : chr  "-2.5" "0.5" "3" "-6.4" ...
 $ lower_95_confidence_interval_2                 : chr  "-3" "-14.9" "-10.2" "-18.3" ...
 $ upper_95_confidence_interval_2                 : chr  "-2" "18.6" "18.3" "7.3" ...
'data.frame':	3220 obs. of  8 variables:
 $ StateFIPS                   : int  2 2 2 2 2 2 2 2 2 2 ...
 $ CountyFIPS                  : int  13 16 20 50 60 68 70 90 100 105 ...
 $ Median_Income               : int  61518 84306 78326 51012 79750 81544 54173 71068 58750 52419 ...
 $ Median_Income_White         : int  72639 97321 87235 92647 88000 81029 81161 74242 67888 64000 ...
 $ Median_Income_Black         : int  31250 93750 50535 73661 NA NA NA 56353 NA NA ...
 $ Median_Income_NativeAmerican: int  54750 48750 53935 41594 63333 47500 42212 48333 45714 35625 ...
 $ Median_Income_Asian         : int  62679 81250 63757 110625 NA NA NA 56339 NA NA ...
 $ Median_Income_Hispanic      : int  51250 77500 53926 160114 25625 NA 86458 55284 NA 68500 ...
'data.frame':	3220 obs. of  8 variables:
 $ StateFIPS      : int  2 2 2 2 2 2 2 2 2 2 ...
 $ CountyFIPS     : int  13 16 20 50 60 68 70 90 100 105 ...
 $ M_With_Ins     : int  876 2470 120747 6396 419 822 1678 40605 960 798 ...
 $ M_Without_Ins  : int  1317 769 23245 2708 124 253 900 6957 422 328 ...
 $ F_With_Ins     : int  566 1707 122426 6627 349 674 1837 40210 944 711 ...
 $ F_Without_Ins  : int  540 564 21393 1774 67 250 546 5322 228 288 ...
 $ All_With_Ins   : int  1442 4177 243173 13023 768 1496 3515 80815 1904 1509 ...
 $ All_Without_Ins: int  1857 1333 44638 4482 191 503 1446 12279 650 616 ...
'data.frame':	3220 obs. of  7 variables:
 $ State      : chr  "AK" "AK" "AK" "AK" ...
 $ StateFIPS  : int  2 2 2 2 2 2 2 2 2 2 ...
 $ CountyFIPS : int  13 16 20 50 60 68 70 90 100 105 ...
 $ AreaName   : chr  "Aleutians East Borough, Alaska" "Aleutians West Census Area, Alaska" "Anchorage Municipality, Alaska" "Bethel Census Area, Alaska" ...
 $ All_Poverty: int  553 499 23914 4364 69 254 894 7752 135 252 ...
 $ M_Poverty  : int  334 273 10698 2199 33 139 446 3523 74 102 ...
 $ F_Poverty  : int  219 226 13216 2165 36 115 448 4229 61 150 ...

## 2. Exploratory Data Analysis 

Have your multiple code and markdown cells here to explore the data. Univariate, multivariate, histograms, correlations, scatter plots, missing values, etc.

In [2]:
# codes and comments 

# have a markdown cell after every major step to explain what you did and what you learned.

## 3. 4. 5. ... The Rest..

Similar to above, have **sections** for every major step in your analysis.  PCA, FA, Clustering, etc. running your models, hypotheses, explaining what you have learned, presenting results with visualizations, and the conclusion should have their own sections.