# Data Science with `R` Practice

This is one of your first practice notebooks. The purpose of these practices is to reiterate some of the content that you went over in the lab, as well as introduce some new material to you with a bit of a guiding hand helping you along. Unlike the labs, these notebooks will be incomplete in the sense that you will actively be editing/writing code to modify/produce output. The skeleton is already there but throughout these practice notebooks, we will be asking you to add the rest of the corpus. In doing so, you will hone your data science techniques as well as learn how to search for solutions to your programming hurdles.

Today we will be going over the fundamentals of data science with `R`. Much of the content will be similar to your lab, [Introduction to Data Science with R](../labs/intro_data_science_r.ipynb), and thus it will serve as a good guide post to answering some of the questions. We'll begin today with reading in the data...

## Read in the Data

In [ ]:
df <- read.csv('/dsa/data/all_datasets/baby-names/NationalNames2.csv')

head(df)

Now that the data is read in, how would you remove the `Id` column from the dataframe in `R`. Remember, `R` is very flexible so there are several ways to remove columns. Do the following:

**Activity 1**: Remove the column `Id` from the dataframe and rename this data frame, `df`.

**Activity 2**: Find the dimensions (the number of rows and columns) of this updated data frame. *Hint: You will have to look up the function to do this as it was not mentioned in the lab*. 

**Activity 3**: Display the ***last*** 10 columns of the updated data frame.

In [ ]:
# Code for Activity 1 goes here -----------------------

df = df[,-1]

head(df)

In [ ]:
# Code for Activity 2 goes here -----------------------
dim(df)

In [ ]:
tail(df, 10)

Below is one of the ways that you can subset a data frame based. Run the code below to see what it returns.

In [ ]:
head(df[df$Count > 2000,])

The bit of code only returns the first few rows of data but, in reality, there are lot more rows.

**Activity 4**: *Find out how many rows where the `Count` is greater than 2000.*

In [ ]:
nrow(df[df$Count > 2000,])

Now let's say that we were interested in only male names, particularly those names that are popular and not so popular.

**Activity 5**: subset the data set for rows where the gender is male and the count is above 2000 and below 100.

In [ ]:
male <- subset(df, Gender == 'M')
sub <- subset(male, Count > 2000 | Count < 100)
head(sub)

Imagine we were interested in names during a certain time period and we didn't need any of the data for the years were were not interested in. Let's say we were interested in names from the year 1950 through 1965. Below is one way to subset based on a specific year.

In [ ]:
df1950 <- head(df[df$Year == 1950,])
df1965 <- head(df[df$Year == 1965,])

comb <- rbind(df1950,df1965)

head(comb);tail(comb)

**Questions**
1. What does the `rbind` function do?
2. Describe what the code above is doing.

Answer the questions above here. 
1.rbind() function combines a data frame by rows.The two data frames must have the same variables, but they do not have to be in the same order

Well, the above code would be extremely inefficient when trying to find all of the names between the years 1950 and 1965. How might you subset the data frame based off names between the year 1950 through 1965 without subsetting each year seperately. 

**Activity 6**: *Subset the data frame based off names between the year 1950 through 1965 without subsetting each year seperately.*

In [ ]:
#' Code for Activity 6 goes here -----------------------
df1950to1965 <- df[(df$Year <=1965 & df$Year>=1950),]

head(df1950to1965)
tail(df1950to1965)

## A Bit of Sorting

The code below sorts the data frame based of `Count`, but we can also sort the data alphabetically off of a column of strings.

In [ ]:
head(df[order(df$Count),])


**Activity 7**: Sort the data frame based on `Name` where the names starting with "Z" are on the top of the frame.

In [ ]:
#' Code for Activity 7 goes here -----------------------
library(dplyr)

sorted <- arrange(df,desc(Name))

head(sorted)

## Manipulating data with dplyr

`dplyr` makes manipulating data a bit simpler. Take a look at the code below.

In [ ]:
library(dplyr)
df %>%
    filter(Name == "Linda") %>%
    arrange(-Count) %>%
    head()

**Questions**
1. Describe what the code above is doing.

Answer the question above here. <br>
The above code uses the <b> filter()</b>  and <b> arrange() </b> function from the library <b> dplyr </b>.<br>Here filter() function filters the rows that contains the name 'Linda' and reorders the occurence of the name 'Linda' by Count in descending order by using the function arrange().<br>Notice,the <b>-ve</b> sign prefixed before the variable 'Count' which indicates that rows are to be displayed in descending order.

There is a lot more that you can do with `dplyr` such as renaming column names, lets try some.


**Activity 8**: *Copy the code above, but rename each of the columns so that the headers begin with lowercase letters. Name this data frame 'df_lower`.*

**Activity 9**: *Now, on the `df_lower` frame, remove the `gender` column.*

In [ ]:
#' Code for Activity 8 goes here -----------------------
library(dplyr)

df_lower <-
df %>%
    filter(Name == "Linda") %>%
    arrange(-Count) %>%
    rename(name = Name, year = Year, gender = Gender, count = Count )
    

head(df_lower)

In [ ]:
#' Code for Activity 9 goes here -----------------------

head(select(df_lower, -gender))

**Activity 10**: *Using `dplyr`, select rows based on both the names "Linda" and "John".*

In [ ]:
#' Code for Activity 10 goes here -----------------------
filter(df, Name == "Linda"| Name=="John" )

**Challenge Activity 1**: *Use `dplyr` to find the max Count per year per name (both Linda and John).*

In [ ]:
df %>%
filter(Name == "Linda") %>%
arrange(-Count) %>%
head(1)


df %>%
filter(Name == "John") %>%
arrange(-Count) %>%
head(1)

# Save your notebook, then `File > Close and Halt`