# Converting an ERD to DDL

Converting an Entity relational diagram into a Data Definition Language. 

***Data Definition Language (DDL)*** is a standard for commands that define the different structures in a database. DDL statements create, modify, and remove database objects such as tables, indexes, and users. Common DDL statements are CREATE, ALTER, and DROP

This practice will take the ERD diagram below and create the tables within our database.
![erd](../images/ERD.jpg)

## Order of creation

One of the important things to consider when constructing SQL Data Definition Language script files is the order of creation.

Before a foreign key can be designated, the table and key that it will refer to must exist within the database.

Based on the ERD above, we see that Course, Student, and Instructor do not have a foreign key and therefore can be defined first.

```SQL
CREATE TABLE Student (
    StudentID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (StudentID)
);

CREATE TABLE Instructor (
    InstructorID INT NOT NULL,
    LastName VARHCAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (InstructorID)
);

CREATE TABLE Course (
    Number CHAR(8) NOT NULL,
    Title VARHCAR(100) NOT NULL,
    Synopsis TEXT NOT NULL,
    PRIMARY KEY (Number)
);


```

Since the Enrollment table stores a ClassID, it will have to be built after Class.

NOTE: These tables require foreign key references for referential integrity.

```SQL
CREATE TABLE Class (
    ClassID INT NOT NULL,
    Number CHAR(8) NOT NULL,
    InstructorID INT NOT NULL,
    DateStarted DATE,
    DateEnded DATE,
    PRIMARY KEY (ClassID),    
    FOREIGN KEY (Number)
      REFERENCES Course(Number),
    FOREIGN KEY (InstructorID)
      REFERENCES Instructor(InstructorID)
);

CREATE TABLE Enrollment (
    ClassID INT NOT NULL,
    StudentID INT NOT NULL,
    PRIMARY KEY (ClassID,StudentID),
    FOREIGN KEY (ClassID)
      REFERENCES Class(ClassID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);
```

## Use terminal to access your personal schema in `dsa_students` 

For each SQL statement below, <span style='background:yellow'>replace SSO</span> with your actual SSO ID.

Copy and paste these create table statements one at a time into the terminal with your open database connection. 
Review for errors, resolve, then explore the created table using the `\d table_name_here` command.


CREATE TABLE jch5x8.Student (
    StudentID INT NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (StudentID)
);

CREATE TABLE jch5x8.Instructor (
    InstructorID INT NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    FirstName VARCHAR(50) NOT NULL,
    PRIMARY KEY (InstructorID)
);

CREATE TABLE jch5x8.Course (
    Number CHAR(8) NOT NULL,
    Title VARCHAR(100) NOT NULL,
    Synopsis TEXT NOT NULL,
    PRIMARY KEY (Number)
);

### The next two tables link the Students, Courses, and Instructors. Pay careful attention to use of `FOREIGN KEY` statements that are linking tables.


CREATE TABLE jch5x8.Class (
    ClassID INT NOT NULL,
    Number CHAR(8) NOT NULL,
    InstructorID INT NOT NULL,
    DateStarted DATE,
    DateEnded DATE,
    PRIMARY KEY (ClassID),
    FOREIGN KEY (Number)
      REFERENCES Course(Number),
    FOREIGN KEY (InstructorID)
      REFERENCES Instructor(InstructorID)
);

CREATE TABLE jch5x8.Enrollment (
    ClassID INT NOT NULL,
    StudentID INT NOT NULL,
    PRIMARY KEY (ClassID,StudentID),
    FOREIGN KEY (ClassID)
      REFERENCES Class(ClassID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);

## <span style="background:yellow">Your Turn</span>

**Activity 1** -  Write a create table statement for a 'CourseGrade' table that would hold a student number, class number, and the grade they received.
Ensure you have proper foreign keys!

Once you have the SQL ready, paste it into the terminal with your open database connection and resolve any errors until you have created the table.

CREATE TABLE jch5x8.CourseGrade (
    StudentID INT NOT NULL,
    ClassID INT NOT NULL,
    Grade VARCHAR(2),
    PRIMARY KEY (StudentID, ClassID),
    FOREIGN KEY (ClassID)
      REFERENCES Class(ClassID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);

**Activity 1 - Describe**:  Run the describe, `\d table_name_here`, then paste the output below.

                    Table "jch5x8.coursegrade"
  Column   |         Type         | Collation | Nullable | Default
-----------+----------------------+-----------+----------+---------
 studentid | integer              |           | not null |
 classid   | integer              |           | not null |
 grade     | character varying(2) |           |          |
Indexes:
    "coursegrade_pkey" PRIMARY KEY, btree (studentid, classid)
Foreign-key constraints:
    "coursegrade_classid_fkey" FOREIGN KEY (classid) REFERENCES class(classid)
    "coursegrade_studentid_fkey" FOREIGN KEY (studentid) REFERENCES student(studentid)

**Activity 2** - Write a create table statement for a 'StudentInfo' table that would hold the student id and other relevant information like address, phone number, and date of birth.
Ensure you have proper foreign keys!

Once you have the SQL ready, paste it into the terminal with your open database connection and resolve any errors until you have created the table.

CREATE TABLE jch5x8.StudentInfo (
    StudentID INT NOT NULL,
    FirstName VARCHAR(50),
    MiddleName VARCHAR(50),
    LastName VARCHAR(50),
    Gender VARCHAR(20),
    Address VARCHAR(50),
    City VARCHAR(50),
    State VARCHAR(50),
    ZipCode INT,
    PhoneNumber INT,
    PRIMARY KEY (StudentID),
    FOREIGN KEY (StudentID)
      REFERENCES Student(StudentID)

);

**Activity 2 - Describe**:  Run the describe, `\d table_name_here`, then paste the output below.

                      Table "jch5x8.studentinfo"
   Column    |         Type          | Collation | Nullable | Default
-------------+-----------------------+-----------+----------+---------
 studentid   | integer               |           | not null |
 firstname   | character varying(50) |           |          |
 middlename  | character varying(50) |           |          |
 lastname    | character varying(50) |           |          |
 gender      | character varying(20) |           |          |
 address     | character varying(50) |           |          |
 city        | character varying(50) |           |          |
 state       | character varying(50) |           |          |
 zipcode     | integer               |           |          |
 phonenumber | integer               |           |          |
Indexes:
    "studentinfo_pkey" PRIMARY KEY, btree (studentid)
Foreign-key constraints:
    "studentinfo_studentid_fkey" FOREIGN KEY (studentid) REFERENCES student(studentid)

# Save your notebook, then `File > Close and Halt`