# Python's SQLAlchemy

The SQLAlchemy SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python. 
It provides a full suite of well-known enterprise-level persistence patterns, designed for efficient and high-performing database access.

SQLAlchemy provides numerous advanced features, such as 
 * Object-Relational Mapper (ORM)
 * Expression Language
 * Raw (Traditional) programmatic access
 
This notebook previews the traditional programmatic access.


### SQLAlchemy Engine

The SQLAlchemy engine is a key feature of the library that facilitates access to an underlying database.

The engine is an object constructed with a connection URL.  Examples include:

**SQLite**  
```
sqlalchemy.create_engine('sqlite:///path_to_file')

```


**PostgreSQL**

```
sqlalchemy.create_engine('postgresql://user:password@host/database')

```


**Read more about the SQLAlchemy Engine**  
http://docs.sqlalchemy.org/en/latest/core/engines.html

# PostgreSQL + SQLAlchemy Examples

## Simple Table Iteration

Keep in mind that the same string reading techniques you used in the prior Lab could be used here as well.

In [1]:
import psycopg2
import sqlalchemy
# defaults to using psycopg2 library
engine = sqlalchemy.create_engine('postgresql://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro')
# init connection variable
connection = None
# using a try-except
try:
    connection = engine.connect()
except Exception as err:
    print("An error occurred trying to connect: {}".format(err))
    
result = connection.execute("SELECT * FROM util_us_states")
for row in result:
    print("{} = {}".format(row[0], row[2]))
connection.close()

AK = ALASKA
AL = ALABAMA
AR = ARKANSAS
AS = AMERICAN SAMOA
AZ = ARIZONA
CA = CALIFORNIA
CO = COLORADO
CT = CONNECTICUT
DC = DISTRICT OF COLUMBIA
DE = DELAWARE
FL = FLORIDA
FM = FEDERATED STATES OF MICRONESIA
GA = GEORGIA
GU = GUAM
HI = HAWAII
IA = IOWA
ID = IDAHO
IL = ILLINOIS
IN = INDIANA
KS = KANSAS
KY = KENTUCKY
LA = LOUISIANA
MA = MASSACHUSETTS
MD = MARYLAND
ME = MAINE
MH = MARSHALL ISLANDS
MI = MICHIGAN
MN = MINNESOTA
MO = MISSOURI
MP = NORTHERN MARIANA ISLANDS
MS = MISSISSIPPI
MT = MONTANA
NC = NORTH CAROLINA
ND = NORTH DAKOTA
NE = NEBRASKA
NH = NEW HAMPSHIRE
NJ = NEW JERSEY
NM = NEW MEXICO
NV = NEVADA
NY = NEW YORK
OH = OHIO
OK = OKLAHOMA
OR = OREGON
PA = PENNSYLVANIA
PR = PUERTO RICO
PW = PALAU
RI = RHODE ISLAND
SC = SOUTH CAROLINA
SD = SOUTH DAKOTA
TN = TENNESSEE
TX = TEXAS
UM = None
UT = UTAH
VA = VIRGINIA
VI = VIRGIN ISLANDS
VT = VERMONT
WA = WASHINGTON
WI = WISCONSIN
WV = WEST VIRGINIA
WY = WYOMING

Use SQLAlchemy to display the State Codes for Montana and California

In [2]:
# defaults to using psycopg2 library
engine = sqlalchemy.create_engine('postgresql://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro')
# init connection variable
connection = None
# using a try-except
try:
    connection = engine.connect()
except Exception as err:
    print("An error occurred trying to connect: {}".format(err))
    
result = connection.execute("select state_alpha_code from util_us_states where state_name = 'MONTANA' OR  state_name = 'CALIFORNIA'")
for row in result:
  print(row)
connection.close()

('CA',)
('MT',)

## <span style="background:yellow">Your Turn!</span>

Use SQLAlchemy to display cities in Australia

In [9]:
# defaults to using psycopg2 library
engine = sqlalchemy.create_engine('postgresql://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro')
# init connection variable
connection = None
# using a try-except
try:
    connection = engine.connect()
except Exception as err:
    print("An error occurred trying to connect: {}".format(err))
    
# Update the CHANGE ME string to SQL
result = connection.execute("SELECT city FROM cities WHERE country = 'Australia'")
for row in result:
  print(row)

connection.close()

('Sydney',)
('Melbourne',)
('Brisbane',)
('Perth',)
('Adelaide',)

## Database Query into Panda Data Frame

In [10]:
import psycopg2
import sqlalchemy
import pandas as pd

# defaults to using psycopg2 library
engine = sqlalchemy.create_engine('postgresql://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro')

with engine.connect() as connection:
    df = pd.read_sql_query("SELECT * FROM cities", connection)

#  Show to the first 5 rows
df.head()

       city   country  population
0  Shanghai     China    22315500
1   Karachi  Pakistan    13052000
2    Mumbai     India    12691800
3   Beijing     China    11716600
4  Istanbul    Turkey    11174300

In [11]:
# Statistically describe the numerical columns
df.describe()

         population
count  3.520000e+02
mean   2.750536e+06
std    2.501029e+06
min    1.001600e+06
25%    1.274675e+06
50%    1.740400e+06
75%    3.325750e+06
max    2.231550e+07

## <span style="background:yellow">Your Turn!</span>

 Load the US States into a pandas dataframe and statistically describe the output

In [12]:
with engine.connect() as connection:
    # Update the CHANGE ME string to SQL
    df = pd.read_sql_query("SELECT * FROM util_us_states", connection)

df.describe()

       state_number_code
count          60.000000
mean           34.966667
std            20.596994
min             1.000000
25%            18.750000
50%            33.500000
75%            49.250000
max            78.000000

Load the cities from Canada into a pandas dataframe and statistically describe the output

In [13]:
with engine.connect() as connection:
    
    # Update the CHANGE ME string to SQL
    df = pd.read_sql_query("SELECT * FROM cities WHERE country = 'Canada'", connection)

df.describe()

         population
count  4.000000e+00
mean   1.776850e+06
std    6.507705e+05
min    1.019900e+06
25%    1.492100e+06
50%    1.743750e+06
75%    2.028500e+06
max    2.600000e+06

# PostgreSQL + SQLAlchemy Examples

Here we read database name, username and password from the user and frame it as connection string and then pass it to create engine.

Also we change the SQL in this case because it is a different database. 

Remember:
* The database is: dsa_ro
* The username is: dsa_ro_user
* The password is: readonly

In [14]:
import getpass

In [15]:
database = input("Type Database name and hit enter:: ")

Type Database name and hit enter:: dsa_ro

In [16]:
username = input("Type Username name and hit enter:: ")

Type Username name and hit enter:: dsa_ro_user

In [17]:
password = getpass.getpass("Type Password and hit enter:: ")

Type Password and hit enter:: ········

In [18]:
connectionstring = 'postgresql://'+username+':'+password+'@pgsql.dsa.lan/'+database

In [19]:
import sqlalchemy
import pandas as pd

# defaults to using psycopg2 library
engine = sqlalchemy.create_engine(connectionstring)

with engine.connect() as connection:
    df = pd.read_sql_query("SELECT * FROM survey", connection)

#  Show to the first 5 rows
df.head()

   taken person quant  reading
0    619   dyer   rad     9.82
1    619   dyer   sal     0.13
2    622   dyer   rad     7.80
3    622   dyer   sal     0.09
4    734     pb   rad     8.41

## <span style="background:yellow">Your Turn!</span>

Statistically describe the Survey readings taken by dyer

In [21]:
with engine.connect() as connection:
        # Update the CHANGE ME string to SQL
    df = pd.read_sql_query("SELECT reading FROM survey WHERE person = 'dyer'", connection)
    
df.describe()

        reading
count  4.000000
mean   4.460000
std    5.090219
min    0.090000
25%    0.120000
50%    3.965000
75%    8.305000
max    9.820000

Statistically describe the Survey reading that are greater than 1.00

In [22]:
with engine.connect() as connection:
        # Update the CHANGE ME string to SQL
    df = pd.read_sql_query("SELECT reading FROM survey WHERE reading > 1", connection)

df.describe()

         reading
count  10.000000
mean   11.660000
std    12.063699
min     1.460000
25%     5.067500
50%     8.105000
75%    10.892500
max    41.600000

# Save your Notebook, then `File > Close and Halt`

---