# Extraction, Transform, and Load

ETL is a common necessity for data engineering and data processing pipelines.
The source of the data may be other structured databases, unstructured data stores, data APIs, etc.

ETL can be a simple data acquisition task, such as shown below.

![AutomatedDataAcquisition.png MISSING](../images/AutomatedDataAcquisition.png)

**Or, it may be part of larger process to accumulated data and information in support of advanced analytical systems.**

![AutomatedDataAcquisition_to_Analytics.png MISSING](../images/AutomatedDataAcquisition_to_Analytics.png)

---

## In the context of ETL, you now have the tools to perform this activity.

In the data loading lab, you read in three data files and then massaged the Panda data frame to prepare the data for loading and to understand the semantics of the data.
You then loaded the database with data from the files.

We just need to understand how to acquire data from a remote resource, such as the web or an API and process it with Pandas.

Additionally, in this notebook we will see how to use the SQLAlchemy library to simplify data loading.

## Tasks:

 **Consider**:
 + https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)  
 
In the cells below, 

 1. Define a table for information about the worlds countries.
 1. Describe some challenges you foresee with the data
 1. Review and modify code cells that pull down the data from the tables into a data frame
 1. Load the data into your database
 1. Test loaded data with SQL queries

### 1. Define Tables

CREATE TABLE jch5x8.country_population (
    country              varchar(100), -- Character String, varied length
    region               varchar(100), 
    subregion            varchar(100), 
    population_2018      INT NOT NULL, -- Integer values
    population_2019      INT NOT NULL,
    population_change    REAL NOT NULL, -- Floating point number
    CONSTRAINT pk_country_population
     PRIMARY KEY (country)
);

### 2. Describe the challenges

## Add your answer in this cell
## ----------------------------

-Finding the table
-Skipping headers
-Subscripted links to notes

### 3. Data Scrapping Code

In [2]:
#import the library to query a website
import requests
# import Beautiful soup library to access functions to parse the data returned from the website
from bs4 import BeautifulSoup

In [3]:
# specify the url
url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"
# Open website URL and return the html to the variable 'response'
response = requests.get(url)
print(response.encoding)
print(response)

UTF-8
<Response [200]>

The response we get from web is typically html content. 
We can read the content of the server's response. 
Below, when a `BeautifulSoup` object is created from an html response, we explicitly reference the text format(`response.text`).

The default encoding format is 'UTF-8' as shown below. 

[Click here for additional documentations about the response object.](http://docs.python-requests.org/en/master/user/quickstart/#response-content)

In [4]:
# Parse the html in the 'response' variable, and store it in Beautiful Soup format
soup = BeautifulSoup(response.text, "html")

### Inspect the page source to determine how you need to extract the tables into its own soup object.

We see that the table tag has class settings of:
 * sortable 
 * wikitable 
 * jquery-tablesorter
 
```HTML
<table class="sortable wikitable jquery-tablesorter">
```

We want to focus on the `wikitable`.

In [18]:
# We can fetch all Tables with a find_all() 
all_tables=soup.find_all('table')
print(type(all_tables))
print(len(all_tables))


# We can find_all this time and get the second occurrence, [1]
right_table=soup.find_all('table', class_='wikitable')[0]
print(type(right_table))

<class 'bs4.element.ResultSet'>
2
<class 'bs4.element.Tag'>

#### Look at the first couple rows

In [19]:
first_two_rows = right_table.findAll("tr")[0:2]

print("Header")
print("-"*30)
print(first_two_rows[0])

print("="*30)

print("First Data row")
print("-"*30)
print(first_two_rows[1])

Header
------------------------------
<tr class="static-row-header" style="text-align:center;vertical-align:bottom;">
<th>Country/Area
</th>
<th><a href="/wiki/United_Nations_geoscheme" title="United Nations geoscheme">UN continental<br/>region</a><sup class="reference" id="cite_ref-region_4-0"><a href="#cite_note-region-4">[4]</a></sup>
</th>
<th><a href="/wiki/United_Nations_geoscheme" title="United Nations geoscheme">UN statistical<br/>subregion</a><sup class="reference" id="cite_ref-region_4-1"><a href="#cite_note-region-4">[4]</a></sup>
</th>
<th>Population<br/>(1 July 2018)
</th>
<th>Population<br/>(1 July 2019)
</th>
<th>Change
</th></tr>
==============================
First Data row
------------------------------
<tr>
<td style="text-align:left"><span class="datasortkey" data-sort-value="China"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/23px-Flag_of_the_People%27s_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/35px-Flag_of_the_People%27s_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/45px-Flag_of_the_People%27s_Republic_of_China.svg.png 2x" width="23"/> </span><a href="/wiki/China" title="China">China</a></span><sup class="reference" id="cite_ref-5"><a href="#cite_note-5">[a]</a></sup></td>
<td style="text-align:center"><a href="/wiki/Asia" title="Asia">Asia</a></td>
<td style="text-align:center"><a href="/wiki/East_Asia" title="East Asia">Eastern Asia</a></td>
<td>1,427,647,786</td>
<td>1,433,783,686</td>
<td><span data-sort-value="6999430000000000000♠" style="display:none"></span><span style="color:green">+0.43%</span>
</td></tr>

The `Tag` element is the table.

**Examining the HTML Table Header, we have these columns**

 * Country/Territory
 * UN continental region
 * UN statistical subregion
 * Population 2018
 * Population 2019
 * Change


#### TODO: Replace all the `#?` with one or more lines or portions of code.

In [24]:
# We will use the locale library so we can use 
# atof and atoi to convert alphanumeric to float and integers, respectively.
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' ) 

country=[]
region=[]
subregion=[]
population_2018=[]
population_2019=[]
population_change=[]


# Notice we are skipping the head row in this table
for row in right_table.findAll("tr")[1:]: 
    # for each row, pull out the td elements.
    cells = row.findAll('td') # To store all other details
    
    if len(cells)>2: # Only extract information if there is table body not heading
        
        # for the country name, we need to find the name (text) in the Country Hyperlink (a)
        countr_cell = cells[0].find('a').find(text=True)
        country.append(countr_cell)

      
         # for the region name, we need to find the name (text) in the Region Hyperlink (a)
        region_text = cells[1].find('a').find(text=True)
        region.append(
            region_text
        )
        
         # for the subregion name, we need to find the name (text) in the Subregion Hyperlink (a)
        subregion_text = cells[2].find('a').find(text=True)
        subregion.append(
            subregion_text
        )

        print("Area: {},{},{}".format(countr_cell,region_text,subregion_text))        

        # Adjust the the data from Text to numeric data types for population
        population_2018.append(locale.atoi(cells[3].find(text=True)))
        population_2019.append(locale.atoi(cells[4].find(text=True)))
        
        
        
        change_pull = cells[5].find(text=True)
        print(change_pull)
        
        # Note the mdash character in the table needs changed 
        # to a regular dash to be parsed as a negative value
        population_change.append(
                            locale.atof(change_pull.replace('%','').replace('−','-'))
                            )

#print(population_change)
#print(len(country))
#print(len(region))
#print(len(subregion))
#print(len(population_2018))
#print(len(population_2019))
#print(len(population_change))

Area: China,Asia,Eastern Asia
+0.43%
Area: India,Asia,Southern Asia
+1.02%
Area: United States,Americas,Northern America
+0.60%
Area: Indonesia,Asia,South-eastern Asia
+1.10%
Area: Pakistan,Asia,Southern Asia
+2.04%
Area: Brazil,Americas,South America
+0.75%
Area: Nigeria,Africa,Western Africa
+2.60%
Area: Bangladesh,Asia,Southern Asia
+1.03%
Area: Russia,Europe,Eastern Europe
+0.09%
Area: Mexico,Americas,Central America
+1.10%
Area: Japan,Asia,Eastern Asia
−0.27%
Area: Ethiopia,Africa,Eastern Africa
+2.61%
Area: Philippines,Asia,South-eastern Asia
+1.37%
Area: Egypt,Africa,Northern Africa
+2.00%
Area: Vietnam,Asia,South-eastern Asia
+0.96%
Area: DR Congo,Africa,Middle Africa
+3.24%
Area: Germany,Europe,Western Europe
+0.47%
Area: Turkey,Asia,Western Asia
+1.32%
Area: Iran,Asia,Southern Asia
+1.36%
Area: Thailand,Asia,South-eastern Asia
+0.25%
Area: United Kingdom,Europe,Northern Europe
+0.58%
Area: France,Europe,Western Europe
+0.21%
Area: Italy,Europe,Southern Europe
−0.13%
Area: South Africa,Africa,Southern Africa
+1.33%
Area: Tanzania,Africa,Eastern Africa
+3.00%
Area: Myanmar,Asia,South-eastern Asia
+0.63%
Area: Kenya,Africa,Eastern Africa
+2.30%
Area: South Korea,Asia,Eastern Asia
+0.10%
Area: Colombia,Americas,South America
+1.37%
Area: Spain,Europe,Southern Europe
+0.09%
Area: Argentina,Americas,South America
+0.95%
Area: Uganda,Africa,Eastern Africa
+3.61%
Area: Ukraine,Europe,Eastern Europe
−0.57%
Area: Algeria,Africa,Northern Africa
+1.95%
Area: Sudan,Africa,Northern Africa
+2.42%
Area: Iraq,Asia,Western Asia
+2.28%
Area: Afghanistan,Asia,Southern Asia
+2.34%
Area: Poland,Europe,Eastern Europe
−0.09%
Area: Canada,Americas,Northern America
+0.91%
Area: Morocco,Africa,Northern Africa
+1.23%
Area: Saudi Arabia,Asia,Western Asia
+1.68%
Area: Uzbekistan,Asia,Central Asia
+1.56%
Area: Peru,Americas,South America
+1.63%
Area: Malaysia,Asia,South-eastern Asia
+1.34%
Area: Angola,Africa,Middle Africa
+3.30%
Area: Mozambique,Africa,Eastern Africa
+2.95%
Area: Yemen,Asia,Western Asia
+2.33%
Area: Ghana,Africa,Western Africa
+2.22%
Area: Nepal,Asia,Southern Asia
+1.83%
Area: Venezuela,Americas,South America
−1.29%
Area: Madagascar,Africa,Eastern Africa
+2.69%
Area: North Korea,Asia,Eastern Asia
+0.46%
Area: Ivory Coast,Africa,Western Africa
+2.58%
Area: Cameroon,Africa,Middle Africa
+2.62%
Area: Australia,Oceania,Australia and New Zealand
+1.23%
Area: Taiwan,Asia,Eastern Asia
+0.20%
Area: Niger,Africa,Western Africa
+3.87%
Area: Sri Lanka,Asia,Southern Asia
+0.45%
Area: Burkina Faso,Africa,Western Africa
+2.89%
Area: Mali,Africa,Western Africa
+3.04%
Area: Romania,Europe,Eastern Europe
−0.73%
Area: Malawi,Africa,Eastern Africa
+2.68%
Area: Chile,Americas,South America
+1.19%
Area: Kazakhstan,Asia,Central Asia
+1.27%
Area: Zambia,Africa,Eastern Africa
+2.94%
Area: Guatemala,Americas,Central America
+1.93%
Area: Ecuador,Americas,South America
+1.69%
Area: Netherlands,Europe,Western Europe
+0.22%
Area: Syria,Asia,Western Asia
+0.74%
Area: Cambodia,Asia,South-eastern Asia
+1.46%
Area: Senegal,Africa,Western Africa
+2.79%
Area: Chad,Africa,Middle Africa
+3.03%
Area: Somalia,Africa,Eastern Africa
+2.90%
Area: Zimbabwe,Africa,Eastern Africa
+1.43%
Area: Guinea,Africa,Western Africa
+2.88%
Area: Rwanda,Africa,Eastern Africa
+2.64%
Area: Benin,Africa,Western Africa
+2.75%
Area: Tunisia,Africa,Northern Africa
+1.12%
Area: Belgium,Europe,Western Europe
+0.50%
Area: Bolivia,Americas,South America
+1.41%
Area: Cuba,Americas,Caribbean
−0.04%
Area: Haiti,Americas,Caribbean
+1.26%
Area: South Sudan,Africa,Eastern Africa
+0.79%
Area: Burundi,Africa,Eastern Africa
+3.23%
Area: Dominican Republic,Americas,Caribbean
+1.05%
Area: Czech Republic,Europe,Eastern Europe
+0.22%
Area: Greece,Europe,Southern Europe
−0.46%
Area: Portugal,Europe,Southern Europe
−0.29%
Area: Jordan,Asia,Western Asia
+1.37%
Area: Azerbaijan,Asia,Western Asia
+0.99%
Area: Sweden,Europe,Northern Europe
+0.65%
Area: United Arab Emirates,Asia,Western Asia
+1.45%
Area: Honduras,Americas,Central America
+1.65%
Area: Hungary,Europe,Eastern Europe
−0.24%
Area: Belarus,Europe,Eastern Europe
0.00%

Area: Tajikistan,Asia,Central Asia
+2.42%
Area: Austria,Europe,Western Europe
+0.72%
Area: Papua New Guinea,Oceania,Melanesia
+1.97%
Area: Serbia,Europe,Southern Europe
−0.35%
Area: Switzerland,Europe,Western Europe
+0.77%
Area: Israel,Asia,Western Asia
+1.64%
Area: Togo,Africa,Western Africa
+2.45%
Area: Sierra Leone,Africa,Western Africa
+2.13%
Area: Hong Kong,Asia,Eastern Asia
+0.87%
Area: Laos,Asia,South-eastern Asia
+1.53%
Area: Paraguay,Americas,South America
+1.27%
Area: Bulgaria,Europe,Eastern Europe
−0.73%
Area: Lebanon,Asia,Western Asia
−0.05%
Area: Libya,Africa,Northern Africa
+1.48%
Area: Nicaragua,Americas,Central America
+1.24%
Area: El Salvador,Americas,Central America
+0.51%
Area: Kyrgyzstan,Asia,Central Asia
+1.77%
Area: Turkmenistan,Asia,Central Asia
+1.56%
Area: Singapore,Asia,South-eastern Asia
+0.81%
Area: Denmark,Europe,Northern Europe
+0.34%
Area: Finland,Europe,Northern Europe
+0.17%
Area: Slovakia,Europe,Eastern Europe
+0.07%
Area: Congo,Africa,Middle Africa
+2.60%
Area: Norway,Europe,Northern Europe
+0.77%
Area: Costa Rica,Americas,Central America
+0.96%
Area: Palestine,Asia,Western Asia
+2.44%
Area: Oman,Asia,Western Asia
+3.01%
Area: Liberia,Africa,Western Africa
+2.46%
Area: Ireland,Europe,Northern Europe
+1.32%
Area: New Zealand,Oceania,Australia and New Zealand
+0.84%
Area: Central African Republic,Africa,Middle Africa
+1.69%
Area: Mauritania,Africa,Western Africa
+2.78%
Area: Panama,Americas,Central America
+1.67%
Area: Kuwait,Asia,Western Asia
+1.69%
Area: Croatia,Europe,Southern Europe
−0.63%
Area: Moldova,Europe,Eastern Europe
−0.21%
Area: Georgia,Asia,Western Asia
−0.15%
Area: Eritrea,Africa,Eastern Africa
+1.28%
Area: Uruguay,Americas,South America
+0.36%
Area: Bosnia and Herzegovina,Europe,Southern Europe
−0.69%
Area: Mongolia,Asia,Eastern Asia
+1.73%
Area: Armenia,Asia,Western Asia
+0.20%
Area: Jamaica,Americas,Caribbean
+0.46%
Area: Puerto Rico,Americas,Caribbean
−3.49%
Area: Albania,Europe,Southern Europe
−0.06%
Area: Qatar,Asia,Western Asia
+1.81%
Area: Lithuania,Europe,Northern Europe
−1.49%
Area: Namibia,Africa,Southern Africa
+1.89%
Area: Gambia,Africa,Western Africa
+2.97%
Area: Botswana,Africa,Southern Africa
+2.20%
Area: Gabon,Africa,Middle Africa
+2.52%
Area: Lesotho,Africa,Southern Africa
+0.80%
Area: North Macedonia,Europe,Southern Europe
+0.02%
Area: Slovenia,Europe,Southern Europe
+0.04%
Area: Guinea-Bissau,Africa,Western Africa
+2.49%
Area: Latvia,Europe,Northern Europe
−1.13%
Area: Bahrain,Asia,Western Asia
+4.57%
Area: Trinidad and Tobago,Americas,Caribbean
+0.37%
Area: Equatorial Guinea,Africa,Middle Africa
+3.59%
Area: Estonia,Europe,Northern Europe
+0.21%
Area: East Timor,Asia,South-eastern Asia
+1.98%
Area: Mauritius,Africa,Eastern Africa
+0.78%
Area: Cyprus,Asia,Western Asia
+0.81%
Area: Eswatini,Africa,Southern Africa
+1.04%
Area: Djibouti,Africa,Eastern Africa
+1.53%
Area: Fiji,Oceania,Melanesia
+0.73%
Area: Réunion,Africa,Eastern Africa
+0.73%
Area: Comoros,Africa,Eastern Africa
+2.23%
Area: Guyana,Americas,South America
+0.48%
Area: Bhutan,Asia,Southern Asia
+1.15%
Area: Solomon Islands,Oceania,Melanesia
+2.60%
Area: Macao,Asia,Eastern Asia
+1.39%
Area: Montenegro,Europe,Southern Europe
+0.03%
Area: Luxembourg,Europe,Western Europe
+1.90%
Area: Western Sahara,Africa,Northern Africa
+2.65%
Area: Suriname,Americas,South America
+0.93%
Area: Cape Verde,Africa,Western Africa
+1.13%
Area: Maldives,Asia,Southern Asia
+2.96%
Area: Guadeloupe,Americas,Caribbean
+0.22%
Area: Malta,Europe,Southern Europe
+0.26%
Area: Brunei,Asia,South-eastern Asia
+1.01%
Area: Belize,Americas,Central America
+1.90%
Area: Bahamas,Americas,Caribbean
+1.00%
Area: Martinique,Americas,Caribbean
−0.03%
Area: Iceland,Europe,Northern Europe
+0.69%
Area: Vanuatu,Oceania,Melanesia
+2.46%
Area: Barbados,Americas,Caribbean
+0.13%
Area: New Caledonia,Oceania,Melanesia
+0.98%
Area: French Guiana,Americas,South America
+2.55%
Area: French Polynesia,Oceania,Polynesia
+0.58%
Area: Mayotte,Africa,Eastern Africa
+2.55%
Area: São Tomé and Príncipe,Africa,Middle Africa
+1.91%
Area: Samoa,Oceania,Polynesia
+0.49%
Area: Saint Lucia,Americas,Caribbean
+0.50%
Area: Channel Islands,Europe,Northern Europe
+1.03%
Area: Guam,Oceania,Micronesia
+0.92%
Area: Curaçao,Americas,Caribbean
+0.41%
Area: Kiribati,Oceania,Micronesia
+1.52%
Area: Micronesia,Oceania,Micronesia
+1.04%
Area: Grenada,Americas,Caribbean
+0.49%
Area: Tonga,Oceania,Polynesia
+0.32%
Area: Saint Vincent and the Grenadines,Americas,Caribbean
+0.34%
Area: Aruba,Americas,Caribbean
+0.44%
Area: U.S. Virgin Islands,Americas,Caribbean
−0.10%
Area: Seychelles,Africa,Eastern Africa
+0.66%
Area: Antigua and Barbuda,Americas,Caribbean
+0.86%
Area: Isle of Man,Europe,Northern Europe
+0.60%
Area: Andorra,Europe,Southern Europe
+0.18%
Area: Dominica,Americas,Caribbean
+0.26%
Area: Cayman Islands,Americas,Caribbean
+1.21%
Area: Bermuda,Americas,Northern America
−0.40%
Area: Marshall Islands,Oceania,Micronesia
+0.65%
Area: Greenland,Americas,Northern America
+0.19%
Area: Northern Mariana Islands,Oceania,Micronesia
−1.22%
Area: American Samoa,Oceania,Polynesia
−0.28%
Area: Saint Kitts and Nevis,Americas,Caribbean
+0.73%
Area: Faroe Islands,Europe,Northern Europe
+0.37%
Area: Sint Maarten,Americas,Caribbean
+1.07%
Area: Monaco,Europe,Western Europe
+0.73%
Area: Turks and Caicos Islands,Americas,Caribbean
+1.40%
Area: Liechtenstein,Europe,Western Europe
+0.29%
Area: San Marino,Europe,Southern Europe
+0.22%
Area: Gibraltar,Europe,Southern Europe
−0.05%
Area: British Virgin Islands,Americas,Caribbean
+0.77%
Area: Caribbean Netherlands,Americas,Caribbean
+1.04%
Area: Palau,Oceania,Micronesia
+0.56%
Area: Cook Islands,Oceania,Polynesia
+0.17%
Area: Anguilla,Americas,Caribbean
+0.94%
Area: Tuvalu,Oceania,Polynesia
+1.20%
Area: Wallis and Futuna,Oceania,Polynesia
−1.96%
Area: Nauru,Oceania,Micronesia
+0.81%
Area: Saint Helena,Africa,Western Africa
+0.40%
Area: Saint Pierre and Miquelon,Americas,Northern America
−0.46%
Area: Montserrat,Americas,Caribbean
−0.08%
Area: Falkland Islands,Americas,South America
+4.42%
Area: Niue,Oceania,Polynesia
−0.31%
Area: Tokelau,Oceania,Polynesia
+1.59%
Area: Vatican City,Europe,Southern Europe
−0.25%
233
233
233
233
233
233

##### Now that we have built all our columns, stack into a data frame!

In [25]:
import pandas as pd

# Note, in the table definition about, we listed 
# the country name first to use as a primary key
df=pd.DataFrame({
                'country': country,
                'region': region,
                'subregion': subregion,
                'population_2018': population_2018,
                'population_2019': population_2019,
                'population_change': population_change
            }
    )

In [26]:
df.head()

,country,region,subregion,population_2018,population_2019,population_change
0,China,Asia,Eastern Asia,1427647786,1433783686,0.43
1,India,Asia,Southern Asia,1352642280,1366417754,1.02
2,United States,Americas,Northern America,327096265,329064917,0.60
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,1.10
4,Pakistan,Asia,Southern Asia,212228286,216565318,2.04

In [27]:
df.tail()

,country,region,subregion,population_2018,population_2019,population_change
228,Montserrat,Americas,Caribbean,4993,4989,-0.08
229,Falkland Islands,Americas,South America,3234,3377,4.42
230,Niue,Oceania,Polynesia,1620,1615,-0.31
231,Tokelau,Oceania,Polynesia,1319,1340,1.59
232,Vatican City,Europe,Southern Europe,801,799,-0.25

### Check our column data types!
Does this match the data types we sketched out in the `CREATE TABLE` statement above?
If you need to adjust the definition, this would be the time.
Alternatively, we can adjust the columns using Pandas techniques.

In [28]:
df.dtypes

country               object
region                object
subregion             object
population_2018        int64
population_2019        int64
population_change    float64
dtype: object

Once we have our Panda data frame and the SQL table inline, we can load it into the database.

---

### 4. Load the data into your database

This time, instead of the manual loading, we are going to use the SQLAlchemy library.

In [30]:
import getpass
mypasswd = getpass.getpass()
username = 'jch5x8'
host = 'pgsql.dsa.lan'
database = 'dsa_student'

········

In [31]:
# Then connects to the DB
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine

# SQLAlchemy Connection Parameters
postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)

#### When you run the cell below, carefully examine the output so you see what the SQLAlchemy library is doing!

In [32]:

## Now that SQLAlchemy is loaded, the to_sql function
df.to_sql('country_population', # The table to load
          engine,             # The engine created above
          schema= username,   # The schema where the table lives, our pawprint
          if_exists='append', # If the table is found, it would keep loading the end of table.
          index=False,        # Recall that panda data frame has a row index, so we need to ignore it
          chunksize=50)       # Do 50 records from the data frame at a time

2021-12-03 17:17:32,494 INFO sqlalchemy.engine.base.Engine select version()
2021-12-03 17:17:32,495 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,497 INFO sqlalchemy.engine.base.Engine select current_schema()
2021-12-03 17:17:32,498 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,500 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-12-03 17:17:32,500 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,502 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-12-03 17:17:32,502 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,503 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2021-12-03 17:17:32,503 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,505 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where n.nspname=%(schema)s and relname=%(name)s
2021-12-03 17:17:32,506 INFO sqlalchemy.engine.base.Engine {'schema': 'jch5x8', 'name': 'country_population'}
2021-12-03 17:17:32,513 INFO sqlalchemy.engine.base.Engine
CREATE TABLE jch5x8.country_population (
	country TEXT,
	region TEXT,
	subregion TEXT,
	population_2018 BIGINT,
	population_2019 BIGINT,
	population_change FLOAT(53)
)


2021-12-03 17:17:32,513 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:17:32,521 INFO sqlalchemy.engine.base.Engine COMMIT
2021-12-03 17:17:32,526 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-12-03 17:17:32,527 INFO sqlalchemy.engine.base.Engine INSERT INTO jch5x8.country_population (country, region, subregion, population_2018, population_2019, population_change) VALUES (%(country)s, %(region)s, %(subregion)s, %(population_2018)s, %(population_2019)s, %(population_change)s)
2021-12-03 17:17:32,527 INFO sqlalchemy.engine.base.Engine ({'country': 'China', 'region': 'Asia', 'subregion': 'Eastern Asia', 'population_2018': 1427647786, 'population_2019': 1433783686, 'population_change': 0.43}, {'country': 'India', 'region': 'Asia', 'subregion': 'Southern Asia', 'population_2018': 1352642280, 'population_2019': 1366417754, 'population_change': 1.02}, {'country': 'United States', 'region': 'Americas', 'subregion': 'Northern America', 'population_2018': 327096265, 'population_2019': 329064917, 'population_change': 0.6}, {'country': 'Indonesia', 'region': 'Asia', 'subregion': 'South-eastern Asia', 'population_2018': 267670543, 'population_2019': 270625568, 'population_change': 1.1}, {'country': 'Pakistan', 'region': 'Asia', 'subregion': 'Southern Asia', 'population_2018': 212228286, 'population_2019': 216565318, 'population_change': 2.04}, {'country': 'Brazil', 'region': 'Americas', 'subregion': 'South America', 'population_2018': 209469323, 'population_2019': 211049527, 'population_change': 0.75}, {'country': 'Nigeria', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 195874683, 'population_2019': 200963599, 'population_change': 2.6}, {'country': 'Bangladesh', 'region': 'Asia', 'subregion': 'Southern Asia', 'population_2018': 161376708, 'population_2019': 163046161, 'population_change': 1.03}  ... displaying 10 of 50 total bound parameter sets ...  {'country': 'Nepal', 'region': 'Asia', 'subregion': 'Southern Asia', 'population_2018': 28095714, 'population_2019': 28608710, 'population_change': 1.83}, {'country': 'Venezuela', 'region': 'Americas', 'subregion': 'South America', 'population_2018': 28887118, 'population_2019': 28515829, 'population_change': -1.29})
2021-12-03 17:17:32,545 INFO sqlalchemy.engine.base.Engine INSERT INTO jch5x8.country_population (country, region, subregion, population_2018, population_2019, population_change) VALUES (%(country)s, %(region)s, %(subregion)s, %(population_2018)s, %(population_2019)s, %(population_change)s)
2021-12-03 17:17:32,545 INFO sqlalchemy.engine.base.Engine ({'country': 'Madagascar', 'region': 'Africa', 'subregion': 'Eastern Africa', 'population_2018': 26262313, 'population_2019': 26969307, 'population_change': 2.69}, {'country': 'North Korea', 'region': 'Asia', 'subregion': 'Eastern Asia', 'population_2018': 25549604, 'population_2019': 25666161, 'population_change': 0.46}, {'country': 'Ivory Coast', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 25069230, 'population_2019': 25716544, 'population_change': 2.58}, {'country': 'Cameroon', 'region': 'Africa', 'subregion': 'Middle Africa', 'population_2018': 25216267, 'population_2019': 25876380, 'population_change': 2.62}, {'country': 'Australia', 'region': 'Oceania', 'subregion': 'Australia and New Zealand', 'population_2018': 24898152, 'population_2019': 25203198, 'population_change': 1.23}, {'country': 'Taiwan', 'region': 'Asia', 'subregion': 'Eastern Asia', 'population_2018': 23726460, 'population_2019': 23773876, 'population_change': 0.2}, {'country': 'Niger', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 22442822, 'population_2019': 23310715, 'population_change': 3.87}, {'country': 'Sri Lanka', 'region': 'Asia', 'subregion': 'Southern Asia', 'population_2018': 21228763, 'population_2019': 21323733, 'population_change': 0.45}  ... displaying 10 of 50 total bound parameter sets ...  {'country': 'Serbia', 'region': 'Europe', 'subregion': 'Southern Europe', 'population_2018': 8802754, 'population_2019': 8772235, 'population_change': -0.35}, {'country': 'Switzerland', 'region': 'Europe', 'subregion': 'Western Europe', 'population_2018': 8525611, 'population_2019': 8591365, 'population_change': 0.77})
2021-12-03 17:17:32,557 INFO sqlalchemy.engine.base.Engine INSERT INTO jch5x8.country_population (country, region, subregion, population_2018, population_2019, population_change) VALUES (%(country)s, %(region)s, %(subregion)s, %(population_2018)s, %(population_2019)s, %(population_change)s)
2021-12-03 17:17:32,558 INFO sqlalchemy.engine.base.Engine ({'country': 'Israel', 'region': 'Asia', 'subregion': 'Western Asia', 'population_2018': 8381516, 'population_2019': 8519377, 'population_change': 1.64}, {'country': 'Togo', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 7889093, 'population_2019': 8082366, 'population_change': 2.45}, {'country': 'Sierra Leone', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 7650150, 'population_2019': 7813215, 'population_change': 2.13}, {'country': 'Hong Kong', 'region': 'Asia', 'subregion': 'Eastern Asia', 'population_2018': 7371730, 'population_2019': 7436154, 'population_change': 0.87}, {'country': 'Laos', 'region': 'Asia', 'subregion': 'South-eastern Asia', 'population_2018': 7061507, 'population_2019': 7169455, 'population_change': 1.53}, {'country': 'Paraguay', 'region': 'Americas', 'subregion': 'South America', 'population_2018': 6956066, 'population_2019': 7044636, 'population_change': 1.27}, {'country': 'Bulgaria', 'region': 'Europe', 'subregion': 'Eastern Europe', 'population_2018': 7051608, 'population_2019': 7000119, 'population_change': -0.73}, {'country': 'Lebanon', 'region': 'Asia', 'subregion': 'Western Asia', 'population_2018': 6859408, 'population_2019': 6855713, 'population_change': -0.05}  ... displaying 10 of 50 total bound parameter sets ...  {'country': 'Slovenia', 'region': 'Europe', 'subregion': 'Southern Europe', 'population_2018': 2077837, 'population_2019': 2078654, 'population_change': 0.04}, {'country': 'Guinea-Bissau', 'region': 'Africa', 'subregion': 'Western Africa', 'population_2018': 1874303, 'population_2019': 1920922, 'population_change': 2.49})
2021-12-03 17:17:32,568 INFO sqlalchemy.engine.base.Engine INSERT INTO jch5x8.country_population (country, region, subregion, population_2018, population_2019, population_change) VALUES (%(country)s, %(region)s, %(subregion)s, %(population_2018)s, %(population_2019)s, %(population_change)s)
2021-12-03 17:17:32,569 INFO sqlalchemy.engine.base.Engine ({'country': 'Latvia', 'region': 'Europe', 'subregion': 'Northern Europe', 'population_2018': 1928459, 'population_2019': 1906743, 'population_change': -1.13}, {'country': 'Bahrain', 'region': 'Asia', 'subregion': 'Western Asia', 'population_2018': 1569446, 'population_2019': 1641172, 'population_change': 4.57}, {'country': 'Trinidad and Tobago', 'region': 'Americas', 'subregion': 'Caribbean', 'population_2018': 1389843, 'population_2019': 1394973, 'population_change': 0.37}, {'country': 'Equatorial Guinea', 'region': 'Africa', 'subregion': 'Middle Africa', 'population_2018': 1308975, 'population_2019': 1355986, 'population_change': 3.59}, {'country': 'Estonia', 'region': 'Europe', 'subregion': 'Northern Europe', 'population_2018': 1322920, 'population_2019': 1325648, 'population_change': 0.21}, {'country': 'East Timor', 'region': 'Asia', 'subregion': 'South-eastern Asia', 'population_2018': 1267974, 'population_2019': 1293119, 'population_change': 1.98}, {'country': 'Mauritius', 'region': 'Africa', 'subregion': 'Eastern Africa', 'population_2018': 1189265, 'population_2019': 1198575, 'population_change': 0.78}, {'country': 'Cyprus', 'region': 'Asia', 'subregion': 'Western Asia', 'population_2018': 1170125, 'population_2019': 1179551, 'population_change': 0.81}  ... displaying 10 of 50 total bound parameter sets ...  {'country': 'U.S. Virgin Islands', 'region': 'Americas', 'subregion': 'Caribbean', 'population_2018': 104680, 'population_2019': 104578, 'population_change': -0.1}, {'country': 'Seychelles', 'region': 'Africa', 'subregion': 'Eastern Africa', 'population_2018': 97096, 'population_2019': 97739, 'population_change': 0.66})

2021-12-03 17:17:32,580 INFO sqlalchemy.engine.base.Engine INSERT INTO jch5x8.country_population (country, region, subregion, population_2018, population_2019, population_change) VALUES (%(country)s, %(region)s, %(subregion)s, %(population_2018)s, %(population_2019)s, %(population_change)s)
2021-12-03 17:17:32,580 INFO sqlalchemy.engine.base.Engine ({'country': 'Antigua and Barbuda', 'region': 'Americas', 'subregion': 'Caribbean', 'population_2018': 96286, 'population_2019': 97118, 'population_change': 0.86}, {'country': 'Isle of Man', 'region': 'Europe', 'subregion': 'Northern Europe', 'population_2018': 84077, 'population_2019': 84584, 'population_change': 0.6}, {'country': 'Andorra', 'region': 'Europe', 'subregion': 'Southern Europe', 'population_2018': 77006, 'population_2019': 77142, 'population_change': 0.18}, {'country': 'Dominica', 'region': 'Americas', 'subregion': 'Caribbean', 'population_2018': 71625, 'population_2019': 71808, 'population_change': 0.26}, {'country': 'Cayman Islands', 'region': 'Americas', 'subregion': 'Caribbean', 'population_2018': 64174, 'population_2019': 64948, 'population_change': 1.21}, {'country': 'Bermuda', 'region': 'Americas', 'subregion': 'Northern America', 'population_2018': 62756, 'population_2019': 62506, 'population_change': -0.4}, {'country': 'Marshall Islands', 'region': 'Oceania', 'subregion': 'Micronesia', 'population_2018': 58413, 'population_2019': 58791, 'population_change': 0.65}, {'country': 'Greenland', 'region': 'Americas', 'subregion': 'Northern America', 'population_2018': 56564, 'population_2019': 56672, 'population_change': 0.19}  ... displaying 10 of 33 total bound parameter sets ...  {'country': 'Tokelau', 'region': 'Oceania', 'subregion': 'Polynesia', 'population_2018': 1319, 'population_2019': 1340, 'population_change': 1.59}, {'country': 'Vatican City', 'region': 'Europe', 'subregion': 'Southern Europe', 'population_2018': 801, 'population_2019': 799, 'population_change': -0.25})
2021-12-03 17:17:32,587 INFO sqlalchemy.engine.base.Engine COMMIT

### 5. Test loaded data with SQL queries



```SQL
\x
select * from SSO.country_population limit 2;
```

---

#### TODO: Run the SQL in your database to verify the data was loaded.

If the data was not loaded, please restart from the top and carefully check and redo each step.

### Add the result of your query into the block

dsa_student=> select * from jch5x8.country_population limit 2;
 country | region |   subregion   | population_2018 | population_2019 | population_change
---------+--------+---------------+-----------------+-----------------+-------------------
 China   | Asia   | Eastern Asia  |      1427647786 |      1433783686 |              0.43
 India   | Asia   | Southern Asia |      1352642280 |      1366417754 |              1.02
(2 rows)


#### Now that the data is loaded, let's pull it back out!

In [33]:
df_backout = pd.read_sql_table(
    'country_population',
    con = engine,             # The engine created above
    schema= username   # The schema where the table lives, our pawprint
)

2021-12-03 17:19:40,443 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2021-12-03 17:19:40,444 INFO sqlalchemy.engine.base.Engine {'schema': 'jch5x8'}
2021-12-03 17:19:40,461 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind IN ('v', 'm')
2021-12-03 17:19:40,462 INFO sqlalchemy.engine.base.Engine {'schema': 'jch5x8'}
2021-12-03 17:19:40,469 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (n.nspname = %(schema)s)
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2021-12-03 17:19:40,470 INFO sqlalchemy.engine.base.Engine {'schema': 'jch5x8', 'table_name': 'country_population'}
2021-12-03 17:19:40,471 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2021-12-03 17:19:40,472 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,476 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2021-12-03 17:19:40,477 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:19:40,494 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2021-12-03 17:19:40,494 INFO sqlalchemy.engine.base.Engine {}
2021-12-03 17:19:40,500 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2021-12-03 17:19:40,500 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,503 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2021-12-03 17:19:40,503 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,506 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2021-12-03 17:19:40,507 INFO sqlalchemy.engine.base.Engine {'table': 2039165}
2021-12-03 17:19:40,509 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2021-12-03 17:19:40,509 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,512 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2021-12-03 17:19:40,513 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,515 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2021-12-03 17:19:40,515 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,517 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2021-12-03 17:19:40,517 INFO sqlalchemy.engine.base.Engine {'table_oid': 2039165}
2021-12-03 17:19:40,519 INFO sqlalchemy.engine.base.Engine SELECT jch5x8.country_population.country, jch5x8.country_population.region, jch5x8.country_population.subregion, jch5x8.country_population.population_2018, jch5x8.country_population.population_2019, jch5x8.country_population.population_change
FROM jch5x8.country_population
2021-12-03 17:19:40,520 INFO sqlalchemy.engine.base.Engine {}

In [34]:
df_backout.head(10)

,country,region,subregion,population_2018,population_2019,population_change
0,China,Asia,Eastern Asia,1427647786,1433783686,0.43
1,India,Asia,Southern Asia,1352642280,1366417754,1.02
2,United States,Americas,Northern America,327096265,329064917,0.60
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,1.10
4,Pakistan,Asia,Southern Asia,212228286,216565318,2.04
5,Brazil,Americas,South America,209469323,211049527,0.75
6,Nigeria,Africa,Western Africa,195874683,200963599,2.60
7,Bangladesh,Asia,Southern Asia,161376708,163046161,1.03
8,Russia,Europe,Eastern Europe,145734038,145872256,0.09
9,Mexico,Americas,Central America,126190788,127575529,1.10

In [35]:
df_backout.tail(10)

,country,region,subregion,population_2018,population_2019,population_change
223,Tuvalu,Oceania,Polynesia,11508,11646,1.20
224,Wallis and Futuna,Oceania,Polynesia,11661,11432,-1.96
225,Nauru,Oceania,Micronesia,10670,10756,0.81
226,Saint Helena,Africa,Western Africa,6035,6059,0.40
227,Saint Pierre and Miquelon,Americas,Northern America,5849,5822,-0.46
228,Montserrat,Americas,Caribbean,4993,4989,-0.08
229,Falkland Islands,Americas,South America,3234,3377,4.42
230,Niue,Oceania,Polynesia,1620,1615,-0.31
231,Tokelau,Oceania,Polynesia,1319,1340,1.59
232,Vatican City,Europe,Southern Europe,801,799,-0.25

# Save your notebook, then `File > Close and Halt`

---