# Training and testing - Answers for practice

In this practice you will review and apply the **training and testing** workflow. We now switch over to **white wine quality** dataset. And we are still going to use **decision tree** to fit the dataset. Goal is to get more familiarized on the concepts and steps to carry it out as well as technical details for implementing it based on sci-kit learn API.

In [1]:
import os, sys
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_text
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
np.random.seed(18937) # please leave this line alone

## Load Dataset

**Load dataset** from files into multi-dimensional array and understand its structure.

Note that this .csv file is semicolon separated (;). Make sure you **shuffle the dataset using the sample() and  reset_index method. **

In [2]:
# Dataset location
DATASET = '/dsa/data/all_datasets/wine-quality/winequality-white.csv'
assert os.path.exists(DATASET)

# Add your code below this comment (Question #P1001)
# ----------------------------------
# Load and shuffle
dataset = pd.read_csv(DATASET, sep = ';').sample(frac=1).reset_index(drop=True)

**Print shape and describe** this dataset.

In [3]:
# Add your code below this comment (Question #P1002)
# ----------------------------------
print(dataset.shape)
dataset.describe()

(4898, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

**Initialize** multi-dimensional array **X** and **y**.

**Print number of labels for class 0 and class 1 respectively** after binarization.

In [4]:
# Complete code below this comment  (Question #P1003)
# ----------------------------------
X = np.array(dataset.iloc[:,:-1])
y = np.array(dataset.quality)
print('Label distribution (before):', {i: np.sum(y==i) for i in np.unique(dataset.quality)})

# Binarize wine quality just for simplification
y = (y>=7).astype(int)
# Caution: reversing the order of above 2 statements results in a non-obvious mistake.
#     Make it a habit to check label distribution to make sure it still makes sense and roughly balanced.

print('X', X.shape, 'Y', y.shape)
print('Label distribution (after):', {0: np.sum(y==0), 1: np.sum(y==1)})

Label distribution (before): {3: 20, 4: 163, 5: 1457, 6: 2198, 7: 880, 8: 175, 9: 5}
X (4898, 11) Y (4898,)
Label distribution (after): {0: 3838, 1: 1060}

## Train and validate

**Setup training/test split and use 25% of data for validation.**

In [5]:
# Complete code below this comment  (Question #P1004)
# ----------------------------------
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8269387755102041

## Understand your classification model

In the cell below, add code to dump out the [confusion matrix](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html) and compute the [F₁ score](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.html).

In [6]:
# Add your code below this comment (Question #P1005)
# ----------------------------------
confusion_matrix(y_test, model.predict(X_test))

array([[853, 113],
       [ 99, 160]])

In [7]:
# Add your code below this comment (Question #P1006)
# ----------------------------------
f1_score(y_test, np.round(model.predict(X_test)).astype('i4'), average='micro')

0.8269387755102042

# Save your notebook!