# Nested Queries, aka Subqueries


**Subqueries** (also known as inner queries or nested queries) are a tool for performing operations in multiple steps. 


Nested queries come in a few varieties
  1. Type I (one) nested Query
  1. Type II (two) nested Query
  1. Nested Table Expression

## Conceptual Type I / II Subquery
![Subquery](../images/subquery-syntax.gif)

A subquery is a SQL query nested inside a larger query.

A subquery may occur in :
  * A SELECT clause
  * A FROM clause
  * A WHERE clause

The subquery can be nested inside a SELECT, INSERT, UPDATE, or DELETE statement or inside another subquery.

A subquery is usually added within the WHERE Clause of another SQL SELECT statement.

You can use the comparison operators, such as >, <, or =. The comparison operator can also be a multiple-row operator, such as IN, ANY, or ALL.

A subquery is also called an inner query or inner select, while the statement containing a subquery is also called an outer query or outer select.

The inner query executes first before its parent query so that the results of an inner query can be passed to the outer query.

You can use a subquery in a SELECT, INSERT, DELETE, or UPDATE statement to perform the following tasks :
  * Compare an expression to the result of the query.
  * Determine if an expression is included in the results of the query.
  * Check whether the query selects any rows.

## Nested Table Expression

As discussed, all SQL SELECT statements produce a _tabular_ result.

As such, the result of a query can be utilized in place of an actual table name.

This is exactly what happens in the database when you utilize a _VIEW_ in a query statement.

The remainder of this module explores the Type I and II subqueries, then the next module explores the nested table expression.

## Additional Reading

  * [SQL Subquery](https://www.tutorialspoint.com/sql/sql-sub-queries.htm)
  * [Further Reading](http://www.w3resource.com/sql/subqueries/nested-subqueries.php)