# Table Expressions

Note the general syntax of a simple SQL

```SQL
SELECT <col_list>
FROM <table>
WHERE <row_constraint>
```

Whenever we are using the `<table_A> JOIN <table_B>` syntax, we are creating a ** _table expression_**.
The result of this expression is a set of columns from both tables, A and B, composed of the matched rows.

We can actually generalize SQL SELECT Statements as the following:

![table expression](../images/SQL_TableExpression.png)

# Subquery Table Expressions

Also known as, **_Derived Tables_**


If a table or view can be the input of SQL `SELECT`, then we should be able dynamically define a table expression in the body of that `SELECT`.

That is:

```SQL
SELECT <col_list_a>
FROM (
    SELECT <col_list_b>
    FROM <table_expressions_list>
    WHERE ... 
    ) as <derived_table_alias>
WHERE <row_constraints>
```

**Example** from our DVD Rental database.

How many movies have been rented more than four times?

```SQL
SELECT COUNT(*) 
FROM (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;

 count 
-------
  1139
(1 row)
```

Or, the actual Movie names?

```SQL
SELECT i.film_id, f.title 
FROM film f 
JOIN inventory as i USING (film_id) 
NATURAL JOIN (
    SELECT inventory_id, COUNT(*) 
    FROM rental 
    GROUP BY inventory_id 
    HAVING COUNT(*) > 4
    ) as rent_counts;
```
---
#### Note the mixed use of the Natural JOIN versus the JOIN.
### Ponder why the Natural JOIN was not used between Film and Inventory.