# Database Functions

In this practice, you will create a couple more functions for your Survey tables.

----

<div class="row">
<div class="col-md-6">

<p>  
<strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>


<strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

----

### Recall the general structure of the PostgreSQL function.

```
CREATE FUNCTION function_name(... arguments and data types ...)
RETURNS return_datatype
as
$$
DECLARE
   ... function local variables ... ;
BEGIN
   ... body of logic ...

   RETURN result_value;
END;
$$
LANGUAGE plpgsql;
```

See full documentation at: http://www.postgresql.cn/docs/10/sql-createfunction.html

## 1  Create the `totalSites` function in your database schema.

1. Update the below function, then use the terminal to define it.
2. Then, show the result of the `\df` command for your function. 
3. Finally, run the function with the `SELECT` command.

CREATE OR REPLACE FUNCTION jch5x8.totalSites ()
RETURNS integer AS $$
DECLARE
    total integer;
BEGIN
   SELECT count(*) INTO total FROM jch5x8.site;
   RETURN total;
END;
$$ LANGUAGE plpgsql;

# 1.2 Show the \df

                                                                                               List of functions
 Schema |    Name    | Result data type | Argument data types | Type | Volatility | Parallel | Owner  | Security | Access p
rivileges | Language |                   Source code                   | Description
--------+------------+------------------+---------------------+------+------------+----------+--------+----------+---------
----------+----------+-------------------------------------------------+-------------
 jch5x8 | totalsites | integer          |                     | func | volatile   | unsafe   | jch5x8 | invoker  |
          | plpgsql  |                                                +|
        |            |                  |                     |      |            |          |        |          |
          |          | DECLARE                                        +|
        |            |                  |                     |      |            |          |        |          |
          |          |     total integer;                             +|
        |            |                  |                     |      |            |          |        |          |
          |          | BEGIN                                          +|
        |            |                  |                     |      |            |          |        |          |
          |          |    SELECT count(*) INTO total FROM jch5x8.site;+|
        |            |                  |                     |      |            |          |        |          |
          |          |    RETURN total;                               +|
        |            |                  |                     |      |            |          |        |          |
          |          | END;                                           +|
        |            |                  |                     |      |            |          |        |          |
          |          |                                                 |
(1 row)

# 1.3 Show the result of running the function

 totalsites
------------
          3
(1 row)

## 2  Create the `totalReadingsForSite` function in your database schema.

1. Update the below function, then use the terminal to define it.
2. Then, show the result of the `\df` command for your function. 
3. Finally, run the function with the `SELECT` command.

### Note: We are now using a parameter variable in the function call!

#### Note: how the `p_site` variable is used within the SQL `SELECT ... INTO ....`

##### Think about how you expect the calling of the function to change since it has a parameter.

**Warning, if the function is called wrong, you may see:**
```
ERROR:  function totalreadingsforsite() does not exist
LINE 1: select totalreadingsforsite();
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.
```


CREATE OR REPLACE FUNCTION SSO.totalReadingsForSite(p_site text)
RETURNS integer AS $$
DECLARE
    total integer;
BEGIN
   SELECT count(*) INTO total
    FROM SSO.visited v JOIN SSO.survey s ON (v.id::int=s.taken::int)
    WHERE v.site= p_site ;
   RETURN total;
END;
$$ LANGUAGE plpgsql;

# 1.2 Show the \df

                                                                                                                  List of f
unctions
 Schema |         Name         | Result data type | Argument data types | Type | Volatility | Parallel | Owner  | Security
| Access privileges | Language |                                Source code                                 | Description
--------+----------------------+------------------+---------------------+------+------------+----------+--------+----------
+-------------------+----------+----------------------------------------------------------------------------+-------------
 jch5x8 | totalreadingsforsite | integer          | p_site text         | func | volatile   | unsafe   | jch5x8 | invoker
|                   | plpgsql  |                                                                           +|
        |                      |                  |                     |      |            |          |        |
|                   |          | DECLARE                                                                   +|
        |                      |                  |                     |      |            |          |        |
|                   |          |     total integer;                                                        +|
        |                      |                  |                     |      |            |          |        |
|                   |          | BEGIN                                                                     +|
        |                      |                  |                     |      |            |          |        |
|                   |          |    SELECT count(*) INTO total                                             +|
        |                      |                  |                     |      |            |          |        |
|                   |          |     FROM jch5x8.visited v JOIN jch5x8.survey s ON (v.id::int=s.taken::int)+|
        |                      |                  |                     |      |            |          |        |
|                   |          |     WHERE v.site= p_site ;                                                +|
        |                      |                  |                     |      |            |          |        |
|                   |          |    RETURN total;                                                          +|
        |                      |                  |                     |      |            |          |        |
|                   |          | END;                                                                      +|
        |                      |                  |                     |      |            |          |        |
|                   |          |                                                                            |
(1 row)

You should have something very similar to the below.

```
dsa_student=# \df SSO.totalreadingsforsite
                                List of functions
 Schema  |         Name         | Result data type | Argument data types |  Type
---------+----------------------+------------------+---------------------+--------
 SSO     | totalreadingsforsite | integer          | p_site text         | normal
(1 row)
```

# 1.3 Show the result of running the function

dsa_student=> select * from jch5x8.totalreadingsforsite('DR-3'::text);
 totalreadingsforsite
----------------------
                   13
(1 row)

You should see results similar to below, depending on which argument you pass to the function.

```
dsa_student=# select totalreadingsforsite('DR-3');
 totalreadingsforsite
----------------------
                   13
(1 row)

dsa_student=# select totalreadingsforsite('DR-2');
 totalreadingsforsite
----------------------
                    0
(1 row)

dsa_student=# select totalreadingsforsite('DR-1');
 totalreadingsforsite
----------------------
                    5
(1 row)
```

# Save your notebook, then `File > Close and Halt`