# Triggers in PostgreSQL


For this lab, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

# Approximate Starting State of Survey Database 


<div class="row">
<div class="col-md-6">

<p><strong>Person</strong>: people who took readings.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>personal</th>
<th>family</th>
</tr>
</thead>
<tbody>
<tr>
<td>dyer</td>
<td>William</td>
<td>Dyer</td>
</tr>
<tr>
<td>pb</td>
<td>Frank</td>
<td>Pabodie</td>
</tr>
<tr>
<td>lake</td>
<td>Anderson</td>
<td>Lake</td>
</tr>
<tr>
<td>roe</td>
<td>Valentina</td>
<td>Roerich</td>
</tr>
<tr>
<td>danforth</td>
<td>Frank</td>
<td>Danforth</td>
</tr>
</tbody>
</table>

<p><strong>Site</strong>: locations where readings were taken.</p>

<table>
<thead>
<tr>
<th>name</th>
<th>lat</th>
<th>long</th>
</tr>
</thead>
<tbody>
<tr>
<td>DR-1</td>
<td>-49.85</td>
<td>-128.57</td>
</tr>
<tr>
<td>DR-3</td>
<td>-47.15</td>
<td>-126.72</td>
</tr>
<tr>
<td>MSK-4</td>
<td>-48.87</td>
<td>-123.4</td>
</tr>
</tbody>
</table>

<p><strong>Visited</strong>: when readings were taken at specific sites.</p>

<table>
<thead>
<tr>
<th>id</th>
<th>site</th>
<th>dated</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>DR-1</td>
<td>1927-02-08</td>
</tr>
<tr>
<td>622</td>
<td>DR-1</td>
<td>1927-02-10</td>
</tr>
<tr>
<td>734</td>
<td>DR-3</td>
<td>1930-01-07</td>
</tr>
<tr>
<td>735</td>
<td>DR-3</td>
<td>1930-01-12</td>
</tr>
<tr>
<td>751</td>
<td>DR-3</td>
<td>1930-02-26</td>
</tr>
<tr>
<td>752</td>
<td>DR-3</td>
<td>-null-</td>
</tr>
<tr>
<td>837</td>
<td>MSK-4</td>
<td>1932-01-14</td>
</tr>
<tr>
<td>844</td>
<td>DR-1</td>
<td>1932-03-22</td>
</tr>
</tbody>
</table>

</div>
<div class="col-md-6">

<p><strong>Survey</strong>: the actual readings.</p>

<table>
<thead>
<tr>
<th>taken</th>
<th>person</th>
<th>quant</th>
<th>reading</th>
</tr>
</thead>
<tbody>
<tr>
<td>619</td>
<td>dyer</td>
<td>rad</td>
<td>9.82</td>
</tr>
<tr>
<td>619</td>
<td>dyer</td>
<td>sal</td>
<td>0.13</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>rad</td>
<td>7.8</td>
</tr>
<tr>
<td>622</td>
<td>dyer</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>rad</td>
<td>8.41</td>
</tr>
<tr>
<td>734</td>
<td>lake</td>
<td>sal</td>
<td>0.05</td>
</tr>
<tr>
<td>734</td>
<td>pb</td>
<td>temp</td>
<td>-21.5</td>
</tr>
<tr>
<td>735</td>
<td>pb</td>
<td>rad</td>
<td>7.22</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>sal</td>
<td>0.06</td>
</tr>
<tr>
<td>735</td>
<td>-null-</td>
<td>temp</td>
<td>-26.0</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>rad</td>
<td>4.35</td>
</tr>
<tr>
<td>751</td>
<td>pb</td>
<td>temp</td>
<td>-18.5</td>
</tr>
<tr>
<td>751</td>
<td>lake</td>
<td>sal</td>
<td>0.1</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>rad</td>
<td>2.19</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>sal</td>
<td>0.09</td>
</tr>
<tr>
<td>752</td>
<td>lake</td>
<td>temp</td>
<td>-16.0</td>
</tr>
<tr>
<td>752</td>
<td>roe</td>
<td>sal</td>
<td>41.6</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>rad</td>
<td>1.46</td>
</tr>
<tr>
<td>837</td>
<td>lake</td>
<td>sal</td>
<td>0.21</td>
</tr>
<tr>
<td>837</td>
<td>roe</td>
<td>sal</td>
<td>22.5</td>
</tr>
<tr>
<td>844</td>
<td>roe</td>
<td>rad</td>
<td>11.25</td>
</tr>
</tbody>
</table>

</div>
</div>

## Task:  Creating an Audit Record for the Survey Readings Table


Measurements and readings are a critical part of any scientific endeavor.
For this reason, the survey team wants to have a historical account of the readings and and changes to the table.

To achieve this, we need two things:
  1. A table to hold _audit records_
  1. A trigger on the Survey table monitor for changes and record them in the audit table.
  
### The audit table

We need to decide what we are going to track.

Typically, in audit tables we will want a time stamp as the other element of the key.
Then, each data row in the Survey table has one or more associated rows in the audit table.
```SQL
dsa_student=# \d SSO.survey
               Table "SSO.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |
```

The only value remaining is the `reading`, aka measurement.
This is the value we truly want to audit.

Therefore, we can have a representation of `old_reading` and `new_reading`.
```SQL
(taken, person, quant, change_time, old_reading, new_reading)
```

#### Converting this to a database table:


```SQL
CREATE TABLE Survey_Audit (
    taken integer,
    person text,
    quant text,
    change_time text DEFAULT now(),
    old_reading real,
    new_reading real
);
```

**Note**: The `DEFAULT now()` says that if a value is not supplied during an insert, use the current timestamp.

Let's look at what that built-in function does.

```SQL
dsa_student=# select now();
              now
-------------------------------
 2024-12-31 07:09:11.141720-06
(1 row)
```

#### Create the audit table
Modify the SQL below and use your terminal to create the audit table.

CREATE TABLE SSO.survey_audit (
    taken integer,
    person text,
    quant text,
    change_time text DEFAULT now(),
    old_reading real,
    new_reading real
);

 * After creating the audit table, describe it.

The expected description of the table is approximately below. 
Notice the default column has a function listed, `now()`, for the change_time column.

```
dsa_student=# \d survey_audit
              Table "SSO.survey_audit"
   Column    |  Type   | Collation | Nullable | Default
-------------+---------+-----------+----------+---------
 taken       | integer |           |          |
 person      | text    |           |          |
 quant       | text    |           |          |
 change_time | text    |           |          | now()
 old_reading | real    |           |          |
 new_reading | real    |           |          |
```

### Determining Trigger Events

What events do we want to monitor and audit?

We know we want to track a change, which is `UPDATE`. 
Do we want to track `INSERT` and `DELETE`?

First, we will audit the `UPDATE`.

**RECALL**: That audits are usually done with `AFTER` timing.

We want our trigger to have the following characteristics:
  * AFTER UPDATE
  * FOR EACH ROW, row level
  * Only audit `WHEN` we are changing the reading value

---

## PostgreSQL uses a two component style.

1. A trigger function
2. The defined trigger action on a table

### Trigger Function

Below is an example trigger function.  Note the following:
 * The function takes no arguments.
 * The function receives implicit arguments of `NEW` and `OLD`
   * OLD represents the existing row before the table change was started (for DELETE or UPDATE)
   * NEW represents the resulting row after the table change will be completed (for UPDATE or INSERT)
 * The return type is `TRIGGER`
 * The `NEW` and `OLD` have field values that match the table column names.
 * The returned values are the `NEW` implicit argument (variable) that may have been altered.

```SQL
CREATE OR REPLACE FUNCTION SSO.audit_SSO_survey_reading_changes()
  RETURNS TRIGGER 
  AS
$$
BEGIN
	IF NEW.reading <> OLD.reading THEN
		 INSERT INTO SSO.survey_audit
           (taken, person, quant, old_reading, new_reading)
           VALUES
           (OLD.taken, OLD.person, OLD.quant, OLD.reading, NEW.reading);
	END IF;

	RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;
```

# Copy - Paste - Edit your trigger function below this line

CREATE OR REPLACE FUNCTION jch5x8.audit_SSO_survey_reading_changes()
  RETURNS TRIGGER 
  AS
$$
BEGIN
    IF NEW.reading <> OLD.reading THEN
         INSERT INTO jch5x8.survey_audit
           (taken, person, quant, old_reading, new_reading)
           VALUES
           (OLD.taken, OLD.person, OLD.quant, OLD.reading, NEW.reading);
    END IF;

    RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;

Paste your trigger function into the database terminal environment to create the function.

After creating the trigger function, you can describe it and see similar to below.

```SQL
dsa_student=# \df SSO.audit_SSO_survey_reading_changes
                                     List of functions
 Schema  |             Name                 | Result data type | Argument data types |  Type
---------+----------------------------------+------------------+---------------------+--------
 SSO     | audit_SSO_survey_reading_changes | trigger          |                     | trigger
(1 row)
```

-----

### Define Trigger Action

The next step is to link this trigger function to an action on a table.

Here we will define a trigger `survey_update_audit` on the `survey` table.
Note the following:
 * The action is `AFTER UPDATE`, meaning it fires after an `UPDATE survey ...` command.
 * The action is tied to the `survey` table
 * The action happens for every row that is updated
 * The action is to execute a stored procedure, `audit_SSO_survey_reading_changes()`

```SQL

DROP TRIGGER IF EXISTS SSO_survey_update_audit ON SSO.survey;

CREATE TRIGGER SSO_survey_update_audit
  AFTER UPDATE
  ON SSO.survey
  FOR EACH ROW
  EXECUTE PROCEDURE SSO.audit_SSO_survey_reading_changes();
```
---

* Notice that we included the `DROP TRIGGER IF EXISTS ... ` for when you repeat this step.
We did not see the _Drop-If-Exists_ concept with Views or Functions because we used the _Create-Or-Replace_ syntax for those.

# Copy - Paste - Edit your trigger definition below this line

DROP TRIGGER IF EXISTS SSO_survey_update_audit ON jch5x8.survey;

CREATE TRIGGER SSO_survey_update_audit
  AFTER UPDATE
  ON jch5x8.survey
  FOR EACH ROW
  EXECUTE PROCEDURE jch5x8.audit_SSO_survey_reading_changes();

Paste your trigger definition into the database terminal environment to create the trigger.

After creating the trigger, you can describe the table and see the linked trigger.

```SQL
dsa_student=# \d SSO.survey
               Table "SSO.survey"
 Column  |  Type   | Collation | Nullable | Default
---------+---------+-----------+----------+---------
 taken   | integer |           |          |
 person  | text    |           |          |
 quant   | text    |           |          |
 reading | real    |           |          |
Triggers:
    survey_update_audit AFTER UPDATE ON survey FOR EACH ROW EXECUTE PROCEDURE audit_SSO_survey_reading_changes()
```


-----

## Now, we can see what happens when we update a rows of the survey table.

First, review some rows.

```SQL
SELECT * FROM SSO.survey 
WHERE person = 'lake' 
AND quant = 'sal';
```
 * Result
```SQL
 taken | person | quant | reading
-------+--------+-------+---------
   734 | lake   | sal   |    0.05
   751 | lake   | sal   |     0.1
   752 | lake   | sal   |    0.09
   837 | lake   | sal   |    0.21
(4 rows)
```

---

We can also check the existing audit table.

```SQL
SELECT * FROM SSO.survey_audit;
```
 * Result
```SQL
 taken | person | quant | change_time | old_reading | new_reading
-------+--------+-------+-------------+-------------+-------------
(0 rows)
```

#### Now, Update a single row

```SQL
UPDATE SSO.survey 
SET reading = 0.111
WHERE taken = 751
AND person = 'lake' 
AND quant = 'sal';
```
Copy - Paste - Edit the update statement, then run it in the database.

# Paste your Edit of the UPDATE statement below this line

UPDATE jch5x8.survey 
SET reading = 0.111
WHERE taken = 751
AND person = 'lake' 
AND quant = 'sal';

Afterwards, check the survey table and the audit table.

Expected Results

```SQL
dsa_student=# SELECT * FROM SSO.survey
WHERE person = 'lake'
and quant = 'sal';
 taken | person | quant | reading
-------+--------+-------+---------
   734 | lake   | sal   |    0.05
   752 | lake   | sal   |    0.09
   837 | lake   | sal   |    0.21
   751 | lake   | sal   |   0.111
(4 rows)
```

**Note**: We see the 751/lake/sal line has moved to the end and the reading changed from 0.1 to 0.111.

Let's see if this was captured in our audit table.

```SQL
dsa_student=# SELECT * FROM SSO.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2024-12-31 12:08:07.991284-06 |         0.1 |       0.111
(1 row)
```

### Now, let's change the value back to 0.1

```SQL
UPDATE SSO.survey 
SET reading = 0.1
WHERE taken = 751
AND person = 'lake' 
and quant = 'sal';
```
Then review the audit.  You will notice a new audit row.

```SQL
dsa_student=# UPDATE SSO.survey
dsa_student-# SET reading = 0.1
dsa_student-# WHERE taken = 751
dsa_student-# AND person = 'lake'
dsa_student-# AND quant = 'sal';
UPDATE 1

dsa_student=# SELECT * FROM SSO.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2024-12-31 08:08:07.991284-06 |         0.1 |       0.111
   751 | lake   | sal   | 2024-12-31 08:14:22.659717-06 |       0.111 |         0.1
(2 rows)
```

# Paste your Edit of the UPDATE statement below this line

UPDATE jch5x8.survey 
SET reading = 0.1
WHERE taken = 751
AND person = 'lake' 
and quant = 'sal';

# Paste your Edit of the SELECT statement below this line

SELECT * FROM jch5x8.survey
WHERE person = 'lake'
and quant = 'sal';

# Paste your Audit table result below this line

SELECT * FROM jch5x8.survey_audit;

#### However, if we update again

```SQL
dsa_student=# UPDATE SSO.survey
SET reading = 0.1
WHERE taken = 751
AND person = 'lake'
AND quant = 'sal';
UPDATE 1

dsa_student=# SELECT * FROM SSO.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2024-12-31 08:08:07.991284-06 |         0.1 |       0.111
   751 | lake   | sal   | 2024-12-31 08:14:22.659717-06 |       0.111 |         0.1
(2 rows)
```

**Note:** Since the second time we do the update the value of reading is not changing.
The `IF` clause on the trigger prevents the code from executing.

```SQL
IF (OLD.reading <> NEW.reading)
```

----

# Paste your Edit of the UPDATE statement below this line

UPDATE jch5x8.survey 
SET reading = 0.1
WHERE taken = 751
AND person = 'lake' 
and quant = 'sal';

# Paste your Edit of the SELECT statement below this line

SELECT * FROM jch5x8.survey
WHERE person = 'lake'
and quant = 'sal';

# Paste your Audit table result below this line

SELECT * FROM jch5x8.survey_audit;

---

# Save your notebook, then `File > Close and Halt`