# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger function to audit deletes on the survey table.

In [ ]:
# Add your trigger function below this line.

/* It looks like many people are having trouble understanding triggers. Please make sure to read the reading materials and the descriptions in the lab and practices. Here is a brief explanation:
There are two components in a trigger as explained in the lab:
Trigger definition: when to trigger the trigger function
Trigger function: what to do after a trigger has been triggered
This is the basic structure of a trigger definition based on the example in lab:
*/
CREATE TRIGGER name_of_the_trigger
  when to trigger (BEFORE/AFTER UPDATE/INSERT/DELETE)
  ON table_being_watched
  FOR EACH ROW
  EXECUTE PROCEDURE name_of_trigger_function();
 
-- This is the basic structure of a trigger function based on the example in lab:
CREATE FUNCTION name_of_trigger_function()
  RETURNS TRIGGER
  AS
$$
BEGIN
  extra criteria for the action to be executed, might not be necessary in every situation (IF …)
        the actual action of the trigger (INSERT INTO table_being_affected VALUES …)
END;
$$
LANGUAGE PLPGSQL;
 
/* The NEW/OLD keywords are based on the event which triggers the trigger. For UPDATE, the
   OLD is the old record before the update, and the NEW is the record with the updated values.
   So, for DELETE in the exercise, please think about what deletion does, and what would be the
   NEW and OLD record in this case. Please also think about the nature of deletion, which of
   BEFORE or AFTER makes more sense when you want to have an archive?
*/

----

### 2 Create your trigger on the survey table.

# Add your trigger definition below this line.

# Show the table describe for the Survey table that should include three triggers now.

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 3.1 Show the delete statements

# 3.2 Show the full survey table

# 3.3 Show the resulting audit rows.

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 4.1 Show the delete statements

# 4.2 Show the full survey table

# 4.3 Show the resulting audit rows.

# Save your notebook, then `File > Close and Halt`