# Triggers in PostgreSQL - Exercise


For this exercise, you will connect to the `dsa_student` database and create functions within your schema, i.e., your pawprint should replace SSO below.

--- 

## Audit the Survey Table for Deletes

### 1 Define and create your trigger function to audit deletes on the survey table.

# Add your trigger function below this line.

CREATE OR REPLACE FUNCTION jch5x8.audit_jch5x8_survey_reading_delete()
  RETURNS TRIGGER 
  AS
$$
BEGIN
   INSERT INTO jch5x8.survey_audit
       (taken, person, quant, old_reading, new_reading)
   VALUES
       (OLD.taken, OLD.person, OLD.quant, OLD.reading, NULL);
   RETURN NEW;
END;
$$
LANGUAGE PLPGSQL;

----

### 2 Create your trigger on the survey table.

# Add your trigger definition below this line.

DROP TRIGGER IF EXISTS jch5x8_survey_delete_audit ON jch5x8.survey;

CREATE TRIGGER jch5x8_survey_delete_audit
  AFTER DELETE
  ON jch5x8.survey
  FOR EACH ROW
  EXECUTE PROCEDURE jch5x8.audit_jch5x8_survey_reading_delete();

# Show the table describe for the Survey table that should include three triggers now.

                                   Table "jch5x8.survey"
 Column  |  Type   | Collation | Nullable | Default | Storage  | Stats target | Description
---------+---------+-----------+----------+---------+----------+--------------+-------------
 taken   | integer |           |          |         | plain    |              |
 person  | text    |           |          |         | extended |              |
 quant   | text    |           |          |         | extended |              |
 reading | real    |           |          |         | plain    |              |
Triggers:
    jch5x8_survey_delete_audit AFTER DELETE ON survey FOR EACH ROW EXECUTE PROCEDURE audit_jch5x8_survey_reading_delete()
    jch5x8_survey_insert_audit AFTER INSERT ON survey FOR EACH ROW EXECUTE PROCEDURE audit_jch5x8_survey_reading_insert()
    jch5x8_survey_update_audit AFTER UPDATE ON survey FOR EACH ROW EXECUTE PROCEDURE audit_jch5x8_survey_reading_changes()

### 3 Remove Rows

Note: In the practice we executed this multi-insert statement.

```SQL
INSERT INTO SSO.survey VALUES 
(619,'lake','rad',8.72),
(619,'lake','sal',2.03),
(622,'lake','rad',8.8),
(622,'lake','sal',1.9)
;
```

#### In the cells below, 
 1. Write a two distinct DELETE Statements for 619/lake rows.
     1. removing this data (619,'lake','rad',8.72)
     2. removing this data (619,'lake','sal',2.03)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 3.1 Show the delete statements

DELETE FROM jch5x8.survey
WHERE   person = 'lake'
        AND reading = '8.72';

DELETE FROM jch5x8.survey
WHERE   person = 'lake'
        AND reading = '2.03';

# 3.2 Show the full survey table

dsa_student=> select * from jch5x8.survey;
 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   619 | dyer   | sal   |    0.13
   622 | dyer   | rad   |     7.8
   622 | dyer   | sal   |    0.09
   734 | pb     | rad   |    8.41
   734 | lake   | sal   |    0.05
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | sal   |    0.06
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   752 | lake   | rad   |    2.19
   752 | lake   | sal   |    0.09
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   837 | lake   | sal   |    0.21
   751 | lake   | sal   |     0.1
   752 | roe    | sal   |   41.61
   837 | roe    | sal   |   22.51
   844 | roe    | rad   |   11.26
   619 | roe    | rad   |     101
   619 | roe    | rad   |     101
   622 | lake   | rad   |     8.8
   622 | lake   | sal   |     1.9
(25 rows)

# 3.3 Show the resulting audit rows.

dsa_student=> select * from jch5x8.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2021-11-18 19:05:07.297114-06 |         0.1 |       0.111
   751 | lake   | sal   | 2021-11-18 19:09:06.025188-06 |       0.111 |         0.1
   752 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        41.6 |       41.61
   837 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        22.5 |       22.51
   844 | roe    | rad   | 2021-11-19 20:59:31.679954-06 |       11.25 |       11.26
   619 | roe    | rad   | 2021-11-19 21:26:48.668515-06 |             |         101
   619 | roe    | rad   | 2021-11-19 21:27:06.950154-06 |             |         101
   619 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |        8.72
   619 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |        2.03
   622 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |         8.8
   622 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |         1.9
   619 | lake   | sal   | 2021-11-22 11:02:13.630605-06 |        2.03 |
   619 | lake   | rad   | 2021-11-22 11:02:20.994141-06 |        8.72 |
(13 rows)

---

### 4 Remove the other two rows with a single delete statement.

 1. Write a single DELETE Statement for the 622/lake rows.
     1. removing this data (622,'lake','rad',8.8)
     2. removing this data (622,'lake','sal',1.9)
 2. Show the data in the survey table.
 3. Show the resulting audit rows.

# 4.1 Show the delete statements

DELETE FROM jch5x8.survey
WHERE   person = 'lake'
        AND taken = '622';

# 4.2 Show the full survey table

dsa_student=> select * from jch5x8.survey;
 taken | person | quant | reading
-------+--------+-------+---------
   619 | dyer   | rad   |    9.82
   619 | dyer   | sal   |    0.13
   622 | dyer   | rad   |     7.8
   622 | dyer   | sal   |    0.09
   734 | pb     | rad   |    8.41
   734 | lake   | sal   |    0.05
   734 | pb     | temp  |   -21.5
   735 | pb     | rad   |    7.22
   735 |        | sal   |    0.06
   735 |        | temp  |     -26
   751 | pb     | rad   |    4.35
   751 | pb     | temp  |   -18.5
   752 | lake   | rad   |    2.19
   752 | lake   | sal   |    0.09
   752 | lake   | temp  |     -16
   837 | lake   | rad   |    1.46
   837 | lake   | sal   |    0.21
   751 | lake   | sal   |     0.1
   752 | roe    | sal   |   41.61
   837 | roe    | sal   |   22.51
   844 | roe    | rad   |   11.26
   619 | roe    | rad   |     101
   619 | roe    | rad   |     101
(23 rows)

# 4.3 Show the resulting audit rows.

dsa_student=> select * from jch5x8.survey_audit;
 taken | person | quant |          change_time          | old_reading | new_reading
-------+--------+-------+-------------------------------+-------------+-------------
   751 | lake   | sal   | 2021-11-18 19:05:07.297114-06 |         0.1 |       0.111
   751 | lake   | sal   | 2021-11-18 19:09:06.025188-06 |       0.111 |         0.1
   752 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        41.6 |       41.61
   837 | roe    | sal   | 2021-11-19 20:59:31.679954-06 |        22.5 |       22.51
   844 | roe    | rad   | 2021-11-19 20:59:31.679954-06 |       11.25 |       11.26
   619 | roe    | rad   | 2021-11-19 21:26:48.668515-06 |             |         101
   619 | roe    | rad   | 2021-11-19 21:27:06.950154-06 |             |         101
   619 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |        8.72
   619 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |        2.03
   622 | lake   | rad   | 2021-11-19 21:39:56.894566-06 |             |         8.8
   622 | lake   | sal   | 2021-11-19 21:39:56.894566-06 |             |         1.9
   619 | lake   | sal   | 2021-11-22 11:02:13.630605-06 |        2.03 |
   619 | lake   | rad   | 2021-11-22 11:02:20.994141-06 |        8.72 |
   622 | lake   | rad   | 2021-11-22 11:06:17.189738-06 |         8.8 |
   622 | lake   | sal   | 2021-11-22 11:06:17.189738-06 |         1.9 |
(15 rows)

# Save your notebook, then `File > Close and Halt`