# Window Functions

A window function will perform a calculation across a set of rows that are related to each other. 
This is very similar to how the aggregate function works, however the Window Functions do not force the output to be a single row.
Instead, the rows retain their separate identities. 
Behind the scenes, the window function is able to access more than just the current row of the query result.
Conceptually, this is similar to a nested loop structure over the same table, i.e., for each row of the table the window function can process all the related rows within the table.



The syntax is as follows:

```SQL
SELECT <cols>, <aggr_f(col)> OVER (<partition>)
FROM ... 
```




## Example Database

We will use the `houses` table from the readonly database.

```SQL
dsa_ro=> \d houses
                             Table "public.houses"
    Column     |  Type   |                      Modifiers                      
---------------+---------+-----------------------------------------------------
 id            | integer | not null default nextval('houses_id_seq'::regclass)
 date          | text    | 
 price         | real    | 
 bedrooms      | integer | 
 bathrooms     | real    | 
 sqft_living   | integer | 
 sqft_lot      | integer | 
 floors        | real    | 
 waterfront    | integer | 
 view          | integer | 
 condition     | integer | 
 grade         | integer | 
 sqft_above    | integer | 
 sqft_basement | integer | 
 yr_built      | integer | 
 yr_renovated  | integer | 
 zipcode       | integer | 
 lat           | real    | 
 long          | real    | 
 sqft_living15 | integer | 
 sqft_lot15    | integer | 
Indexes:
    "houses_pkey" PRIMARY KEY, btree (id)

dsa_ro=> SELECT count(*), grade FROM houses GROUP BY grade ORDER BY 2;
 count | grade 
-------+-------
     1 |     1
     3 |     3
    29 |     4
   242 |     5
  2038 |     6
  8981 |     7
  6068 |     8
  2615 |     9
  1134 |    10
   399 |    11
    90 |    12
    13 |    13
(12 rows)
```

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dsa_ro

'Connected: dsa_ro_user@dsa_ro'

## Partitions, an Average example

For our first example of a Window Function, we will calculate the average home `price` for single `grade` in the table.
What we are doing is building a method to compare row values to aggregate values.

In [2]:
%%sql
SELECT id,price, AVG(price) OVER (PARTITION BY grade) FROM houses WHERE grade = 13;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
13 rows affected.

[(4412, 5570000.0, 3709615.38461538),
 (4812, 2479000.0, 3709615.38461538),
 (5452, 1780000.0, 3709615.38461538),
 (6042, 2385000.0, 3709615.38461538),
 (7036, 3800000.0, 3709615.38461538),
 (7253, 7700000.0, 3709615.38461538),
 (7908, 3200000.0, 3709615.38461538),
 (9255, 6885000.0, 3709615.38461538),
 (10374, 2983000.0, 3709615.38461538),
 (13412, 2415000.0, 3709615.38461538),
 (13701, 2340000.0, 3709615.38461538),
 (14557, 2888000.0, 3709615.38461538),
 (19018, 3800000.0, 3709615.38461538)]

Notice in the results above, every row is holding the `AVG(price)` in the third column.

Alternatively, we can use a window function as part of a column function. 

Below you will see that price_delta will hold the `price - AVG(price)` of every row now.

In [3]:
%%sql
SELECT id,(price - AVG(price) OVER (PARTITION BY grade))::int as price_delta 
FROM houses 
WHERE grade = 13
ORDER BY 2 DESC;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
13 rows affected.

[(7253, 3990385),
 (9255, 3175385),
 (4412, 1860385),
 (19018, 90385),
 (7036, 90385),
 (7908, -509615),
 (10374, -726615),
 (14557, -821615),
 (4812, -1230615),
 (13412, -1294615),
 (6042, -1324615),
 (13701, -1369615),
 (5452, -1929615)]

## Multiple partitions

In the above example, we limited our SQL to just `grade = 4` to see the effect within a group.

In this example, we show four different grades to see how the `AVG()` value resets for each group, where the group is defined by 
```SQL
PARTITION BY grade
```

Given this statement:
```SQL
SELECT id, grade, price
  , AVG(price) OVER (PARTITION BY grade)
FROM houses 
WHERE grade IN (1,3,4,13)
ORDER BY 2, 3 DESC
```

We are telling the SQL to do the following:
  1. Partition the data into groups using the `grade` column.  Each of these partitions is a **window** of inspection.
  1. For each partition/window, compute the _average_ `price`.
  1. For each row in a partition/window, list _average_ `price` of that window as a column.
  
Contrast that behavior to a standard `GROUP BY`:

```SQL
dsa_ro=> SELECT grade, avg(price)
FROM houses
WHERE grade IN (1,3,4,13)
GROUP BY grade
ORDER BY grade;

 grade |       avg        
-------+------------------
     1 |           142000
     3 | 205666.666666667
     4 | 214381.034482759
    13 | 3709615.38461538
(4 rows)
```

There we get one row per `grade`.
Now run the cell below.

In [4]:
%%sql
SELECT id, grade,price, AVG(price) OVER (PARTITION BY grade)
FROM houses 
WHERE grade IN (1,3,4,13)
ORDER BY 2, 3 DESC
;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
46 rows affected.

[(19453, 1, 142000.0, 142000.0),
 (5833, 3, 280000.0, 205666.666666667),
 (3224, 3, 262000.0, 205666.666666667),
 (1150, 3, 75000.0, 205666.666666667),
 (9795, 4, 435000.0, 214381.034482759),
 (3583, 4, 355000.0, 214381.034482759),
 (8620, 4, 355000.0, 214381.034482759),
 (5205, 4, 352000.0, 214381.034482759),
 (9642, 4, 330000.0, 214381.034482759),
 (8624, 4, 325000.0, 214381.034482759),
 (351, 4, 299000.0, 214381.034482759),
 (18380, 4, 265000.0, 214381.034482759),
 (3886, 4, 248000.0, 214381.034482759),
 (18053, 4, 247000.0, 214381.034482759),
 (18167, 4, 230000.0, 214381.034482759),
 (11501, 4, 229050.0, 214381.034482759),
 (4869, 4, 228000.0, 214381.034482759),
 (6481, 4, 217000.0, 214381.034482759),
 (8598, 4, 205000.0, 214381.034482759),
 (15041, 4, 200000.0, 214381.034482759),
 (11589, 4, 188000.0, 214381.034482759),
 (12076, 4, 156000.0, 214381.034482759),
 (14092, 4, 152000.0, 214381.034482759),
 (19345, 4, 151000.0, 214381.034482759),
 (15713, 4, 150000.0, 214381.034482759),
 (17395, 4, 145000.0, 214381.034482759),
 (1067, 4, 140000.0, 214381.034482759),
 (14002, 4, 130000.0, 214381.034482759),
 (7974, 4, 120000.0, 214381.034482759),
 (16341, 4, 100000.0, 214381.034482759),
 (14582, 4, 95000.0, 214381.034482759),
 (16531, 4, 90000.0, 214381.034482759),
 (466, 4, 80000.0, 214381.034482759),
 (7253, 13, 7700000.0, 3709615.38461538),
 (9255, 13, 6885000.0, 3709615.38461538),
 (4412, 13, 5570000.0, 3709615.38461538),
 (7036, 13, 3800000.0, 3709615.38461538),
 (19018, 13, 3800000.0, 3709615.38461538),
 (7908, 13, 3200000.0, 3709615.38461538),
 (10374, 13, 2983000.0, 3709615.38461538),
 (14557, 13, 2888000.0, 3709615.38461538),
 (4812, 13, 2479000.0, 3709615.38461538),
 (13412, 13, 2415000.0, 3709615.38461538),
 (6042, 13, 2385000.0, 3709615.38461538),
 (13701, 13, 2340000.0, 3709615.38461538),
 (5452, 13, 1780000.0, 3709615.38461538)]

# Any aggregate will do

Any valid aggregate can be used as a window function.

In [5]:
%%sql
SELECT id, grade,price
  , AVG(price) OVER (PARTITION BY grade)
  , MIN(bedrooms) OVER (PARTITION BY grade) as min_bed
  , MAX(bedrooms) OVER (PARTITION BY grade) as max_bed
  , MIN(bathrooms) OVER (PARTITION BY grade) as min_bath
  , MAX(bathrooms) OVER (PARTITION BY grade) as max_bath
  , COUNT(*) OVER (PARTITION BY grade)
FROM houses 
WHERE grade IN (1,3,4,13)
ORDER BY 2, 3 DESC
;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
46 rows affected.

[(19453, 1, 142000.0, 142000.0, 0, 0, 0.0, 0.0, 1),
 (5833, 3, 280000.0, 205666.666666667, 1, 1, 0.0, 0.75, 3),
 (3224, 3, 262000.0, 205666.666666667, 1, 1, 0.0, 0.75, 3),
 (1150, 3, 75000.0, 205666.666666667, 1, 1, 0.0, 0.75, 3),
 (9795, 4, 435000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (3583, 4, 355000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (8620, 4, 355000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (5205, 4, 352000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (9642, 4, 330000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (8624, 4, 325000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (351, 4, 299000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (18380, 4, 265000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (3886, 4, 248000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (18053, 4, 247000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (18167, 4, 230000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (11501, 4, 229050.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (4869, 4, 228000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (6481, 4, 217000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (8598, 4, 205000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (15041, 4, 200000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (11589, 4, 188000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (12076, 4, 156000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (14092, 4, 152000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (19345, 4, 151000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (15713, 4, 150000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (17395, 4, 145000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (1067, 4, 140000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (14002, 4, 130000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (7974, 4, 120000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (16341, 4, 100000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (14582, 4, 95000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (16531, 4, 90000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (466, 4, 80000.0, 214381.034482759, 0, 3, 0.75, 1.75, 29),
 (7253, 13, 7700000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (9255, 13, 6885000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (4412, 13, 5570000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (7036, 13, 3800000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (19018, 13, 3800000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (7908, 13, 3200000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (10374, 13, 2983000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (14557, 13, 2888000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (4812, 13, 2479000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (13412, 13, 2415000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (6042, 13, 2385000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (13701, 13, 2340000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13),
 (5452, 13, 1780000.0, 3709615.38461538, 3, 6, 2.5, 8.0, 13)]

**The formal syntax for a PostgreSQL window function is [here](https://www.postgresql.org/docs/9.5/static/sql-expressions.html#SYNTAX-WINDOW-FUNCTIONS)**

## <span style="background:yellow">Your Turn</span>
<b>Use window functions to perform the following:</b>
<br>Find the id, number of bedrooms, grade, and average number of bedrooms per grade  for the first 100 houses

In [6]:
%%sql
SELECT  id
        ,bedrooms
        ,grade
        ,price
        ,AVG(bedrooms) OVER (PARTITION BY grade)
FROM    houses
LIMIT   100;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
100 rows affected.

[(19453, 0, 1, 142000.0, Decimal('0E-20')),
 (5833, 1, 3, 280000.0, Decimal('1.00000000000000000000')),
 (3224, 1, 3, 262000.0, Decimal('1.00000000000000000000')),
 (1150, 1, 3, 75000.0, Decimal('1.00000000000000000000')),
 (9795, 2, 4, 435000.0, Decimal('1.4827586206896552')),
 (15713, 2, 4, 150000.0, Decimal('1.4827586206896552')),
 (16531, 1, 4, 90000.0, Decimal('1.4827586206896552')),
 (18380, 0, 4, 265000.0, Decimal('1.4827586206896552')),
 (1067, 1, 4, 140000.0, Decimal('1.4827586206896552')),
 (14002, 2, 4, 130000.0, Decimal('1.4827586206896552')),
 (14582, 2, 4, 95000.0, Decimal('1.4827586206896552')),
 (3583, 1, 4, 355000.0, Decimal('1.4827586206896552')),
 (7974, 2, 4, 120000.0, Decimal('1.4827586206896552')),
 (11501, 1, 4, 229050.0, Decimal('1.4827586206896552')),
 (6481, 2, 4, 217000.0, Decimal('1.4827586206896552')),
 (16341, 2, 4, 100000.0, Decimal('1.4827586206896552')),
 (18167, 2, 4, 230000.0, Decimal('1.4827586206896552')),
 (351, 1, 4, 299000.0, Decimal('1.4827586206896552')),
 (12076, 1, 4, 156000.0, Decimal('1.4827586206896552')),
 (8620, 1, 4, 355000.0, Decimal('1.4827586206896552')),
 (11589, 1, 4, 188000.0, Decimal('1.4827586206896552')),
 (8624, 1, 4, 325000.0, Decimal('1.4827586206896552')),
 (18053, 1, 4, 247000.0, Decimal('1.4827586206896552')),
 (8598, 3, 4, 205000.0, Decimal('1.4827586206896552')),
 (466, 1, 4, 80000.0, Decimal('1.4827586206896552')),
 (3886, 2, 4, 248000.0, Decimal('1.4827586206896552')),
 (17395, 1, 4, 145000.0, Decimal('1.4827586206896552')),
 (5205, 2, 4, 352000.0, Decimal('1.4827586206896552')),
 (14092, 2, 4, 152000.0, Decimal('1.4827586206896552')),
 (4869, 0, 4, 228000.0, Decimal('1.4827586206896552')),
 (15041, 2, 4, 200000.0, Decimal('1.4827586206896552')),
 (9642, 2, 4, 330000.0, Decimal('1.4827586206896552')),
 (19345, 2, 4, 151000.0, Decimal('1.4827586206896552')),
 (5857, 2, 5, 200000.0, Decimal('2.3884297520661157')),
 (15330, 2, 5, 225000.0, Decimal('2.3884297520661157')),
 (4936, 4, 5, 268000.0, Decimal('2.3884297520661157')),
 (15249, 1, 5, 192500.0, Decimal('2.3884297520661157')),
 (13805, 3, 5, 253200.0, Decimal('2.3884297520661157')),
 (8936, 3, 5, 285000.0, Decimal('2.3884297520661157')),
 (14677, 3, 5, 265000.0, Decimal('2.3884297520661157')),
 (18898, 3, 5, 210000.0, Decimal('2.3884297520661157')),
 (5778, 3, 5, 225000.0, Decimal('2.3884297520661157')),
 (7637, 1, 5, 190000.0, Decimal('2.3884297520661157')),
 (264, 2, 5, 425000.0, Decimal('2.3884297520661157')),
 (14676, 3, 5, 390000.0, Decimal('2.3884297520661157')),
 (3937, 6, 5, 315000.0, Decimal('2.3884297520661157')),
 (16778, 2, 5, 345000.0, Decimal('2.3884297520661157')),
 (6751, 2, 5, 286000.0, Decimal('2.3884297520661157')),
 (10917, 4, 5, 199500.0, Decimal('2.3884297520661157')),
 (1169, 2, 5, 290000.0, Decimal('2.3884297520661157')),
 (7170, 3, 5, 180000.0, Decimal('2.3884297520661157')),
 (14510, 2, 5, 295000.0, Decimal('2.3884297520661157')),
 (12837, 1, 5, 305000.0, Decimal('2.3884297520661157')),
 (5731, 2, 5, 250000.0, Decimal('2.3884297520661157')),
 (6721, 2, 5, 301000.0, Decimal('2.3884297520661157')),
 (17605, 3, 5, 157000.0, Decimal('2.3884297520661157')),
 (18509, 2, 5, 115000.0, Decimal('2.3884297520661157')),
 (3305, 3, 5, 206000.0, Decimal('2.3884297520661157')),
 (14502, 3, 5, 171500.0, Decimal('2.3884297520661157')),
 (12835, 3, 5, 165000.0, Decimal('2.3884297520661157')),
 (8311, 2, 5, 225000.0, Decimal('2.3884297520661157')),
 (12825, 1, 5, 291970.0, Decimal('2.3884297520661157')),
 (8134, 1, 5, 170000.0, Decimal('2.3884297520661157')),
 (3436, 3, 5, 279000.0, Decimal('2.3884297520661157')),
 (17783, 2, 5, 234000.0, Decimal('2.3884297520661157')),
 (13778, 2, 5, 375000.0, Decimal('2.3884297520661157')),
 (17716, 3, 5, 775000.0, Decimal('2.3884297520661157')),
 (19122, 3, 5, 182000.0, Decimal('2.3884297520661157')),
 (6720, 2, 5, 244500.0, Decimal('2.3884297520661157')),
 (10966, 2, 5, 283000.0, Decimal('2.3884297520661157')),
 (16715, 2, 5, 85000.0, Decimal('2.3884297520661157')),
 (3313, 2, 5, 296000.0, Decimal('2.3884297520661157')),
 (1128, 2, 5, 195000.0, Decimal('2.3884297520661157')),
 (8122, 2, 5, 175000.0, Decimal('2.3884297520661157')),
 (11891, 4, 5, 365000.0, Decimal('2.3884297520661157')),
 (17212, 4, 5, 275000.0, Decimal('2.3884297520661157')),
 (21471, 3, 5, 249000.0, Decimal('2.3884297520661157')),
 (5640, 4, 5, 100000.0, Decimal('2.3884297520661157')),
 (9383, 3, 5, 230000.0, Decimal('2.3884297520661157')),
 (6142, 2, 5, 259000.0, Decimal('2.3884297520661157')),
 (12781, 2, 5, 199950.0, Decimal('2.3884297520661157')),
 (412, 2, 5, 517534.0, Decimal('2.3884297520661157')),
 (5634, 3, 5, 343000.0, Decimal('2.3884297520661157')),
 (1454, 4, 5, 235867.0, Decimal('2.3884297520661157')),
 (15218, 2, 5, 390000.0, Decimal('2.3884297520661157')),
 (7119, 6, 5, 300000.0, Decimal('2.3884297520661157')),
 (4685, 2, 5, 413500.0, Decimal('2.3884297520661157')),
 (5622, 2, 5, 110000.0, Decimal('2.3884297520661157')),
 (13762, 2, 5, 102500.0, Decimal('2.3884297520661157')),
 (8756, 2, 5, 305000.0, Decimal('2.3884297520661157')),
 (12758, 2, 5, 425000.0, Decimal('2.3884297520661157')),
 (2142, 2, 5, 82500.0, Decimal('2.3884297520661157')),
 (15294, 2, 5, 78000.0, Decimal('2.3884297520661157')),
 (18060, 1, 5, 275000.0, Decimal('2.3884297520661157')),
 (821, 3, 5, 325000.0, Decimal('2.3884297520661157')),
 (16953, 1, 5, 129000.0, Decimal('2.3884297520661157')),
 (4652, 1, 5, 125000.0, Decimal('2.3884297520661157')),
 (5594, 2, 5, 489950.0, Decimal('2.3884297520661157')),
 (15621, 2, 5, 180000.0, Decimal('2.3884297520661157')),
 (11809, 3, 5, 225000.0, Decimal('2.3884297520661157'))]

Find the id, price, grade, highest price per grade, and lowest price per grade  for the first 100 houses

In [7]:
%%sql
SELECT  id
        ,price
        ,grade
        ,max(price) OVER (PARTITION BY grade)
        ,min(price) OVER (PARTITION BY grade)
FROM    houses 
LIMIT   100;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
100 rows affected.

[(19453, 142000.0, 1, 142000.0, 142000.0),
 (5833, 280000.0, 3, 280000.0, 75000.0),
 (3224, 262000.0, 3, 280000.0, 75000.0),
 (1150, 75000.0, 3, 280000.0, 75000.0),
 (9795, 435000.0, 4, 435000.0, 80000.0),
 (15713, 150000.0, 4, 435000.0, 80000.0),
 (16531, 90000.0, 4, 435000.0, 80000.0),
 (18380, 265000.0, 4, 435000.0, 80000.0),
 (1067, 140000.0, 4, 435000.0, 80000.0),
 (14002, 130000.0, 4, 435000.0, 80000.0),
 (14582, 95000.0, 4, 435000.0, 80000.0),
 (3583, 355000.0, 4, 435000.0, 80000.0),
 (7974, 120000.0, 4, 435000.0, 80000.0),
 (11501, 229050.0, 4, 435000.0, 80000.0),
 (6481, 217000.0, 4, 435000.0, 80000.0),
 (16341, 100000.0, 4, 435000.0, 80000.0),
 (18167, 230000.0, 4, 435000.0, 80000.0),
 (351, 299000.0, 4, 435000.0, 80000.0),
 (12076, 156000.0, 4, 435000.0, 80000.0),
 (8620, 355000.0, 4, 435000.0, 80000.0),
 (11589, 188000.0, 4, 435000.0, 80000.0),
 (8624, 325000.0, 4, 435000.0, 80000.0),
 (18053, 247000.0, 4, 435000.0, 80000.0),
 (8598, 205000.0, 4, 435000.0, 80000.0),
 (466, 80000.0, 4, 435000.0, 80000.0),
 (3886, 248000.0, 4, 435000.0, 80000.0),
 (17395, 145000.0, 4, 435000.0, 80000.0),
 (5205, 352000.0, 4, 435000.0, 80000.0),
 (14092, 152000.0, 4, 435000.0, 80000.0),
 (4869, 228000.0, 4, 435000.0, 80000.0),
 (15041, 200000.0, 4, 435000.0, 80000.0),
 (9642, 330000.0, 4, 435000.0, 80000.0),
 (19345, 151000.0, 4, 435000.0, 80000.0),
 (5857, 200000.0, 5, 795000.0, 78000.0),
 (15330, 225000.0, 5, 795000.0, 78000.0),
 (4936, 268000.0, 5, 795000.0, 78000.0),
 (15249, 192500.0, 5, 795000.0, 78000.0),
 (13805, 253200.0, 5, 795000.0, 78000.0),
 (8936, 285000.0, 5, 795000.0, 78000.0),
 (14677, 265000.0, 5, 795000.0, 78000.0),
 (18898, 210000.0, 5, 795000.0, 78000.0),
 (5778, 225000.0, 5, 795000.0, 78000.0),
 (7637, 190000.0, 5, 795000.0, 78000.0),
 (264, 425000.0, 5, 795000.0, 78000.0),
 (14676, 390000.0, 5, 795000.0, 78000.0),
 (3937, 315000.0, 5, 795000.0, 78000.0),
 (16778, 345000.0, 5, 795000.0, 78000.0),
 (6751, 286000.0, 5, 795000.0, 78000.0),
 (10917, 199500.0, 5, 795000.0, 78000.0),
 (1169, 290000.0, 5, 795000.0, 78000.0),
 (7170, 180000.0, 5, 795000.0, 78000.0),
 (14510, 295000.0, 5, 795000.0, 78000.0),
 (12837, 305000.0, 5, 795000.0, 78000.0),
 (5731, 250000.0, 5, 795000.0, 78000.0),
 (6721, 301000.0, 5, 795000.0, 78000.0),
 (17605, 157000.0, 5, 795000.0, 78000.0),
 (18509, 115000.0, 5, 795000.0, 78000.0),
 (3305, 206000.0, 5, 795000.0, 78000.0),
 (14502, 171500.0, 5, 795000.0, 78000.0),
 (12835, 165000.0, 5, 795000.0, 78000.0),
 (8311, 225000.0, 5, 795000.0, 78000.0),
 (12825, 291970.0, 5, 795000.0, 78000.0),
 (8134, 170000.0, 5, 795000.0, 78000.0),
 (3436, 279000.0, 5, 795000.0, 78000.0),
 (17783, 234000.0, 5, 795000.0, 78000.0),
 (13778, 375000.0, 5, 795000.0, 78000.0),
 (17716, 775000.0, 5, 795000.0, 78000.0),
 (19122, 182000.0, 5, 795000.0, 78000.0),
 (6720, 244500.0, 5, 795000.0, 78000.0),
 (10966, 283000.0, 5, 795000.0, 78000.0),
 (16715, 85000.0, 5, 795000.0, 78000.0),
 (3313, 296000.0, 5, 795000.0, 78000.0),
 (1128, 195000.0, 5, 795000.0, 78000.0),
 (8122, 175000.0, 5, 795000.0, 78000.0),
 (11891, 365000.0, 5, 795000.0, 78000.0),
 (17212, 275000.0, 5, 795000.0, 78000.0),
 (21471, 249000.0, 5, 795000.0, 78000.0),
 (5640, 100000.0, 5, 795000.0, 78000.0),
 (9383, 230000.0, 5, 795000.0, 78000.0),
 (6142, 259000.0, 5, 795000.0, 78000.0),
 (12781, 199950.0, 5, 795000.0, 78000.0),
 (412, 517534.0, 5, 795000.0, 78000.0),
 (5634, 343000.0, 5, 795000.0, 78000.0),
 (1454, 235867.0, 5, 795000.0, 78000.0),
 (15218, 390000.0, 5, 795000.0, 78000.0),
 (7119, 300000.0, 5, 795000.0, 78000.0),
 (4685, 413500.0, 5, 795000.0, 78000.0),
 (5622, 110000.0, 5, 795000.0, 78000.0),
 (13762, 102500.0, 5, 795000.0, 78000.0),
 (8756, 305000.0, 5, 795000.0, 78000.0),
 (12758, 425000.0, 5, 795000.0, 78000.0),
 (2142, 82500.0, 5, 795000.0, 78000.0),
 (15294, 78000.0, 5, 795000.0, 78000.0),
 (18060, 275000.0, 5, 795000.0, 78000.0),
 (821, 325000.0, 5, 795000.0, 78000.0),
 (16953, 129000.0, 5, 795000.0, 78000.0),
 (4652, 125000.0, 5, 795000.0, 78000.0),
 (5594, 489950.0, 5, 795000.0, 78000.0),
 (15621, 180000.0, 5, 795000.0, 78000.0),
 (11809, 225000.0, 5, 795000.0, 78000.0)]


## General-Purpose Window Functions

All of the functions listed in the table below depend on the sort ordering specified by the ORDER BY clause of the associated window definition. 
Rows that are not distinct in the ORDER BY ordering are said to be peers; 
the four ranking functions are defined so that they give the same answer for any two peer rows.


Note that *first_value*, *last_value*, and *nth_value* consider only the rows within the "window frame", 
which by default contains the rows from the start of the partition through the last peer of the current row. 
This is likely to give unhelpful results for *last_value* and sometimes also *nth_value*. 
You can redefine the frame by adding a suitable frame specification (RANGE or ROWS) to the OVER clause. 
See the window function specification referenced above for more information about frame specifications.


<table class="CALSTABLE" border="1">
<colgroup><col>
<col>
<col>

</colgroup><thead>
<tr>
<th>Function</th>

<th>Return Type</th>

<th>Description</th>
</tr>
</thead>

<tbody>
<tr>
<td><code class="FUNCTION">row_number()</code></td>

<td><tt class="TYPE">bigint</tt></td>

<td>number of the current row within its partition,
counting from 1</td>
</tr>

<tr>
<td><code class="FUNCTION">rank()</code></td>

<td><tt class="TYPE">bigint</tt></td>

<td>rank of the current row with gaps; same as
<code class="FUNCTION">row_number</code> of its first
peer</td>
</tr>

<tr>
<td><code class="FUNCTION">dense_rank()</code></td>

<td><tt class="TYPE">bigint</tt></td>

<td>rank of the current row without gaps; this function
counts peer groups</td>
</tr>

<tr>
<td><code class="FUNCTION">percent_rank()</code></td>

<td><tt class="TYPE">double precision</tt></td>

<td>relative rank of the current row: (<code class="FUNCTION">rank</code> - 1) / (total rows - 1)</td>
</tr>

<tr>
<td><code class="FUNCTION">cume_dist()</code></td>

<td><tt class="TYPE">double precision</tt></td>

<td>relative rank of the current row: (number of rows
preceding or peer with current row) / (total rows)</td>
</tr>

<tr>
<td><code class="FUNCTION">ntile(<tt class="REPLACEABLE c4">num_buckets</tt> <tt class="TYPE">integer</tt>)</code></td>

<td><tt class="TYPE">integer</tt></td>

<td>integer ranging from 1 to the argument value,
dividing the partition as equally as possible</td>
</tr>

<tr>
<td><code class="FUNCTION">lag(<tt class="REPLACEABLE c4">value</tt> <tt class="TYPE">anyelement</tt> [, <tt class="REPLACEABLE c4">offset</tt> <tt class="TYPE">integer</tt> [, <tt class="REPLACEABLE c4">default</tt> <tt class="TYPE">anyelement</tt> ]])</code></td>

<td><tt class="TYPE">same type as <tt class="REPLACEABLE c4">value</tt></tt></td>

<td>returns <tt class="REPLACEABLE c4">value</tt>
evaluated at the row that is <tt class="REPLACEABLE c4">offset</tt> rows before the current row
within the partition; if there is no such row, instead
return <tt class="REPLACEABLE c4">default</tt> (which
must be of the same type as <tt class="REPLACEABLE c4">value</tt>). Both <tt class="REPLACEABLE c4">offset</tt> and <tt class="REPLACEABLE c4">default</tt> are evaluated with respect
to the current row. If omitted, <tt class="REPLACEABLE c4">offset</tt> defaults to 1 and <tt class="REPLACEABLE c4">default</tt> to null</td>
</tr>

<tr>
<td><code class="FUNCTION">lead(<tt class="REPLACEABLE c4">value</tt> <tt class="TYPE">anyelement</tt> [, <tt class="REPLACEABLE c4">offset</tt> <tt class="TYPE">integer</tt> [, <tt class="REPLACEABLE c4">default</tt> <tt class="TYPE">anyelement</tt> ]])</code></td>

<td><tt class="TYPE">same type as <tt class="REPLACEABLE c4">value</tt></tt></td>

<td>returns <tt class="REPLACEABLE c4">value</tt>
evaluated at the row that is <tt class="REPLACEABLE c4">offset</tt> rows after the current row
within the partition; if there is no such row, instead
return <tt class="REPLACEABLE c4">default</tt> (which
must be of the same type as <tt class="REPLACEABLE c4">value</tt>). Both <tt class="REPLACEABLE c4">offset</tt> and <tt class="REPLACEABLE c4">default</tt> are evaluated with respect
to the current row. If omitted, <tt class="REPLACEABLE c4">offset</tt> defaults to 1 and <tt class="REPLACEABLE c4">default</tt> to null</td>
</tr>

<tr>
<td><code class="FUNCTION">first_value(<tt class="REPLACEABLE c4">value</tt> <tt class="TYPE">any</tt>)</code></td>

<td><tt class="TYPE">same type as <tt class="REPLACEABLE c4">value</tt></tt></td>

<td>returns <tt class="REPLACEABLE c4">value</tt>
evaluated at the row that is the first row of the window
frame</td>
</tr>

<tr>
<td><code class="FUNCTION">last_value(<tt class="REPLACEABLE c4">value</tt> <tt class="TYPE">any</tt>)</code></td>

<td><tt class="TYPE">same type as <tt class="REPLACEABLE c4">value</tt></tt></td>

<td>returns <tt class="REPLACEABLE c4">value</tt>
evaluated at the row that is the last row of the window
frame</td>
</tr>

<tr>
<td><code class="FUNCTION">nth_value(<tt class="REPLACEABLE c4">value</tt> <tt class="TYPE">any</tt>,
<tt class="REPLACEABLE c4">nth</tt> <tt class="TYPE">integer</tt>)</code></td>

<td><tt class="TYPE">same type as <tt class="REPLACEABLE c4">value</tt></tt></td>

<td>returns <tt class="REPLACEABLE c4">value</tt>
evaluated at the row that is the <tt class="REPLACEABLE c4">nth</tt> row of the window frame
(counting from 1); null if no such row</td>
</tr>
</tbody>
</table>


When an aggregate function is used as a window function, 
it aggregates over the rows within the current row's window frame. 
An aggregate used with ORDER BY and the default window frame definition produces a "running sum" type of behavior,
which may or may not be what's wanted. To obtain aggregation over the whole partition, 
omit ORDER BY or use ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING. 
Other frame specifications can be used to obtain other effects.

### Ordering Partitions

Given this statement:
```SQL
SELECT grade
 , row_number() OVER (PARTITION BY grade ORDER BY price)
 , id, price
FROM houses
WHERE grade IN (1,3,4,13)
```

We are telling the SQL to do the following:
  1. Partition the data into groups using the `grade` column.  Each of these partitions is a **window** of inspection.
  1. For each partition/window, sort the rows by `price`
  1. For each partition/window, count the *row number*.
  1. For each row in a partition/window, list the *row number* within that window as a column.

In [8]:
%%sql
SELECT grade
 , row_number() OVER (PARTITION BY grade ORDER BY price)
 , id, price
FROM houses
WHERE grade IN (1,3,4,13)

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
46 rows affected.

[(1, 1, 19453, 142000.0),
 (3, 1, 1150, 75000.0),
 (3, 2, 3224, 262000.0),
 (3, 3, 5833, 280000.0),
 (4, 1, 466, 80000.0),
 (4, 2, 16531, 90000.0),
 (4, 3, 14582, 95000.0),
 (4, 4, 16341, 100000.0),
 (4, 5, 7974, 120000.0),
 (4, 6, 14002, 130000.0),
 (4, 7, 1067, 140000.0),
 (4, 8, 17395, 145000.0),
 (4, 9, 15713, 150000.0),
 (4, 10, 19345, 151000.0),
 (4, 11, 14092, 152000.0),
 (4, 12, 12076, 156000.0),
 (4, 13, 11589, 188000.0),
 (4, 14, 15041, 200000.0),
 (4, 15, 8598, 205000.0),
 (4, 16, 6481, 217000.0),
 (4, 17, 4869, 228000.0),
 (4, 18, 11501, 229050.0),
 (4, 19, 18167, 230000.0),
 (4, 20, 18053, 247000.0),
 (4, 21, 3886, 248000.0),
 (4, 22, 18380, 265000.0),
 (4, 23, 351, 299000.0),
 (4, 24, 8624, 325000.0),
 (4, 25, 9642, 330000.0),
 (4, 26, 5205, 352000.0),
 (4, 27, 8620, 355000.0),
 (4, 28, 3583, 355000.0),
 (4, 29, 9795, 435000.0),
 (13, 1, 5452, 1780000.0),
 (13, 2, 13701, 2340000.0),
 (13, 3, 6042, 2385000.0),
 (13, 4, 13412, 2415000.0),
 (13, 5, 4812, 2479000.0),
 (13, 6, 14557, 2888000.0),
 (13, 7, 10374, 2983000.0),
 (13, 8, 7908, 3200000.0),
 (13, 9, 7036, 3800000.0),
 (13, 10, 19018, 3800000.0),
 (13, 11, 4412, 5570000.0),
 (13, 12, 9255, 6885000.0),
 (13, 13, 7253, 7700000.0)]

#### Example, adding a row number to a query result.

In [9]:
%%sql
SELECT row_number() OVER (), price
FROM houses
LIMIT 15;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
15 rows affected.

[(1, 221900.0),
 (2, 538000.0),
 (3, 180000.0),
 (4, 604000.0),
 (5, 510000.0),
 (6, 1225000.0),
 (7, 257500.0),
 (8, 291850.0),
 (9, 229500.0),
 (10, 323000.0),
 (11, 662500.0),
 (12, 468000.0),
 (13, 310000.0),
 (14, 400000.0),
 (15, 530000.0)]

#### However, watch what happens when we apply an `ORDER BY` clause  outside of the PARTITION clause.

In [10]:
%%sql
SELECT row_number() OVER (), price
FROM houses
ORDER BY grade 
LIMIT 15;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
15 rows affected.

[(19453, 142000.0),
 (1150, 75000.0),
 (3224, 262000.0),
 (5833, 280000.0),
 (4869, 228000.0),
 (8598, 205000.0),
 (8620, 355000.0),
 (351, 299000.0),
 (3583, 355000.0),
 (466, 80000.0),
 (1067, 140000.0),
 (5205, 352000.0),
 (6481, 217000.0),
 (7974, 120000.0),
 (3886, 248000.0)]

#### Versus, ORDER BY inside the PARTITION

**Note**: In the previous and next example, we did not list a `PARTITION` column which makes the entire table the window.

In [11]:
%%sql
SELECT row_number() OVER (ORDER BY grade), price
FROM houses
LIMIT 15;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
15 rows affected.

[(1, 142000.0),
 (2, 280000.0),
 (3, 262000.0),
 (4, 75000.0),
 (5, 435000.0),
 (6, 150000.0),
 (7, 90000.0),
 (8, 265000.0),
 (9, 140000.0),
 (10, 130000.0),
 (11, 95000.0),
 (12, 355000.0),
 (13, 120000.0),
 (14, 229050.0),
 (15, 217000.0)]

In [12]:
%%sql
SELECT grade
 , percent_rank() OVER (PARTITION BY grade ORDER BY price)
 , id, price
FROM houses
WHERE grade IN (1,3,4,13)

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
46 rows affected.

[(1, 0.0, 19453, 142000.0),
 (3, 0.0, 1150, 75000.0),
 (3, 0.5, 3224, 262000.0),
 (3, 1.0, 5833, 280000.0),
 (4, 0.0, 466, 80000.0),
 (4, 0.0357142857142857, 16531, 90000.0),
 (4, 0.0714285714285714, 14582, 95000.0),
 (4, 0.107142857142857, 16341, 100000.0),
 (4, 0.142857142857143, 7974, 120000.0),
 (4, 0.178571428571429, 14002, 130000.0),
 (4, 0.214285714285714, 1067, 140000.0),
 (4, 0.25, 17395, 145000.0),
 (4, 0.285714285714286, 15713, 150000.0),
 (4, 0.321428571428571, 19345, 151000.0),
 (4, 0.357142857142857, 14092, 152000.0),
 (4, 0.392857142857143, 12076, 156000.0),
 (4, 0.428571428571429, 11589, 188000.0),
 (4, 0.464285714285714, 15041, 200000.0),
 (4, 0.5, 8598, 205000.0),
 (4, 0.535714285714286, 6481, 217000.0),
 (4, 0.571428571428571, 4869, 228000.0),
 (4, 0.607142857142857, 11501, 229050.0),
 (4, 0.642857142857143, 18167, 230000.0),
 (4, 0.678571428571429, 18053, 247000.0),
 (4, 0.714285714285714, 3886, 248000.0),
 (4, 0.75, 18380, 265000.0),
 (4, 0.785714285714286, 351, 299000.0),
 (4, 0.821428571428571, 8624, 325000.0),
 (4, 0.857142857142857, 9642, 330000.0),
 (4, 0.892857142857143, 5205, 352000.0),
 (4, 0.928571428571429, 8620, 355000.0),
 (4, 0.928571428571429, 3583, 355000.0),
 (4, 1.0, 9795, 435000.0),
 (13, 0.0, 5452, 1780000.0),
 (13, 0.0833333333333333, 13701, 2340000.0),
 (13, 0.166666666666667, 6042, 2385000.0),
 (13, 0.25, 13412, 2415000.0),
 (13, 0.333333333333333, 4812, 2479000.0),
 (13, 0.416666666666667, 14557, 2888000.0),
 (13, 0.5, 10374, 2983000.0),
 (13, 0.583333333333333, 7908, 3200000.0),
 (13, 0.666666666666667, 7036, 3800000.0),
 (13, 0.666666666666667, 19018, 3800000.0),
 (13, 0.833333333333333, 4412, 5570000.0),
 (13, 0.916666666666667, 9255, 6885000.0),
 (13, 1.0, 7253, 7700000.0)]

## Nested Window Function

Imagine the task is the to find the maximum priced house per grade.

This can be done with a nested query.
Where the nested query produces:
```
(grade,max_price)
```
Then testing outer query rows against the nested query.

#### Why do we need a nested query?

We need to use a nested window function because we need to test outer rows with the inner result, which is most easily done with nested queries.

In [13]:
%%sql
SELECT h.id, h.grade, mp.max_price
FROM houses h
JOIN (
    SELECT grade, MAX(price) as max_price
    FROM houses
    GROUP BY grade
) as mp ON (h.grade = mp.grade AND h.price = mp.max_price)
ORDER BY grade;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
12 rows affected.

[(19453, 1, 142000.0),
 (5833, 3, 280000.0),
 (9795, 4, 435000.0),
 (701, 5, 795000.0),
 (2076, 6, 1200000.0),
 (17768, 7, 2050000.0),
 (657, 8, 3070000.0),
 (6772, 9, 2700000.0),
 (2865, 10, 3600000.0),
 (3915, 11, 7062500.0),
 (1449, 12, 5350000.0),
 (7253, 13, 7700000.0)]


Now, how would you extend that answer from top 1 to top N? 

Here is the top 5, shown for just two grades for brevity of output.

In [14]:
%%sql
SELECT id, grade, rank, price
FROM (
    SELECT grade
     , rank() OVER (PARTITION BY grade ORDER BY price DESC)
     , id, price
    FROM houses
    WHERE grade IN (4,13)
) AS win_fun
WHERE RANK <= 5;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
10 rows affected.

[(9795, 4, 1, 435000.0),
 (8620, 4, 2, 355000.0),
 (3583, 4, 2, 355000.0),
 (5205, 4, 4, 352000.0),
 (9642, 4, 5, 330000.0),
 (7253, 13, 1, 7700000.0),
 (9255, 13, 2, 6885000.0),
 (4412, 13, 3, 5570000.0),
 (7036, 13, 4, 3800000.0),
 (19018, 13, 4, 3800000.0)]

**Window functions are more efficient than some alternatives using Joins**

Check out the two costs below.

In [15]:
%%sql
EXPLAIN ANALYZE
SELECT h.id, h.grade, mp.max_price
FROM houses h
JOIN (
    SELECT grade, MAX(price) as max_price
    FROM houses
    GROUP BY grade
) as mp ON (h.grade = mp.grade AND h.price = mp.max_price)
ORDER BY grade;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
14 rows affected.

[('Sort  (cost=1320.27..1320.28 rows=5 width=12) (actual time=12.771..12.772 rows=12 loops=1)',),
 ('  Sort Key: h.grade',),
 ('  Sort Method: quicksort  Memory: 25kB',),
 ('  ->  Hash Join  (cost=657.62..1320.21 rows=5 width=12) (actual time=8.453..12.752 rows=12 loops=1)',),
 ('        Hash Cond: ((h.grade = mp.grade) AND (h.price = mp.max_price))',),
 ('        ->  Seq Scan on houses h  (cost=0.00..549.13 rows=21613 width=12) (actual time=0.006..1.625 rows=21613 loops=1)',),
 ('        ->  Hash  (cost=657.44..657.44 rows=12 width=8) (actual time=8.249..8.250 rows=12 loops=1)',),
 ('              Buckets: 1024  Batches: 1  Memory Usage: 9kB',),
 ('              ->  Subquery Scan on mp  (cost=657.20..657.44 rows=12 width=8) (actual time=8.235..8.239 rows=12 loops=1)',),
 ('                    ->  HashAggregate  (cost=657.20..657.32 rows=12 width=8) (actual time=8.234..8.236 rows=12 loops=1)',),
 ('                          Group Key: houses.grade',),
 ('                          ->  Seq Scan on houses  (cost=0.00..549.13 rows=21613 width=8) (actual time=0.019..2.205 rows=21613 loops=1)',),
 ('Planning time: 0.120 ms',),
 ('Execution time: 12.821 ms',)]

In [16]:
%%sql
EXPLAIN ANALYZE
SELECT id, grade, rank, price
FROM (
    SELECT grade
     , rank() OVER (PARTITION BY grade ORDER BY price DESC)
     , id, price
    FROM houses
    WHERE grade IN (4,13)
) AS win_fun
WHERE RANK <= 1;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
12 rows affected.

[('Subquery Scan on win_fun  (cost=604.72..606.47 rows=18 width=20) (actual time=2.557..2.579 rows=2 loops=1)',),
 ('  Filter: (win_fun.rank <= 1)',),
 ('  Rows Removed by Filter: 40',),
 ('  ->  WindowAgg  (cost=604.72..605.80 rows=54 width=20) (actual time=2.556..2.576 rows=42 loops=1)',),
 ('        ->  Sort  (cost=604.72..604.85 rows=54 width=12) (actual time=2.552..2.554 rows=42 loops=1)',),
 ('              Sort Key: houses.grade, houses.price DESC',),
 ('              Sort Method: quicksort  Memory: 26kB',),
 ('              ->  Seq Scan on houses  (cost=0.00..603.16 rows=54 width=12) (actual time=0.051..2.535 rows=42 loops=1)',),
 ("                    Filter: (grade = ANY ('{4,13}'::integer[]))",),
 ('                    Rows Removed by Filter: 21571',),
 ('Planning time: 0.067 ms',),
 ('Execution time: 2.598 ms',)]

You can see that the inner query is producing ranking, as well as id, grade and price.

The following are some additional readings with examples.

  * EXTERNAL: http://tapoueh.org/blog/2013/08/20-Window-Functions
  * EXTERNAL: http://postgresguide.com/tips/window.html

## <span style="background:yellow">Your Turn</span>

Write a query displaying the id, grade, price, average price per grade, and average number of bedrooms per grade for grades 1-3

In [17]:
%%sql
SELECT  id
        ,grade
        ,price
        ,avg(price) OVER (PARTITION BY grade)
        ,avg(bedrooms) OVER (PARTITION BY grade)
FROM    houses 
WHERE   grade BETWEEN 1 AND 3;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
4 rows affected.

[(19453, 1, 142000.0, 142000.0, Decimal('0E-20')),
 (1150, 3, 75000.0, 205666.666666667, Decimal('1.00000000000000000000')),
 (3224, 3, 262000.0, 205666.666666667, Decimal('1.00000000000000000000')),
 (5833, 3, 280000.0, 205666.666666667, Decimal('1.00000000000000000000'))]

Write a query displaying the row number, price, and the average price for grades 4 and 5

In [18]:
%%sql
SELECT  row_number() OVER (ORDER BY grade)
        ,price
        ,avg(price) OVER (PARTITION BY grade)
FROM    houses 
WHERE   grade IN (5, 4);

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dsa_ro
271 rows affected.

[(1, 205000.0, 214381.034482759),
 (2, 330000.0, 214381.034482759),
 (3, 95000.0, 214381.034482759),
 (4, 100000.0, 214381.034482759),
 (5, 435000.0, 214381.034482759),
 (6, 217000.0, 214381.034482759),
 (7, 90000.0, 214381.034482759),
 (8, 228000.0, 214381.034482759),
 (9, 355000.0, 214381.034482759),
 (10, 325000.0, 214381.034482759),
 (11, 229050.0, 214381.034482759),
 (12, 247000.0, 214381.034482759),
 (13, 200000.0, 214381.034482759),
 (14, 230000.0, 214381.034482759),
 (15, 248000.0, 214381.034482759),
 (16, 130000.0, 214381.034482759),
 (17, 265000.0, 214381.034482759),
 (18, 188000.0, 214381.034482759),
 (19, 352000.0, 214381.034482759),
 (20, 152000.0, 214381.034482759),
 (21, 140000.0, 214381.034482759),
 (22, 145000.0, 214381.034482759),
 (23, 355000.0, 214381.034482759),
 (24, 299000.0, 214381.034482759),
 (25, 80000.0, 214381.034482759),
 (26, 156000.0, 214381.034482759),
 (27, 151000.0, 214381.034482759),
 (28, 150000.0, 214381.034482759),
 (29, 120000.0, 214381.034482759),
 (30, 176500.0, 248523.97107438),
 (31, 256000.0, 248523.97107438),
 (32, 206000.0, 248523.97107438),
 (33, 296000.0, 248523.97107438),
 (34, 144975.0, 248523.97107438),
 (35, 115000.0, 248523.97107438),
 (36, 279000.0, 248523.97107438),
 (37, 150000.0, 248523.97107438),
 (38, 206000.0, 248523.97107438),
 (39, 400000.0, 248523.97107438),
 (40, 95000.0, 248523.97107438),
 (41, 240000.0, 248523.97107438),
 (42, 215000.0, 248523.97107438),
 (43, 265000.0, 248523.97107438),
 (44, 315000.0, 248523.97107438),
 (45, 355000.0, 248523.97107438),
 (46, 291000.0, 248523.97107438),
 (47, 198500.0, 248523.97107438),
 (48, 150000.0, 248523.97107438),
 (49, 281000.0, 248523.97107438),
 (50, 167500.0, 248523.97107438),
 (51, 527550.0, 248523.97107438),
 (52, 425000.0, 248523.97107438),
 (53, 300000.0, 248523.97107438),
 (54, 185000.0, 248523.97107438),
 (55, 208000.0, 248523.97107438),
 (56, 125000.0, 248523.97107438),
 (57, 413500.0, 248523.97107438),
 (58, 268000.0, 248523.97107438),
 (59, 227450.0, 248523.97107438),
 (60, 199999.0, 248523.97107438),
 (61, 210000.0, 248523.97107438),
 (62, 150000.0, 248523.97107438),
 (63, 259950.0, 248523.97107438),
 (64, 111300.0, 248523.97107438),
 (65, 142500.0, 248523.97107438),
 (66, 510000.0, 248523.97107438),
 (67, 489950.0, 248523.97107438),
 (68, 110000.0, 248523.97107438),
 (69, 343000.0, 248523.97107438),
 (70, 100000.0, 248523.97107438),
 (71, 250000.0, 248523.97107438),
 (72, 225000.0, 248523.97107438),
 (73, 200000.0, 248523.97107438),
 (74, 314200.0, 248523.97107438),
 (75, 209900.0, 248523.97107438),
 (76, 335000.0, 248523.97107438),
 (77, 255000.0, 248523.97107438),
 (78, 255000.0, 248523.97107438),
 (79, 175000.0, 248523.97107438),
 (80, 150000.0, 248523.97107438),
 (81, 259000.0, 248523.97107438),
 (82, 239950.0, 248523.97107438),
 (83, 238950.0, 248523.97107438),
 (84, 121800.0, 248523.97107438),
 (85, 193000.0, 248523.97107438),
 (86, 244500.0, 248523.97107438),
 (87, 301000.0, 248523.97107438),
 (88, 286000.0, 248523.97107438),
 (89, 135000.0, 248523.97107438),
 (90, 208000.0, 248523.97107438),
 (91, 280000.0, 248523.97107438),
 (92, 365000.0, 248523.97107438),
 (93, 300000.0, 248523.97107438),
 (94, 180000.0, 248523.97107438),
 (95, 175000.0, 248523.97107438),
 (96, 295000.0, 248523.97107438),
 (97, 190000.0, 248523.97107438),
 (98, 169900.0, 248523.97107438),
 (99, 141800.0, 248523.97107438),
 (100, 90000.0, 248523.97107438),
 (101, 258305.0, 248523.97107438),
 (102, 550000.0, 248523.97107438),
 (103, 175000.0, 248523.97107438),
 (104, 170000.0, 248523.97107438),
 (105, 186000.0, 248523.97107438),
 (106, 222900.0, 248523.97107438),
 (107, 225000.0, 248523.97107438),
 (108, 310000.0, 248523.97107438),
 (109, 533050.0, 248523.97107438),
 (110, 305000.0, 248523.97107438),
 (111, 306950.0, 248523.97107438),
 (112, 285000.0, 248523.97107438),
 (113, 320000.0, 248523.97107438),
 (114, 139000.0, 248523.97107438),
 (115, 225000.0, 248523.97107438),
 (116, 230000.0, 248523.97107438),
 (117, 275000.0, 248523.97107438),
 (118, 275000.0, 248523.97107438),
 (119, 396000.0, 248523.97107438),
 (120, 124500.0, 248523.97107438),
 (121, 250000.0, 248523.97107438),
 (122, 212644.0, 248523.97107438),
 (123, 109000.0, 248523.97107438),
 (124, 327000.0, 248523.97107438),
 (125, 205000.0, 248523.97107438),
 (126, 92000.0, 248523.97107438),
 (127, 310000.0, 248523.97107438),
 (128, 199500.0, 248523.97107438),
 (129, 247000.0, 248523.97107438),
 (130, 283000.0, 248523.97107438),
 (131, 298000.0, 248523.97107438),
 (132, 230000.0, 248523.97107438),
 (133, 202000.0, 248523.97107438),
 (134, 106000.0, 248523.97107438),
 (135, 189000.0, 248523.97107438),
 (136, 156000.0, 248523.97107438),
 (137, 208417.0, 248523.97107438),
 (138, 126000.0, 248523.97107438),
 (139, 232000.0, 248523.97107438),
 (140, 225000.0, 248523.97107438),
 (141, 365000.0, 248523.97107438),
 (142, 128750.0, 248523.97107438),
 (143, 185900.0, 248523.97107438),
 (144, 230000.0, 248523.97107438),
 (145, 148000.0, 248523.97107438),
 (146, 244900.0, 248523.97107438),
 (147, 238000.0, 248523.97107438),
 (148, 213800.0, 248523.97107438),
 (149, 340000.0, 248523.97107438),
 (150, 265000.0, 248523.97107438),
 (151, 425000.0, 248523.97107438),
 (152, 199950.0, 248523.97107438),
 (153, 291970.0, 248523.97107438),
 (154, 165000.0, 248523.97107438),
 (155, 305000.0, 248523.97107438),
 (156, 201000.0, 248523.97107438),
 (157, 110000.0, 248523.97107438),
 (158, 155000.0, 248523.97107438),
 (159, 230000.0, 248523.97107438),
 (160, 135000.0, 248523.97107438),
 (161, 230000.0, 248523.97107438),
 (162, 208950.0, 248523.97107438),
 (163, 105500.0, 248523.97107438),
 (164, 445000.0, 248523.97107438),
 (165, 102500.0, 248523.97107438),
 (166, 375000.0, 248523.97107438),
 (167, 253200.0, 248523.97107438),
 (168, 348000.0, 248523.97107438),
 (169, 510000.0, 248523.97107438),
 (170, 255500.0, 248523.97107438),
 (171, 715000.0, 248523.97107438),
 (172, 185000.0, 248523.97107438),
 (173, 262000.0, 248523.97107438),
 (174, 345000.0, 248523.97107438),
 (175, 159995.0, 248523.97107438),
 (176, 280000.0, 248523.97107438),
 (177, 171500.0, 248523.97107438),
 (178, 295000.0, 248523.97107438),
 (179, 160000.0, 248523.97107438),
 (180, 390000.0, 248523.97107438),
 (181, 265000.0, 248523.97107438),
 (182, 199000.0, 248523.97107438),
 (183, 110000.0, 248523.97107438),
 (184, 562500.0, 248523.97107438),
 (185, 135000.0, 248523.97107438),
 (186, 390000.0, 248523.97107438),
 (187, 192500.0, 248523.97107438),
 (188, 78000.0, 248523.97107438),
 (189, 225000.0, 248523.97107438),
 (190, 658000.0, 248523.97107438),
 (191, 276000.0, 248523.97107438),
 (192, 135000.0, 248523.97107438),
 (193, 125000.0, 248523.97107438),
 (194, 180000.0, 248523.97107438),
 (195, 275000.0, 248523.97107438),
 (196, 250000.0, 248523.97107438),
 (197, 81000.0, 248523.97107438),
 (198, 315000.0, 248523.97107438),
 (199, 202000.0, 248523.97107438),
 (200, 157500.0, 248523.97107438),
 (201, 338500.0, 248523.97107438),
 (202, 85000.0, 248523.97107438),
 (203, 345000.0, 248523.97107438),
 (204, 129000.0, 248523.97107438),
 (205, 229950.0, 248523.97107438),
 (206, 208000.0, 248523.97107438),
 (207, 209995.0, 248523.97107438),
 (208, 175000.0, 248523.97107438),
 (209, 275000.0, 248523.97107438),
 (210, 190000.0, 248523.97107438),
 (211, 398000.0, 248523.97107438),
 (212, 219500.0, 248523.97107438),
 (213, 240000.0, 248523.97107438),
 (214, 115000.0, 248523.97107438),
 (215, 375000.0, 248523.97107438),
 (216, 90000.0, 248523.97107438),
 (217, 220000.0, 248523.97107438),
 (218, 115000.0, 248523.97107438),
 (219, 124000.0, 248523.97107438),
 (220, 157000.0, 248523.97107438),
 (221, 315000.0, 248523.97107438),
 (222, 292500.0, 248523.97107438),
 (223, 775000.0, 248523.97107438),
 (224, 234000.0, 248523.97107438),
 (225, 330000.0, 248523.97107438),
 (226, 275000.0, 248523.97107438),
 (227, 217000.0, 248523.97107438),
 (228, 212000.0, 248523.97107438),
 (229, 275000.0, 248523.97107438),
 (230, 189900.0, 248523.97107438),
 (231, 285000.0, 248523.97107438),
 (232, 83000.0, 248523.97107438),
 (233, 115000.0, 248523.97107438),
 (234, 325000.0, 248523.97107438),
 (235, 325000.0, 248523.97107438),
 (236, 210000.0, 248523.97107438),
 (237, 187000.0, 248523.97107438),
 (238, 182000.0, 248523.97107438),
 (239, 190000.0, 248523.97107438),
 (240, 208500.0, 248523.97107438),
 (241, 375000.0, 248523.97107438),
 (242, 550000.0, 248523.97107438),
 (243, 249000.0, 248523.97107438),
 (244, 269950.0, 248523.97107438),
 (245, 425000.0, 248523.97107438),
 (246, 369900.0, 248523.97107438),
 (247, 517534.0, 248523.97107438),
 (248, 315000.0, 248523.97107438),
 (249, 235000.0, 248523.97107438),
 (250, 795000.0, 248523.97107438),
 (251, 130000.0, 248523.97107438),
 (252, 325000.0, 248523.97107438),
 (253, 249900.0, 248523.97107438),
 (254, 245000.0, 248523.97107438),
 (255, 199950.0, 248523.97107438),
 (256, 151000.0, 248523.97107438),
 (257, 195000.0, 248523.97107438),
 (258, 380000.0, 248523.97107438),
 (259, 290000.0, 248523.97107438),
 (260, 279200.0, 248523.97107438),
 (261, 235867.0, 248523.97107438),
 (262, 210000.0, 248523.97107438),
 (263, 420850.0, 248523.97107438),
 (264, 200000.0, 248523.97107438),
 (265, 440000.0, 248523.97107438),
 (266, 82500.0, 248523.97107438),
 (267, 157500.0, 248523.97107438),
 (268, 162000.0, 248523.97107438),
 (269, 180000.0, 248523.97107438),
 (270, 156000.0, 248523.97107438),
 (271, 89950.0, 248523.97107438)]

# Save your notebook, then `File > Close and Halt`