# Window Functions

Please remember to use the `EXPLAIN` before you execute a query to help avoid unnecessary load on the DBMS and indefinite waits by you for results.

Therefore, for each question, we are providing a cell for the `EXPLAIN` as well as the final SQL.


## Our practice schema:

We will use the DVD rental database.

A PDF of the _Entity-Relationship Diagrams_ (ERD) is available [here](https://web.dsa.missouri.edu/static/PDF/DVD_Rental_ERD2.pdf).   
Printing it out is recommended.


**NOTE**: These queries are more complex that the previous day's.
If you get stuck on one, skip and come back to it later.


**NOTE**: For this notebook, it is desired that you construct solutions using Window Functions.

In [1]:
%load_ext sql
%sql postgres://dsa_ro_user:readonly@pgsql.dsa.lan/dvdrental

'Connected: dsa_ro_user@dvdrental'

# 1

### For the following customers: list each movie they have rented, its `film.rental_duration`, and the comparison of the  `film.rental_duration` versus their average `rental` duration `(return_date  - rental_date)` as a column named `cmp`.

Customer IDs: 
  * 318
  * 110
  * 281
  * 61

In [12]:
%%sql
EXPLAIN
SELECT  r.customer_id
        ,f.title
        ,f.rental_duration
        ,f.rental_duration - avg(r.return_date::TIMESTAMP::DATE  - r.rental_date::TIMESTAMP::DATE) OVER (PARTITION BY customer_id) as cmp 
FROM    film f JOIN inventory i
        USING(film_id)
        JOIN rental r
        USING(inventory_id)
WHERE customer_id IN (61, 110, 281, 318);

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
12 rows affected.

[('WindowAgg  (cost=542.75..545.84 rows=103 width=51)',),
 ('  ->  Sort  (cost=542.75..543.01 rows=103 width=35)',),
 ('        Sort Key: f.title',),
 ('        ->  Nested Loop  (cost=392.22..539.31 rows=103 width=35)',),
 ('              ->  Hash Join  (cost=391.95..503.87 rows=103 width=20)',),
 ('                    Hash Cond: (i.inventory_id = r.inventory_id)',),
 ('                    ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=6)',),
 ('                    ->  Hash  (cost=390.66..390.66 rows=103 width=22)',),
 ('                          ->  Seq Scan on rental r  (cost=0.00..390.66 rows=103 width=22)',),
 ("                                Filter: (customer_id = ANY ('{61,110,281,318}'::integer[]))",),
 ('              ->  Index Scan using film_pkey on film f  (cost=0.28..0.34 rows=1 width=21)',),
 ('                    Index Cond: (film_id = i.film_id)',)]

In [16]:
%%sql
SELECT  r.customer_id
        ,f.title
        ,f.rental_duration
        ,f.rental_duration - avg(r.return_date::TIMESTAMP::DATE  - r.rental_date::TIMESTAMP::DATE) OVER (PARTITION BY customer_id) as cmp 
FROM    film f JOIN inventory i
        USING(film_id)
        JOIN rental r
        USING(inventory_id)
WHERE customer_id IN (61, 110, 281, 318);

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
54 rows affected.

[(61, 'Necklace Outbreak', 3, Decimal('-3.0000000000000000')),
 (61, 'Iron Moon', 7, Decimal('1.0000000000000000')),
 (61, 'Fireball Philadelphia', 4, Decimal('-2.0000000000000000')),
 (61, 'Impact Aladdin', 6, Decimal('0E-16')),
 (61, 'Autumn Crow', 3, Decimal('-3.0000000000000000')),
 (61, 'Smoochy Control', 7, Decimal('1.0000000000000000')),
 (61, 'Barefoot Manchurian', 6, Decimal('0E-16')),
 (61, 'Ridgemont Submarine', 3, Decimal('-3.0000000000000000')),
 (61, 'Voyage Legally', 6, Decimal('0E-16')),
 (61, 'Reign Gentlemen', 3, Decimal('-3.0000000000000000')),
 (61, 'Vacation Boondock', 4, Decimal('-2.0000000000000000')),
 (61, 'Anonymous Human', 7, Decimal('1.0000000000000000')),
 (61, 'Remember Diary', 5, Decimal('-1.0000000000000000')),
 (61, 'Notting Speakeasy', 7, Decimal('1.0000000000000000')),
 (110, 'Packer Madigan', 3, Decimal('-1.3571428571428571')),
 (110, 'Brotherhood Blanket', 3, Decimal('-1.3571428571428571')),
 (110, 'Comforts Rush', 3, Decimal('-1.3571428571428571')),
 (110, 'Vanishing Rocky', 3, Decimal('-1.3571428571428571')),
 (110, 'Wife Turn', 3, Decimal('-1.3571428571428571')),
 (110, 'Cowboy Doom', 3, Decimal('-1.3571428571428571')),
 (110, 'Highball Potter', 6, Decimal('1.6428571428571429')),
 (110, 'Jericho Mulan', 3, Decimal('-1.3571428571428571')),
 (110, 'Juggler Hardly', 4, Decimal('-0.3571428571428571')),
 (110, 'Moonshine Cabin', 4, Decimal('-0.3571428571428571')),
 (110, 'Paths Control', 3, Decimal('-1.3571428571428571')),
 (110, 'Prix Undefeated', 4, Decimal('-0.3571428571428571')),
 (110, 'Rocky War', 4, Decimal('-0.3571428571428571')),
 (110, 'Bound Cheaper', 5, Decimal('0.6428571428571429')),
 (281, 'Wardrobe Phantom', 6, Decimal('0.5000000000000000')),
 (281, 'Atlantis Cause', 6, Decimal('0.5000000000000000')),
 (281, 'Doom Dancing', 4, Decimal('-1.5000000000000000')),
 (281, 'Bride Intrigue', 7, Decimal('1.5000000000000000')),
 (281, 'Packer Madigan', 3, Decimal('-2.5000000000000000')),
 (281, 'Club Graffiti', 4, Decimal('-1.5000000000000000')),
 (281, 'Wisdom Worker', 3, Decimal('-2.5000000000000000')),
 (281, 'Graduate Lord', 7, Decimal('1.5000000000000000')),
 (281, 'Dynamite Tarzan', 4, Decimal('-1.5000000000000000')),
 (281, 'Tights Dawn', 5, Decimal('-0.5000000000000000')),
 (281, 'Juggler Hardly', 4, Decimal('-1.5000000000000000')),
 (281, 'Rage Games', 4, Decimal('-1.5000000000000000')),
 (281, 'Language Cowboy', 5, Decimal('-0.5000000000000000')),
 (281, 'Blanket Beverly', 7, Decimal('1.5000000000000000')),
 (318, 'Valley Packer', 3, Decimal('-1.8333333333333333')),
 (318, 'Bonnie Holocaust', 4, Decimal('-0.8333333333333333')),
 (318, 'Duffel Apocalypse', 5, Decimal('0.1666666666666667')),
 (318, 'High Encino', 3, Decimal('-1.8333333333333333')),
 (318, 'Hobbit Alien', 5, Decimal('0.1666666666666667')),
 (318, 'Montezuma Command', 6, Decimal('1.1666666666666667')),
 (318, 'Pelican Comforts', 4, Decimal('-0.8333333333333333')),
 (318, 'Side Ark', 5, Decimal('0.1666666666666667')),
 (318, 'Sleepy Japanese', 4, Decimal('-0.8333333333333333')),
 (318, 'Tenenbaums Command', 4, Decimal('-0.8333333333333333')),
 (318, 'American Circus', 3, Decimal('-1.8333333333333333')),
 (318, 'Vampire Whale', 4, Decimal('-0.8333333333333333'))]

[Helpful Hints Video](https://youtu.be/cm1_d1qWLhg)  
 

--- 

# 2

### For each store (inventory.store_id), list the top three films that have been rented based on accumulated rental durations.

Hint: Use the `rank()` function and a derived table

In [19]:
%%sql
EXPLAIN
SELECT  durations.store_id
        ,durations.film_id
        FROM (SELECT  sum(r.return_date  - r.rental_date) as duration
                        ,rank() OVER (PARTITION BY i.store_id ORDER BY sum(r.return_date  - r.rental_date) DESC)
                        ,store_id
                        ,i.film_id
                FROM    inventory i JOIN rental r
                        USING(inventory_id)
                WHERE   r.return_date IS NOT NULL
                GROUP BY i.store_id, i.film_id
        ) AS durations
WHERE RANK <= 3;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
13 rows affected.

[('Subquery Scan on durations  (cost=695.81..726.95 rows=319 width=4)',),
 ('  Filter: (durations.rank <= 3)',),
 ('  ->  WindowAgg  (cost=695.81..714.97 rows=958 width=30)',),
 ('        ->  Sort  (cost=695.81..698.21 rows=958 width=20)',),
 ('              Sort Key: i.store_id, (sum((r.return_date - r.rental_date))) DESC',),
 ('              ->  HashAggregate  (cost=638.79..648.37 rows=958 width=20)',),
 ('                    Group Key: i.store_id, i.film_id',),
 ('                    ->  Hash Join  (cost=128.07..480.18 rows=15861 width=20)',),
 ('                          Hash Cond: (r.inventory_id = i.inventory_id)',),
 ('                          ->  Seq Scan on rental r  (cost=0.00..310.44 rows=15861 width=20)',),
 ('                                Filter: (return_date IS NOT NULL)',),
 ('                          ->  Hash  (cost=70.81..70.81 rows=4581 width=8)',),
 ('                                ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=8)',)]

In [20]:
%%sql
SELECT  durations.store_id
        ,durations.film_id
        FROM (SELECT  sum(r.return_date  - r.rental_date) as duration
                        ,rank() OVER (PARTITION BY i.store_id ORDER BY sum(r.return_date  - r.rental_date) DESC)
                        ,store_id
                        ,i.film_id
                FROM    inventory i JOIN rental r
                        USING(inventory_id)
                WHERE   r.return_date IS NOT NULL
                GROUP BY i.store_id, i.film_id
        ) AS durations
WHERE RANK <= 3;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
6 rows affected.

[(1, 971), (1, 109), (1, 852), (2, 552), (2, 891), (2, 491)]

[Helpful Hints Video](https://youtu.be/COQem8x3kR4)  
 

--- 

# 3

### For each category, list the three longest movies

In [44]:
%%sql
EXPLAIN
SELECT  lengths.category_id
        ,lengths.film_id
        ,lengths.length
        FROM (SELECT  rank() OVER (PARTITION BY c.category_id ORDER BY f.length DESC)
                        ,c.category_id
                        ,f.film_id
                        ,f.length
                FROM    film f JOIN film_category c
                        USING(film_id)
                GROUP BY c.category_id, f.film_id
        ) AS lengths
WHERE RANK <= 3
ORDER BY category_id, length;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
14 rows affected.

[('Sort  (cost=206.42..207.25 rows=333 width=8)',),
 ('  Sort Key: lengths.category_id, lengths.length',),
 ('  ->  Subquery Scan on lengths  (cost=159.97..192.47 rows=333 width=8)',),
 ('        Filter: (lengths.rank <= 3)',),
 ('        ->  WindowAgg  (cost=159.97..179.97 rows=1000 width=16)',),
 ('              ->  Sort  (cost=159.97..162.47 rows=1000 width=8)',),
 ('                    Sort Key: c.category_id, f.length DESC',),
 ('                    ->  HashAggregate  (cost=100.14..110.14 rows=1000 width=8)',),
 ('                          Group Key: c.category_id, f.film_id',),
 ('                          ->  Hash Join  (cost=76.50..95.14 rows=1000 width=8)',),
 ('                                Hash Cond: (c.film_id = f.film_id)',),
 ('                                ->  Seq Scan on film_category c  (cost=0.00..16.00 rows=1000 width=4)',),
 ('                                ->  Hash  (cost=64.00..64.00 rows=1000 width=6)',),
 ('                                      ->  Seq Scan on film f  (cost=0.00..64.00 rows=1000 width=6)',)]

In [43]:
%%sql
SELECT  lengths.category_id
        ,lengths.film_id
        ,lengths.length
        FROM (SELECT  rank() OVER (PARTITION BY c.category_id ORDER BY f.length DESC)
                        ,c.category_id
                        ,f.film_id
                        ,f.length
                FROM    film f JOIN film_category c
                        USING(film_id)
                GROUP BY c.category_id, f.film_id
        ) AS lengths
WHERE RANK <= 3
ORDER BY category_id, length;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
3 rows affected.

[(1, 126, 179), (1, 991, 185), (1, 212, 185)]

# 4

### For each customer, list their two shortest movie rentals.

In [61]:
%%sql
EXPLAIN
SELECT  shorts.customer_id
        ,shorts.film_id
        ,shorts.rental_duration
        FROM (SELECT  rank() OVER (PARTITION BY c.customer_id ORDER BY -sum(r.return_date  - r.rental_date) DESC)
                        ,sum(r.return_date  - r.rental_date) as rental_duration
                        ,c.customer_id
                        ,i.film_id
                FROM    rental r JOIN customer c
                        USING(customer_id)
                        JOIN inventory i
                        USING(inventory_id)
                GROUP BY i.film_id, c.customer_id
                ORDER BY c.customer_id, rental_duration
        ) AS shorts
WHERE RANK <= 2
ORDER BY customer_id, shorts.rental_duration;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
18 rows affected.

[('Subquery Scan on shorts  (cost=3589.07..3829.73 rows=5348 width=22)',),
 ('  Filter: (shorts.rank <= 2)',),
 ('  ->  Sort  (cost=3589.07..3629.18 rows=16044 width=46)',),
 ('        Sort Key: c.customer_id, (sum((r.return_date - r.rental_date)))',),
 ('        ->  WindowAgg  (cost=2107.43..2468.42 rows=16044 width=46)',),
 ('              ->  Sort  (cost=2107.43..2147.54 rows=16044 width=38)',),
 ('                    Sort Key: c.customer_id, ((- sum((r.return_date - r.rental_date)))) DESC',),
 ('                    ->  HashAggregate  (cost=786.23..986.78 rows=16044 width=38)',),
 ('                          Group Key: i.film_id, c.customer_id',),
 ('                          ->  Hash Join  (cost=150.55..545.57 rows=16044 width=22)',),
 ('                                Hash Cond: (r.inventory_id = i.inventory_id)',),
 ('                                ->  Hash Join  (cost=22.48..375.33 rows=16044 width=24)',),
 ('                                      Hash Cond: (r.customer_id = c.customer_id)',),
 ('                                      ->  Seq Scan on rental r  (cost=0.00..310.44 rows=16044 width=22)',),
 ('                                      ->  Hash  (cost=14.99..14.99 rows=599 width=4)',),
 ('                                            ->  Seq Scan on customer c  (cost=0.00..14.99 rows=599 width=4)',),
 ('                                ->  Hash  (cost=70.81..70.81 rows=4581 width=6)',),
 ('                                      ->  Seq Scan on inventory i  (cost=0.00..70.81 rows=4581 width=6)',)]

In [62]:
%%sql
SELECT  shorts.customer_id
        ,shorts.film_id
        ,shorts.rental_duration
        FROM (SELECT  rank() OVER (PARTITION BY c.customer_id ORDER BY -sum(r.return_date  - r.rental_date) DESC)
                        ,sum(r.return_date  - r.rental_date) as rental_duration
                        ,c.customer_id
                        ,i.film_id
                FROM    rental r JOIN customer c
                        USING(customer_id)
                        JOIN inventory i
                        USING(inventory_id)
                GROUP BY i.film_id, c.customer_id
                ORDER BY c.customer_id, rental_duration
        ) AS shorts
WHERE RANK <= 2
ORDER BY customer_id, shorts.rental_duration;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1199 rows affected.

[(1, 924, datetime.timedelta(days=1, seconds=7020)),
 (1, 341, datetime.timedelta(days=1, seconds=9840)),
 (2, 748, datetime.timedelta(seconds=69180)),
 (2, 243, datetime.timedelta(days=1, seconds=15660)),
 (3, 86, datetime.timedelta(seconds=70380)),
 (3, 367, datetime.timedelta(days=1, seconds=18120)),
 (4, 431, datetime.timedelta(seconds=85080)),
 (4, 63, datetime.timedelta(days=1, seconds=11040)),
 (5, 408, datetime.timedelta(seconds=72600)),
 (5, 345, None),
 (6, 833, datetime.timedelta(days=1, seconds=20280)),
 (6, 689, datetime.timedelta(days=1, seconds=68940)),
 (7, 330, datetime.timedelta(days=1, seconds=72840)),
 (7, 103, datetime.timedelta(days=2, seconds=11700)),
 (8, 521, datetime.timedelta(days=1, seconds=4860)),
 (8, 882, datetime.timedelta(days=1, seconds=15480)),
 (9, 166, datetime.timedelta(days=1, seconds=73320)),
 (9, 219, None),
 (10, 344, datetime.timedelta(days=1, seconds=8400)),
 (10, 650, datetime.timedelta(days=1, seconds=18660)),
 (11, 438, datetime.timedelta(seconds=76920)),
 (11, 105, None),
 (12, 949, datetime.timedelta(seconds=65280)),
 (12, 630, datetime.timedelta(seconds=84300)),
 (13, 847, datetime.timedelta(days=1, seconds=11520)),
 (13, 92, datetime.timedelta(days=1, seconds=67440)),
 (14, 433, datetime.timedelta(seconds=76500)),
 (14, 385, None),
 (15, 875, datetime.timedelta(seconds=79680)),
 (15, 812, None),
 (16, 668, datetime.timedelta(seconds=84600)),
 (16, 468, datetime.timedelta(days=1, seconds=1260)),
 (17, 559, datetime.timedelta(seconds=75240)),
 (17, 873, datetime.timedelta(seconds=75720)),
 (18, 173, datetime.timedelta(seconds=68640)),
 (18, 973, datetime.timedelta(seconds=75360)),
 (19, 856, datetime.timedelta(seconds=69360)),
 (19, 288, datetime.timedelta(days=1, seconds=6120)),
 (20, 595, datetime.timedelta(seconds=67200)),
 (20, 735, datetime.timedelta(days=1, seconds=5520)),
 (21, 369, datetime.timedelta(days=1, seconds=5940)),
 (21, 264, None),
 (22, 876, datetime.timedelta(seconds=78600)),
 (22, 861, None),
 (23, 496, datetime.timedelta(seconds=80460)),
 (23, 236, None),
 (24, 518, datetime.timedelta(seconds=74820)),
 (24, 58, datetime.timedelta(days=1, seconds=12120)),
 (25, 830, datetime.timedelta(seconds=75900)),
 (25, 3, datetime.timedelta(days=1, seconds=75780)),
 (26, 266, datetime.timedelta(seconds=70560)),
 (26, 408, datetime.timedelta(days=1, seconds=2880)),
 (27, 984, datetime.timedelta(seconds=74880)),
 (27, 444, datetime.timedelta(days=1, seconds=17340)),
 (28, 447, datetime.timedelta(seconds=65700)),
 (28, 869, None),
 (29, 944, datetime.timedelta(seconds=65520)),
 (29, 118, None),
 (30, 403, datetime.timedelta(seconds=86280)),
 (30, 65, datetime.timedelta(days=1, seconds=900)),
 (31, 650, datetime.timedelta(seconds=79860)),
 (31, 40, datetime.timedelta(seconds=80160)),
 (32, 350, datetime.timedelta(seconds=74580)),
 (32, 510, datetime.timedelta(seconds=75780)),
 (33, 330, datetime.timedelta(seconds=70380)),
 (33, 90, None),
 (34, 815, datetime.timedelta(seconds=66180)),
 (34, 579, datetime.timedelta(seconds=81600)),
 (35, 324, datetime.timedelta(seconds=66120)),
 (35, 603, datetime.timedelta(seconds=70080)),
 (36, 982, datetime.timedelta(seconds=66420)),
 (36, 641, datetime.timedelta(days=1, seconds=6000)),
 (37, 150, datetime.timedelta(seconds=79740)),
 (37, 39, datetime.timedelta(days=1, seconds=12780)),
 (38, 864, datetime.timedelta(seconds=65880)),
 (38, 610, datetime.timedelta(seconds=80160)),
 (39, 556, datetime.timedelta(seconds=75120)),
 (39, 891, datetime.timedelta(days=1, seconds=13500)),
 (40, 427, datetime.timedelta(seconds=85440)),
 (40, 588, datetime.timedelta(days=2, seconds=8640)),
 (41, 583, datetime.timedelta(days=1, seconds=9660)),
 (41, 789, None),
 (42, 733, None),
 (42, 897, None),
 (43, 600, None),
 (43, 689, None),
 (44, 986, datetime.timedelta(seconds=73380)),
 (44, 21, None),
 (45, 387, datetime.timedelta(seconds=77460)),
 (45, 115, datetime.timedelta(days=1, seconds=6060)),
 (46, 418, datetime.timedelta(seconds=73140)),
 (46, 594, datetime.timedelta(seconds=74940)),
 (47, 887, datetime.timedelta(days=1, seconds=14160)),
 (47, 728, datetime.timedelta(days=2, seconds=7260)),
 (48, 349, datetime.timedelta(seconds=83040)),
 (48, 476, datetime.timedelta(days=2, seconds=16620)),
 (49, 437, datetime.timedelta(days=1, seconds=8160)),
 (49, 730, datetime.timedelta(days=1, seconds=11880)),
 (50, 510, datetime.timedelta(seconds=68220)),
 (50, 683, datetime.timedelta(seconds=81600)),
 (51, 979, datetime.timedelta(days=1, seconds=180)),
 (51, 714, datetime.timedelta(days=1, seconds=78000)),
 (52, 184, datetime.timedelta(seconds=66900)),
 (52, 902, None),
 (53, 667, None),
 (53, 510, None),
 (54, 774, datetime.timedelta(seconds=73020)),
 (54, 224, datetime.timedelta(seconds=85080)),
 (55, 505, datetime.timedelta(seconds=66840)),
 (55, 823, datetime.timedelta(seconds=74520)),
 (56, 657, datetime.timedelta(seconds=79260)),
 (56, 451, None),
 (57, 555, datetime.timedelta(seconds=69840)),
 (57, 377, datetime.timedelta(seconds=79980)),
 (58, 973, datetime.timedelta(seconds=70740)),
 (58, 730, None),
 (59, 251, datetime.timedelta(days=1, seconds=1200)),
 (59, 305, datetime.timedelta(days=1, seconds=10260)),
 (60, 86, None),
 (60, 133, None),
 (61, 469, datetime.timedelta(seconds=65940)),
 (61, 317, datetime.timedelta(days=1, seconds=69240)),
 (62, 186, datetime.timedelta(seconds=69060)),
 (62, 842, datetime.timedelta(days=1, seconds=6840)),
 (63, 72, datetime.timedelta(seconds=74580)),
 (63, 47, datetime.timedelta(days=2, seconds=20280)),
 (64, 374, datetime.timedelta(days=1, seconds=17460)),
 (64, 243, None),
 (65, 418, datetime.timedelta(seconds=72600)),
 (65, 878, datetime.timedelta(seconds=78600)),
 (66, 989, datetime.timedelta(days=1, seconds=14760)),
 (66, 31, datetime.timedelta(days=1, seconds=68760)),
 (67, 65, datetime.timedelta(seconds=65760)),
 (67, 680, datetime.timedelta(seconds=81480)),
 (68, 706, datetime.timedelta(seconds=69420)),
 (68, 759, datetime.timedelta(seconds=82980)),
 (69, 292, datetime.timedelta(days=1, seconds=1860)),
 (69, 862, None),
 (70, 567, datetime.timedelta(seconds=75240)),
 (70, 295, datetime.timedelta(days=1, seconds=13980)),
 (71, 203, datetime.timedelta(seconds=70680)),
 (71, 767, datetime.timedelta(seconds=82740)),
 (72, 415, datetime.timedelta(seconds=79500)),
 (72, 8, datetime.timedelta(days=1, seconds=2580)),
 (73, 436, datetime.timedelta(seconds=72300)),
 (73, 792, None),
 (74, 776, datetime.timedelta(seconds=68220)),
 (74, 288, datetime.timedelta(days=1, seconds=75000)),
 (75, 914, None),
 (75, 806, None),
 (75, 542, None),
 (76, 282, datetime.timedelta(seconds=70320)),
 (76, 242, datetime.timedelta(seconds=80460)),
 (77, 951, datetime.timedelta(days=1, seconds=3840)),
 (77, 200, datetime.timedelta(days=1, seconds=4380)),
 (78, 720, datetime.timedelta(seconds=76140)),
 (78, 494, datetime.timedelta(days=1, seconds=75900)),
 (79, 559, datetime.timedelta(seconds=80880)),
 (79, 374, datetime.timedelta(days=1, seconds=5580)),
 (80, 494, datetime.timedelta(days=1, seconds=7020)),
 (80, 464, None),
 (81, 570, datetime.timedelta(seconds=71280)),
 (81, 313, datetime.timedelta(days=1, seconds=2100)),
 (82, 530, datetime.timedelta(days=1, seconds=81360)),
 (82, 412, datetime.timedelta(days=2, seconds=1020)),
 (83, 347, datetime.timedelta(seconds=71820)),
 (83, 338, None),
 (84, 341, datetime.timedelta(seconds=69660)),
 (84, 745, datetime.timedelta(seconds=77640)),
 (85, 265, datetime.timedelta(seconds=66360)),
 (85, 397, datetime.timedelta(seconds=68220)),
 (86, 564, datetime.timedelta(seconds=70680)),
 (86, 98, datetime.timedelta(seconds=75720)),
 (87, 542, datetime.timedelta(seconds=69060)),
 (87, 243, None),
 (88, 502, datetime.timedelta(seconds=74640)),
 (88, 895, datetime.timedelta(days=1, seconds=73860)),
 (89, 19, datetime.timedelta(days=1, seconds=15420)),
 (89, 939, datetime.timedelta(days=1, seconds=66480)),
 (90, 514, datetime.timedelta(seconds=66480)),
 (90, 406, datetime.timedelta(seconds=72660)),
 (91, 735, datetime.timedelta(days=1, seconds=12300)),
 (91, 102, None),
 (92, 862, datetime.timedelta(days=1, seconds=68340)),
 (92, 35, datetime.timedelta(days=1, seconds=69300)),
 (93, 7, datetime.timedelta(seconds=72960)),
 (93, 536, datetime.timedelta(seconds=85980)),
 (94, 700, datetime.timedelta(seconds=66420)),
 (94, 804, None),
 (95, 460, datetime.timedelta(days=1, seconds=78300)),
 (95, 663, datetime.timedelta(days=2, seconds=600)),
 (96, 753, datetime.timedelta(seconds=76920)),
 (96, 944, datetime.timedelta(days=1, seconds=20280)),
 (97, 326, datetime.timedelta(seconds=68760)),
 (97, 529, datetime.timedelta(days=1, seconds=4620)),
 (98, 772, datetime.timedelta(seconds=84180)),
 (98, 637, datetime.timedelta(days=1, seconds=6840)),
 (99, 821, datetime.timedelta(seconds=74460)),
 (99, 178, None),
 (100, 725, datetime.timedelta(seconds=65760)),
 (100, 91, None),
 (101, 118, datetime.timedelta(seconds=79200)),
 (101, 160, None),
 (102, 317, datetime.timedelta(days=1, seconds=66480)),
 (102, 377, datetime.timedelta(days=1, seconds=77040)),
 (103, 290, datetime.timedelta(seconds=79620)),
 (103, 736, datetime.timedelta(seconds=85260)),
 (104, 709, datetime.timedelta(seconds=64920)),
 (104, 767, datetime.timedelta(seconds=70440)),
 (105, 522, datetime.timedelta(seconds=82800)),
 (105, 541, datetime.timedelta(days=1, seconds=13800)),
 (106, 737, datetime.timedelta(seconds=78180)),
 (106, 101, datetime.timedelta(days=1, seconds=1500)),
 (107, 79, None),
 (107, 160, None),
 (108, 61, datetime.timedelta(seconds=65280)),
 (108, 13, None),
 (109, 43, datetime.timedelta(seconds=85620)),
 (109, 911, datetime.timedelta(seconds=86220)),
 (110, 700, datetime.timedelta(days=1, seconds=2040)),
 (110, 483, datetime.timedelta(days=1, seconds=14640)),
 (111, 511, datetime.timedelta(seconds=66960)),
 (111, 292, datetime.timedelta(seconds=70140)),
 (112, 815, datetime.timedelta(seconds=83580)),
 (112, 346, datetime.timedelta(days=1, seconds=64860)),
 (113, 728, datetime.timedelta(seconds=76320)),
 (113, 15, datetime.timedelta(days=1, seconds=10500)),
 (114, 735, datetime.timedelta(seconds=66240)),
 (114, 251, None),
 (115, 398, datetime.timedelta(seconds=77280)),
 (115, 820, None),
 (116, 572, datetime.timedelta(seconds=66360)),
 (116, 329, datetime.timedelta(seconds=79260)),
 (117, 875, datetime.timedelta(seconds=77580)),
 (117, 68, datetime.timedelta(seconds=79080)),
 (118, 912, datetime.timedelta(days=1, seconds=17760)),
 (118, 657, datetime.timedelta(days=1, seconds=68700)),
 (119, 321, datetime.timedelta(seconds=76680)),
 (119, 414, datetime.timedelta(seconds=78360)),
 (120, 172, datetime.timedelta(days=1, seconds=73020)),
 (120, 639, None),
 (121, 869, datetime.timedelta(seconds=73980)),
 (121, 277, datetime.timedelta(days=1, seconds=5880)),
 (122, 685, datetime.timedelta(seconds=70140)),
 (122, 667, datetime.timedelta(seconds=76920)),
 (123, 27, datetime.timedelta(seconds=69120)),
 (123, 933, datetime.timedelta(seconds=69300)),
 (124, 266, datetime.timedelta(seconds=66600)),
 (124, 408, datetime.timedelta(seconds=82620)),
 (125, 838, datetime.timedelta(days=1, seconds=68760)),
 (125, 506, datetime.timedelta(days=1, seconds=70560)),
 (126, 797, datetime.timedelta(seconds=69960)),
 (126, 130, datetime.timedelta(seconds=74640)),
 (127, 549, datetime.timedelta(seconds=65040)),
 (127, 478, datetime.timedelta(days=1, seconds=4440)),
 (128, 723, datetime.timedelta(seconds=80520)),
 (128, 582, datetime.timedelta(days=1, seconds=5340)),
 (129, 491, datetime.timedelta(seconds=79080)),
 (129, 352, datetime.timedelta(days=1, seconds=5040)),
 (130, 706, datetime.timedelta(seconds=65940)),
 (130, 611, datetime.timedelta(seconds=68100)),
 (131, 604, datetime.timedelta(seconds=65880)),
 (131, 137, datetime.timedelta(seconds=70440)),
 (132, 127, datetime.timedelta(seconds=75180)),
 (132, 696, datetime.timedelta(days=1, seconds=780)),
 (133, 206, datetime.timedelta(days=1, seconds=7080)),
 (133, 683, datetime.timedelta(days=1, seconds=13140)),
 (134, 800, datetime.timedelta(seconds=75960)),
 (134, 34, datetime.timedelta(seconds=81600)),
 (135, 311, datetime.timedelta(seconds=71100)),
 (135, 625, None),
 (136, 717, datetime.timedelta(days=1, seconds=20040)),
 (136, 678, datetime.timedelta(days=1, seconds=76320)),
 (137, 649, datetime.timedelta(seconds=78300)),
 (137, 421, datetime.timedelta(seconds=86160)),
 (138, 964, datetime.timedelta(seconds=72300)),
 (138, 432, datetime.timedelta(seconds=74160)),
 (139, 236, datetime.timedelta(days=1, seconds=15600)),
 (139, 531, datetime.timedelta(days=2, seconds=780)),
 (140, 81, datetime.timedelta(seconds=66720)),
 (140, 806, datetime.timedelta(days=1, seconds=65340)),
 (141, 882, datetime.timedelta(seconds=80100)),
 (141, 343, datetime.timedelta(days=1, seconds=3300)),
 (142, 176, datetime.timedelta(days=1, seconds=7320)),
 (142, 647, None),
 (143, 514, datetime.timedelta(seconds=68700)),
 (143, 730, datetime.timedelta(days=1, seconds=3660)),
 (144, 233, datetime.timedelta(seconds=64800)),
 (144, 578, datetime.timedelta(seconds=79800)),
 (145, 872, datetime.timedelta(seconds=84600)),
 (145, 675, datetime.timedelta(days=1, seconds=780)),
 (146, 20, datetime.timedelta(days=1, seconds=7620)),
 (146, 368, datetime.timedelta(days=1, seconds=16860)),
 (147, 25, datetime.timedelta(seconds=84000)),
 (147, 114, datetime.timedelta(seconds=84120)),
 (148, 694, datetime.timedelta(seconds=69660)),
 (148, 724, datetime.timedelta(seconds=78180)),
 (149, 999, datetime.timedelta(seconds=75420)),
 (149, 580, datetime.timedelta(days=1, seconds=6180)),
 (150, 839, datetime.timedelta(seconds=69960)),
 (150, 239, datetime.timedelta(seconds=74520)),
 (151, 4, datetime.timedelta(seconds=73980)),
 (151, 911, datetime.timedelta(seconds=76260)),
 (152, 21, datetime.timedelta(seconds=81420)),
 (152, 805, None),
 (153, 295, datetime.timedelta(seconds=67020)),
 (153, 650, datetime.timedelta(days=1, seconds=20700)),
 (154, 717, datetime.timedelta(seconds=73380)),
 (154, 542, datetime.timedelta(days=1, seconds=18600)),
 (155, 445, None),
 (155, 139, None),
 (156, 739, datetime.timedelta(days=1, seconds=4020)),
 (156, 657, datetime.timedelta(days=1, seconds=8100)),
 (157, 724, datetime.timedelta(seconds=72780)),
 (157, 609, datetime.timedelta(days=1, seconds=540)),
 (158, 668, datetime.timedelta(seconds=72720)),
 (158, 239, datetime.timedelta(seconds=84780)),
 (159, 554, datetime.timedelta(seconds=78120)),
 (159, 813, datetime.timedelta(days=1, seconds=18720)),
 (160, 56, datetime.timedelta(seconds=82620)),
 (160, 466, datetime.timedelta(days=1, seconds=11460)),
 (161, 590, datetime.timedelta(seconds=85620)),
 (161, 467, datetime.timedelta(days=1, seconds=13260)),
 (162, 870, datetime.timedelta(seconds=81420)),
 (162, 574, None),
 (163, 420, None),
 (163, 820, None),
 (164, 52, datetime.timedelta(seconds=83220)),
 (164, 474, datetime.timedelta(days=1, seconds=960)),
 (165, 190, datetime.timedelta(seconds=70020)),
 (165, 77, datetime.timedelta(seconds=76920)),
 (166, 932, datetime.timedelta(days=1, seconds=4140)),
 (166, 683, datetime.timedelta(days=1, seconds=6660)),
 (167, 278, datetime.timedelta(seconds=65100)),
 (167, 863, datetime.timedelta(seconds=67080)),
 (168, 737, datetime.timedelta(days=1, seconds=77280)),
 (168, 966, None),
 (169, 119, datetime.timedelta(seconds=86340)),
 (169, 458, datetime.timedelta(days=1, seconds=74880)),
 (170, 677, datetime.timedelta(seconds=70200)),
 (170, 731, datetime.timedelta(days=1, seconds=71940)),
 (171, 191, datetime.timedelta(days=1, seconds=9960)),
 (171, 319, datetime.timedelta(days=1, seconds=67440)),
 (172, 412, datetime.timedelta(seconds=69660)),
 (172, 649, datetime.timedelta(seconds=73620)),
 (173, 460, datetime.timedelta(seconds=83700)),
 (173, 366, datetime.timedelta(days=1, seconds=10200)),
 (174, 54, datetime.timedelta(seconds=71460)),
 (174, 239, datetime.timedelta(days=1, seconds=7620)),
 (175, 220, None),
 (175, 681, None),
 (176, 782, datetime.timedelta(seconds=64980)),
 (176, 433, datetime.timedelta(seconds=69360)),
 (177, 951, datetime.timedelta(seconds=74820)),
 (177, 19, datetime.timedelta(days=1, seconds=4680)),
 (178, 827, datetime.timedelta(seconds=71100)),
 (178, 330, None),
 (179, 534, datetime.timedelta(seconds=69180)),
 (179, 309, datetime.timedelta(seconds=75720)),
 (180, 233, datetime.timedelta(seconds=83820)),
 (180, 614, None),
 (181, 858, datetime.timedelta(days=1, seconds=76920)),
 (181, 399, None),
 (182, 463, datetime.timedelta(seconds=65700)),
 (182, 646, datetime.timedelta(days=1, seconds=13860)),
 (183, 69, datetime.timedelta(days=1, seconds=3060)),
 (183, 26, datetime.timedelta(days=1, seconds=5340)),
 (184, 299, datetime.timedelta(seconds=85080)),
 (184, 917, datetime.timedelta(days=1, seconds=2460)),
 (185, 78, datetime.timedelta(seconds=69900)),
 (185, 944, datetime.timedelta(seconds=78180)),
 (186, 473, datetime.timedelta(seconds=68700)),
 (186, 823, None),
 (187, 822, datetime.timedelta(seconds=70440)),
 (187, 480, datetime.timedelta(days=2, seconds=64860)),
 (188, 662, datetime.timedelta(seconds=72420)),
 (188, 464, None),
 (189, 960, datetime.timedelta(days=1, seconds=15180)),
 (189, 505, datetime.timedelta(days=1, seconds=70620)),
 (190, 83, datetime.timedelta(seconds=76320)),
 (190, 216, None),
 (191, 199, datetime.timedelta(seconds=74400)),
 (191, 273, None),
 (192, 122, datetime.timedelta(seconds=85440)),
 (192, 405, None),
 (193, 463, datetime.timedelta(seconds=72000)),
 (193, 592, None),
 (194, 748, datetime.timedelta(seconds=64920)),
 (194, 632, datetime.timedelta(days=1, seconds=15000)),
 (195, 465, datetime.timedelta(seconds=65100)),
 (195, 379, datetime.timedelta(seconds=82260)),
 (196, 93, datetime.timedelta(seconds=70140)),
 (196, 218, datetime.timedelta(seconds=72300)),
 (197, 178, datetime.timedelta(seconds=73380)),
 (197, 827, datetime.timedelta(seconds=76680)),
 (198, 1000, datetime.timedelta(seconds=75600)),
 (198, 158, datetime.timedelta(seconds=77700)),
 (199, 686, datetime.timedelta(seconds=65100)),
 (199, 50, None),
 (200, 791, datetime.timedelta(days=1, seconds=7920)),
 (200, 605, None),
 (201, 426, datetime.timedelta(seconds=81120)),
 (201, 138, datetime.timedelta(days=1, seconds=11520)),
 (202, 7, datetime.timedelta(seconds=72840)),
 (202, 356, datetime.timedelta(seconds=79860)),
 (203, 434, datetime.timedelta(days=1, seconds=80040)),
 (203, 625, datetime.timedelta(days=1, seconds=85200)),
 (204, 226, datetime.timedelta(seconds=65220)),
 (204, 524, datetime.timedelta(seconds=70980)),
 (205, 257, datetime.timedelta(days=1, seconds=67080)),
 (205, 685, datetime.timedelta(days=1, seconds=74640)),
 (206, 283, datetime.timedelta(seconds=65820)),
 (206, 506, datetime.timedelta(seconds=74820)),
 (207, 116, datetime.timedelta(days=1, seconds=960)),
 (207, 687, datetime.timedelta(days=2, seconds=7500)),
 (208, 200, None),
 (208, 775, None),
 (209, 883, datetime.timedelta(seconds=74220)),
 (209, 856, datetime.timedelta(days=1, seconds=16500)),
 (210, 663, datetime.timedelta(seconds=78420)),
 (210, 737, datetime.timedelta(days=1, seconds=8160)),
 (211, 112, datetime.timedelta(seconds=65940)),
 (211, 227, None),
 (212, 309, datetime.timedelta(days=1, seconds=6780)),
 (212, 373, datetime.timedelta(days=2, seconds=20520)),
 (213, 817, datetime.timedelta(seconds=67920)),
 (213, 53, None),
 (214, 9, datetime.timedelta(days=1, seconds=8280)),
 (214, 841, None),
 (215, 450, datetime.timedelta(days=1, seconds=2460)),
 (215, 205, None),
 (216, 982, None),
 (216, 871, None),
 (217, 540, datetime.timedelta(seconds=68880)),
 (217, 451, datetime.timedelta(days=1, seconds=14880)),
 (218, 234, datetime.timedelta(seconds=84360)),
 (218, 452, datetime.timedelta(days=1, seconds=66540)),
 (219, 456, datetime.timedelta(seconds=66360)),
 (219, 893, None),
 (220, 980, datetime.timedelta(seconds=73860)),
 (220, 421, datetime.timedelta(days=1, seconds=6480)),
 (221, 418, datetime.timedelta(seconds=73200)),
 (221, 149, datetime.timedelta(seconds=81120)),
 (222, 494, datetime.timedelta(seconds=70920)),

# 5

### List the quartile statististics of the movie lengths, grouped by release year.

In [75]:
%%sql
EXPLAIN
SELECT  release_year
        ,percentile_cont(0.25) WITHIN GROUP (ORDER BY length) as first_quartile
        ,percentile_cont(0.5) WITHIN GROUP (ORDER BY length) as second_quartile
        ,percentile_cont(0.75) WITHIN GROUP (ORDER BY length) as third_quartile
FROM    film
GROUP BY release_year;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
5 rows affected.

[('GroupAggregate  (cost=113.83..133.85 rows=1 width=28)',),
 ('  Group Key: release_year',),
 ('  ->  Sort  (cost=113.83..116.33 rows=1000 width=6)',),
 ('        Sort Key: release_year',),
 ('        ->  Seq Scan on film  (cost=0.00..64.00 rows=1000 width=6)',)]

In [80]:
%%sql
SELECT  release_year
        ,percentile_cont(0.25) WITHIN GROUP (ORDER BY length) as first_quartile
        ,percentile_cont(0.5) WITHIN GROUP (ORDER BY length) as second_quartile
        ,percentile_cont(0.75) WITHIN GROUP (ORDER BY length) as third_quartile
FROM    film
GROUP BY release_year;

 * postgres://dsa_ro_user:***@pgsql.dsa.lan/dvdrental
1 rows affected.

[(2006, 80.0, 114.0, 149.25)]

# Save your notebook, then `File > Close and Halt`